Repository ApexAZ/zentropy_scout: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-mypy, frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
#
# Install hooks: pre-commit install --hook-type pre-commit --hook-type pre-push
# Run manually: pre-commit run --all-files
# Skip (emergency): git commit --no-verify -m "message"
#
# Hook stages:
# - commit: Fast checks (linting, formatting) - runs on every commit
# - push: Full test suite - runs before pushing to remote

repos:
  # Ruff - fast Python linter and formatter (runs on COMMIT)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-check
        args: [--fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Standard pre-commit hooks (runs on COMMIT)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: detect-private-key

  # Bandit - Python security linter (runs on COMMIT)
  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.3
    hooks:
      - id: bandit
        args: ["-c", "backend/pyproject.toml", "-r"]
        files: ^backend/app/
        exclude: ^backend/tests/

  # Gitleaks - Secret detection (runs on COMMIT)
  # Uses locally installed gitleaks binary to avoid building from Go source
  - repo: local
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets
        entry: gitleaks git --pre-commit --redact --staged
        language: system
        pass_filenames: false

  # Mypy - Python type checking (runs on COMMIT)
  - repo: local
    hooks:
      - id: backend-mypy
        name: mypy (backend)
        entry: bash -c 'cd backend && .venv/bin/python -m mypy app/ --ignore-missing-imports --warn-unused-ignores'
        language: system
        pass_filenames: false
        files: ^backend/app/

  # Frontend ESLint - TypeScript/React linter (runs on COMMIT)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: ESLint (frontend)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        pass_filenames: false
        files: ^frontend/

  # Frontend Prettier - format check (runs on COMMIT)
  - repo: local
    hooks:
      - id: frontend-prettier
        name: Prettier (frontend)
        entry: bash -c 'cd frontend && npm run format:check'
        language: system
        pass_filenames: false
        files: ^frontend/

  # Frontend TypeScript - type check (runs on COMMIT)
  - repo: local
    hooks:
      - id: frontend-typecheck
        name: TypeScript (frontend)
        entry: bash -c 'cd frontend && npm run typecheck'
        language: system
        pass_filenames: false
        files: ^frontend/

  # Pytest - full backend test suite (runs on PUSH only)
  # always_run: backend is core logic, run tests on every push regardless of changed files
  - repo: local
    hooks:
      - id: pytest
        name: pytest (full suite)
        entry: bash -c 'cd backend && .venv/bin/python -m pytest tests/ -v --tb=short'
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

  # Frontend Vitest - full frontend test suite (runs on PUSH only)
  - repo: local
    hooks:
      - id: frontend-vitest
        name: Vitest (frontend)
        entry: bash -c 'cd frontend && npm run test:run'
        language: system
        pass_filenames: false
        files: ^frontend/
        stages: [pre-push]

# Summary:
# ON COMMIT: ruff lint/format, bandit security scan, gitleaks secret detection,
#            mypy type check, ESLint, Prettier format check, TypeScript type check (fast)
# ON PUSH: Full pytest + Vitest suites (comprehensive - all tests must pass)

docs(docstring): add coordination headers to 10 repositories/ + api/deps
  backend/app/api/deps.py
  backend/app/repositories/account_repository.py
  backend/app/repositories/credit_repository.py
  backend/app/repositories/job_pool_repository.py
  backend/app/repositories/job_posting_repository.py
  backend/app/repositories/persona_job_repository.py
  backend/app/repositories/resume_template_repository.py
  backend/app/repositories/stripe_repository.py
  backend/app/repositories/usage_repository.py
  backend/app/repositories/user_repository.py
  backend/app/repositories/verification_token_repository.py
Due: backend-mypy

docs(docstring): add coordination headers to 12 api/v1/ files (first half)
  backend/app/api/v1/admin.py
  backend/app/api/v1/applications.py
  backend/app/api/v1/auth.py
  backend/app/api/v1/auth_magic_link.py
  backend/app/api/v1/auth_oauth.py
  backend/app/api/v1/base_resumes.py
  backend/app/api/v1/chat.py
  backend/app/api/v1/cover_letters.py
  backend/app/api/v1/credits.py
  backend/app/api/v1/files.py
  backend/app/api/v1/job_postings.py
  backend/app/api/v1/router.py
Due: backend-mypy

docs(docstring): add coordination headers to 10 api/v1/ files (second half)
  backend/app/api/v1/job_sources.py
  backend/app/api/v1/job_variants.py
  backend/app/api/v1/onboarding.py
  backend/app/api/v1/persona_change_flags.py
  backend/app/api/v1/personas.py
  backend/app/api/v1/refresh.py
  backend/app/api/v1/resume_templates.py
  backend/app/api/v1/usage.py
  backend/app/api/v1/user_source_preferences.py
  backend/app/api/v1/webhooks.py
Due: backend-mypy

docs(plan): mark Phase 14 complete after gate pass
  docs/plan/032_jsdoc_audit_plan.md
Due: none

docs(docstring): add coordination headers to 15 providers/ files
  backend/app/providers/config.py
  backend/app/providers/embedding/base.py
  backend/app/providers/embedding/gemini_adapter.py
  backend/app/providers/embedding/mock_adapter.py
  backend/app/providers/embedding/openai_adapter.py
  backend/app/providers/errors.py
  backend/app/providers/factory.py
  backend/app/providers/gemini_errors.py
  backend/app/providers/llm/base.py
  backend/app/providers/llm/claude_adapter.py
  backend/app/providers/llm/gemini_adapter.py
  backend/app/providers/llm/mock_adapter.py
  backend/app/providers/llm/openai_adapter.py
  backend/app/providers/metered_provider.py
  backend/app/providers/retry.py
  docs/plan/032_jsdoc_audit_plan.md
Due: backend-mypy

docs(docstring): add coordination headers to 13 adapters/agents/prompts/scripts files
  backend/app/adapters/sources/adzuna.py
  backend/app/adapters/sources/base.py
  backend/app/adapters/sources/remoteok.py
  backend/app/adapters/sources/themuse.py
  backend/app/adapters/sources/usajobs.py
  backend/app/agents/chat.py
  backend/app/agents/checkpoint.py
  backend/app/agents/state.py
  backend/app/prompts/ghostwriter.py
  backend/app/prompts/resume_generation.py
  backend/app/prompts/strategist.py
  backend/scripts/dedup_cross_persona.py
  backend/scripts/reembed_all.py
  docs/plan/032_jsdoc_audit_plan.md
Due: backend-mypy

docs(plan): mark Phase 15 complete after gate pass
  docs/plan/032_jsdoc_audit_plan.md
Due: none

docs(docstring): verify/update coordination headers — services/ top-level + scoring/ + embedding/
  backend/app/services/embedding/storage.py
  backend/app/services/ingest_token_store.py
Due: backend-mypy

docs(docstring): verify/update coordination headers — services/generation/
  backend/app/services/generation/cover_letter_generation.py
  backend/app/services/generation/resume_tailoring_service.py
Due: backend-mypy

docs(plan): mark §42-§44 complete — services/ verification done
  docs/plan/032_jsdoc_audit_plan.md
Due: none

docs(plan): mark Phase 16 complete after gate pass
  docs/plan/032_jsdoc_audit_plan.md
Due: none

chore(types): add pyrightconfig.json + pyright post-mortem analysis
  backend/pyrightconfig.json
  docs/plan/pyright_compliance_plan.md
  docs/plan/pyright_postmortem.md
Due: none

fix(types): resolve all 14 pyright errors in production code (app/)
  backend/app/agents/chat.py
  backend/app/providers/llm/openai_adapter.py
  backend/app/services/rendering/cover_letter_pdf_generation.py
  backend/app/services/rendering/pdf_generation.py
  backend/app/services/scoring/job_scoring_service.py
  docs/plan/pyright_compliance_plan.md
Due: backend-mypy

fix(types): add pyright ignores to scoring test files (§9)
  backend/tests/unit/test_batch_scoring.py
  backend/tests/unit/test_golden_set.py
  backend/tests/unit/test_hard_skills_match.py
  backend/tests/unit/test_job_scoring_service.py
  backend/tests/unit/test_score_correlation.py
  backend/tests/unit/test_score_scenarios.py
  backend/tests/unit/test_scoring_flow.py
Due: none

fix(types): add pyright ignores to extraction & chat test files (§10)
  backend/tests/unit/test_chat_agent.py
  backend/tests/unit/test_job_extraction.py
Due: none

fix(types): add pyright ignores to embedding/persona/remaining test files (§11)
  backend/tests/unit/test_base_resume_selection.py
  backend/tests/unit/test_credit_schemas.py
  backend/tests/unit/test_job_embedding_generation.py
  backend/tests/unit/test_persona_embedding_generation.py
  backend/tests/unit/test_persona_sync.py
Due: none

fix(types): add pyright ignores to straggler test files (§12 stragglers)
  backend/tests/conftest.py
  backend/tests/integration/test_reservation_advanced.py
  backend/tests/load/locustfile.py
  backend/tests/unit/test_admin_auth.py
  backend/tests/unit/test_admin_schemas.py
  backend/tests/unit/test_api_auth.py
  backend/tests/unit/test_career_changer_edge_cases.py
  backend/tests/unit/test_chat_agent.py
  backend/tests/unit/test_core_config.py
  backend/tests/unit/test_core_config_stripe.py
  backend/tests/unit/test_cover_letter_editing.py
  backend/tests/unit/test_cover_letter_pdf_generation.py
  backend/tests/unit/test_cover_letter_pdf_storage.py
  backend/tests/unit/test_embedding_storage.py
  backend/tests/unit/test_file_validation.py
  backend/tests/unit/test_generation_outcome.py
  backend/tests/unit/test_graph_invocation.py
  backend/tests/unit/test_ingest_token_store.py
  backend/tests/unit/test_job_extraction.py
  backend/tests/unit/test_job_posting_repository.py
  backend/tests/unit/test_markdown_docx_renderer.py
  backend/tests/unit/test_metered_provider.py
  backend/tests/unit/test_metering_integration.py
  backend/tests/unit/test_missing_data_edge_cases.py
  backend/tests/unit/test_persona_job_repository_write.py
  backend/tests/unit/test_pool_scoring.py
  backend/tests/unit/test_rate_limit_enforcement.py
  backend/tests/unit/test_rate_limiting.py
  backend/tests/unit/test_regeneration.py
  backend/tests/unit/test_resume_parsing_service.py
  backend/tests/unit/test_schema_extra_forbid.py
  backend/tests/unit/test_score_details.py
  backend/tests/unit/test_stripe_repository.py
  backend/tests/unit/test_stripe_service.py
  backend/tests/unit/test_user_repository.py
Due: none

docs(plan): mark Phase 3 complete — pyright zero on tests/
  docs/plan/pyright_compliance_plan.md
Due: none

chore(types): add pyright to pre-commit hooks + finalize compliance plan
  .pre-commit-config.yaml
  CLAUDE.md
  backend/pyproject.toml
  docs/plan/Archive/pyright_compliance_plan.md
  docs/plan/pyright_postmortem.md
Due: none

docs(plan): mark Phase 16 complete after gate pass
  docs/plan/Archive/pyright_compliance_plan.md
Due: none

feat(ui): redesign palette to slate+indigo and replace logo PNG with token-driven component
  docs/requirements/_index.md
  frontend/public/zentropy_logo.png
  frontend/src/app/(public)/components/landing-nav.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/login/page.tsx
  frontend/src/components/layout/top-nav.tsx
  frontend/src/components/ui/zentropy-logo.tsx
  frontend/src/proxy.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

feat(ui): apply Nunito Sans globally, add content padding, replace favicon with SVG
  frontend/src/app/favicon.ico
  frontend/src/app/globals.css
  frontend/src/app/icon.svg
  frontend/src/app/layout.tsx
  frontend/src/components/layout/app-shell.tsx
  frontend/src/components/layout/top-nav.tsx
  frontend/src/components/ui/zentropy-logo.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

feat(ui): add shared heading components for centralized typography control
  frontend/src/components/applications/application-detail.tsx
  frontend/src/components/applications/applications-list.tsx
  frontend/src/components/cover-letter/cover-letter-review.tsx
  frontend/src/components/dashboard/dashboard-tabs.tsx
  frontend/src/components/persona/persona-overview.tsx
  frontend/src/components/resume/resume-detail.tsx
  frontend/src/components/resume/resume-list.tsx
  frontend/src/components/settings/settings-page.tsx
  frontend/src/components/ui/headings.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

feat(ui): drop 'Your' prefix from Persona and Resume page titles
  frontend/src/components/persona/persona-overview.tsx
  frontend/src/components/resume/resume-list.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

feat(ui): polish nav active indicator — taller header, content-width underline, tuned spacing
  frontend/src/components/layout/top-nav.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

feat(ui): swap Dashboard and Applications nav order
  frontend/src/components/layout/top-nav.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

feat(ui): add gap-4 between toolbar and table in DataTable
  frontend/src/components/data-table/data-table.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

fix(tests): update assertions for logo component and renamed page headings
  frontend/src/app/(public)/components/landing-nav.test.tsx
  frontend/src/app/login/page.test.tsx
  frontend/src/components/layout/app-shell.test.tsx
  frontend/src/components/layout/top-nav.test.tsx
  frontend/src/components/persona/persona-overview.test.tsx
  frontend/src/components/resume/resume-list.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

feat(landing): revamp landing page — remove nav, hero showcase, layout polish
  frontend/src/app/(public)/components/hero-section.test.tsx
  frontend/src/app/(public)/components/hero-section.tsx
  frontend/src/app/(public)/components/hero-showcase.test.tsx
  frontend/src/app/(public)/components/hero-showcase.tsx
  frontend/src/app/(public)/components/landing-nav.test.tsx
  frontend/src/app/(public)/components/landing-nav.tsx
  frontend/src/app/(public)/page.test.tsx
  frontend/src/app/(public)/page.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

feat(landing): layout polish, starfield background, footer cleanup
  frontend/src/app/(public)/components/hero-section.tsx
  frontend/src/app/(public)/components/landing-footer.tsx
  frontend/src/app/(public)/components/star-field.tsx
  frontend/src/app/(public)/page.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

feat(landing): scale starfield density by viewport area, 700 stars at 4K
  frontend/src/app/(public)/components/star-field.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

feat(landing): increase starfield brightness 50%
  frontend/src/app/(public)/components/star-field.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

fix(landing): ssr:false for StarField to fix hydration, update landing E2E test for removed nav
  frontend/src/app/(public)/page.tsx
  frontend/tests/e2e/landing.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

fix(landing): move dynamic ssr:false into client wrapper, update visual baselines
  frontend/src/app/(public)/components/star-field-loader.tsx
  frontend/src/app/(public)/page.tsx
  frontend/tests/__screenshots__/chromium/e2e/visual-regression.spec.ts/applications-desktop.png
  frontend/tests/__screenshots__/chromium/e2e/visual-regression.spec.ts/dashboard-desktop.png
  frontend/tests/__screenshots__/chromium/e2e/visual-regression.spec.ts/ghostwriter-review-desktop.png
  frontend/tests/__screenshots__/chromium/e2e/visual-regression.spec.ts/landing-desktop.png
  frontend/tests/__screenshots__/chromium/e2e/visual-regression.spec.ts/login-desktop.png
  frontend/tests/__screenshots__/chromium/e2e/visual-regression.spec.ts/persona-basic-info-desktop.png
  frontend/tests/__screenshots__/chromium/e2e/visual-regression.spec.ts/register-desktop.png
  frontend/tests/__screenshots__/chromium/e2e/visual-regression.spec.ts/resume-detail-desktop.png
  frontend/tests/__screenshots__/chromium/e2e/visual-regression.spec.ts/resumes-desktop.png
  frontend/tests/__screenshots__/chromium/e2e/visual-regression.spec.ts/settings-desktop.png
  frontend/tests/__screenshots__/firefox/e2e/visual-regression.spec.ts/applications-desktop.png
  frontend/tests/__screenshots__/firefox/e2e/visual-regression.spec.ts/dashboard-desktop.png
  frontend/tests/__screenshots__/firefox/e2e/visual-regression.spec.ts/ghostwriter-review-desktop.png
  frontend/tests/__screenshots__/firefox/e2e/visual-regression.spec.ts/landing-desktop.png
  frontend/tests/__screenshots__/firefox/e2e/visual-regression.spec.ts/login-desktop.png
  frontend/tests/__screenshots__/firefox/e2e/visual-regression.spec.ts/persona-basic-info-desktop.png
  frontend/tests/__screenshots__/firefox/e2e/visual-regression.spec.ts/register-desktop.png
  frontend/tests/__screenshots__/firefox/e2e/visual-regression.spec.ts/resume-detail-desktop.png
  frontend/tests/__screenshots__/firefox/e2e/visual-regression.spec.ts/resumes-desktop.png
  frontend/tests/__screenshots__/firefox/e2e/visual-regression.spec.ts/settings-desktop.png
  frontend/tests/__screenshots__/webkit/e2e/visual-regression.spec.ts/applications-desktop.png
  frontend/tests/__screenshots__/webkit/e2e/visual-regression.spec.ts/dashboard-desktop.png
  frontend/tests/__screenshots__/webkit/e2e/visual-regression.spec.ts/ghostwriter-review-desktop.png
  frontend/tests/__screenshots__/webkit/e2e/visual-regression.spec.ts/landing-desktop.png
  frontend/tests/__screenshots__/webkit/e2e/visual-regression.spec.ts/login-desktop.png
  frontend/tests/__screenshots__/webkit/e2e/visual-regression.spec.ts/persona-basic-info-desktop.png
  frontend/tests/__screenshots__/webkit/e2e/visual-regression.spec.ts/register-desktop.png
  frontend/tests/__screenshots__/webkit/e2e/visual-regression.spec.ts/resume-detail-desktop.png
  frontend/tests/__screenshots__/webkit/e2e/visual-regression.spec.ts/resumes-desktop.png
  frontend/tests/__screenshots__/webkit/e2e/visual-regression.spec.ts/settings-desktop.png
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(req): add REQ-033 UI Design System spec v0.3
  docs/requirements/REQ-033_ui_design_system.md
  docs/requirements/_index.md
Due: none

docs(req): add REQ-034 Job Source Adapter Implementation v0.1
  docs/backlog/feature-backlog.md
  docs/requirements/REQ-034_job_source_adapters.md
  docs/requirements/_index.md
Due: none

feat(db): add search_profiles table migration (REQ-034 §4.2)
  backend/migrations/versions/030_search_profiles.py
  backend/tests/unit/test_migration_030_search_profiles.py
  docs/plan/034_job_source_adapters_plan.md
Due: none

feat(db): add search_bucket + last_seen_external_ids columns (REQ-034 §6.1, §5.4)
  backend/migrations/versions/031_search_bucket_cursors.py
  backend/tests/unit/test_migration_031_search_bucket_cursors.py
  docs/plan/034_job_source_adapters_plan.md
Due: none

docs(plan): mark Phase 1 §3 complete — migration 031
  docs/plan/034_job_source_adapters_plan.md
Due: none

feat(adapters): extend SearchParams with max_days_old, posted_after, remoteok_tags
  backend/app/adapters/sources/base.py
  backend/tests/unit/test_search_params.py
  docs/plan/034_job_source_adapters_plan.md
Due: backend-mypy
