Repository ApexAZ/zentropy_scout: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-mypy, frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

backend-mypy:
  name: mypy (backend)
  entry: bash -c 'cd backend && .venv/bin/python -m mypy app/ --ignore-missing-imports --warn-unused-ignores'
  language: system
  pass_filenames: false

frontend-eslint:
  name: ESLint (frontend)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-prettier:
  name: Prettier (frontend)
  entry: bash -c 'cd frontend && npm run format:check'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: TypeScript (frontend)
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

frontend-vitest:
  name: Vitest (frontend)
  entry: bash -c 'cd frontend && npm run test:run'
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix(ci): strip query strings from ZAP SARIF artifact URIs
  .github/scripts/zap-to-sarif.py
Due: none

feat(security): add rate limit enforcement tests and locust load script (§13.7)
  backend/tests/load/__init__.py
  backend/tests/load/locustfile.py
  backend/tests/unit/test_rate_limit_enforcement.py
  docs/plan/frontend_implementation_plan.md
Due: none

docs(plan): mark §13.8 complete — OWASP Top 10 audit passed
  docs/plan/frontend_implementation_plan.md
Due: none

fix(agents): remove unused async from extract_skills_node (S7503)
  backend/app/agents/scouter_graph.py
  backend/tests/unit/test_scouter_graph.py
Due: backend-mypy

fix(ci): filter ignored ZAP rules from SARIF upload
  .github/scripts/zap-to-sarif.py
  .github/workflows/zap-dast.yml
Due: none

fix(ci): remove _skipped from SARIF output (schema violation)
  .github/scripts/zap-to-sarif.py
Due: none

ci(zap): only run DAST scan when backend or ZAP config changes
  .github/workflows/zap-dast.yml
Due: none

revert(ci): remove SARIF rule filtering, use per-instance dismissal
  .github/scripts/zap-to-sarif.py
  .github/workflows/zap-dast.yml
Due: none

docs(security): add session-start scanner checklist and known CVE tracking
  .github/workflows/trivy.yml
  CLAUDE.md
Due: none

chore(config): consolidate skills, add qa-reviewer, fix workflow holes
  .claude/agents/qa-reviewer.md
  .claude/agents/security-references.md
  .claude/agents/test-runner.md
  .claude/settings.json
  .claude/skills/zentropy-git/SKILL.md
  .claude/skills/zentropy-planner/SKILL.md
  .claude/skills/zentropy-structure/SKILL.md
  .claude/skills/zentropy-tdd/SKILL.md
  .claude/skills/zentropy-test/SKILL.md
  CLAUDE.md
Due: none

test(e2e): add resume list + new resume wizard E2E tests
  docs/plan/frontend_implementation_plan.md
  frontend/tests/e2e/resume.spec.ts
  frontend/tests/fixtures/resume-mock-data.ts
  frontend/tests/utils/resume-api-mocks.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

test(e2e): add resume detail E2E tests — PATCH, render PDF, variants
  docs/plan/frontend_implementation_plan.md
  frontend/tests/e2e/resume-detail.spec.ts
  frontend/tests/fixtures/resume-mock-data.ts
  frontend/tests/utils/resume-api-mocks.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

test(e2e): add variant review E2E tests — diff, approve, guardrails
  docs/plan/frontend_implementation_plan.md
  frontend/tests/e2e/variant-review.spec.ts
  frontend/tests/fixtures/resume-mock-data.ts
  frontend/tests/utils/resume-api-mocks.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

test(e2e): add applications list E2E tests, skip §4-§5, add Phase 15
  docs/plan/frontend_implementation_plan.md
  docs/requirements/REQ-012_frontend_application.md
  frontend/tests/e2e/applications-list.spec.ts
  frontend/tests/utils/app-tracking-api-mocks.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

test(e2e): add job modal E2E tests — two-step ingest flow
  docs/plan/frontend_implementation_plan.md
  frontend/tests/e2e/add-job.spec.ts
  frontend/tests/fixtures/job-discovery-mock-data.ts
  frontend/tests/utils/job-discovery-api-mocks.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

test(e2e): add persona CRUD editor E2E tests (Phase 14 §8)
  docs/plan/frontend_implementation_plan.md
  frontend/tests/e2e/persona-editors-crud.spec.ts
  frontend/tests/fixtures/onboarding-mock-data.ts
  frontend/tests/fixtures/persona-update-mock-data.ts
  frontend/tests/utils/persona-update-api-mocks.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

test(e2e): add achievement stories + voice profile editor E2E tests
  docs/plan/frontend_implementation_plan.md
  frontend/tests/e2e/app-tracking.spec.ts
  frontend/tests/e2e/persona-editors-crud.spec.ts
  frontend/tests/fixtures/persona-update-mock-data.ts
  frontend/tests/utils/persona-update-api-mocks.ts
  frontend/tests/utils/playwright-helpers.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

test(e2e): add non-negotiables + discovery preferences editor E2E tests
  docs/plan/frontend_implementation_plan.md
  frontend/tests/e2e/persona-editors-crud.spec.ts
  frontend/tests/e2e/persona-update.spec.ts
  frontend/tests/fixtures/onboarding-mock-data.ts
  frontend/tests/fixtures/persona-update-mock-data.ts
  frontend/tests/utils/persona-update-api-mocks.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

test(e2e): add settings page E2E tests (Phase 14 §11)
  docs/plan/frontend_implementation_plan.md
  frontend/tests/e2e/settings.spec.ts
  frontend/tests/fixtures/settings-mock-data.ts
  frontend/tests/utils/settings-api-mocks.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

test(e2e): add navigation, error states, and toast E2E tests (Phase 14 §12)
  docs/plan/frontend_implementation_plan.md
  frontend/tests/e2e/navigation.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

chore(agents): bolster qa-reviewer + code-reviewer for test housecleaning (Phase 14 §13)
  .claude/agents/code-reviewer.md
  .claude/agents/qa-reviewer.md
  docs/plan/frontend_implementation_plan.md
Due: none

docs(plan): mark Phase 14 complete — E2E test coverage expansion
  docs/plan/frontend_implementation_plan.md
Due: none

chore: update project target to SaaS, document npm audit + Dependabot alerts
  CLAUDE.md
  docs/backlog/feature-backlog.md
Due: none

feat(frontend): add Cover Letter section to job detail page (Phase 15 §1)
  docs/plan/frontend_implementation_plan.md
  frontend/src/app/(main)/jobs/[id]/page.test.tsx
  frontend/src/app/(main)/jobs/[id]/page.tsx
  frontend/src/components/jobs/cover-letter-section.test.tsx
  frontend/src/components/jobs/cover-letter-section.tsx
  frontend/src/components/ui/status-badge.test.tsx
  frontend/src/components/ui/status-badge.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

feat(frontend): add Draft Materials button to job detail page (Phase 15 §2)
  docs/plan/frontend_implementation_plan.md
  frontend/src/app/(main)/jobs/[id]/page.test.tsx
  frontend/src/app/(main)/jobs/[id]/page.tsx
  frontend/src/components/jobs/draft-materials-card.test.tsx
  frontend/src/components/jobs/draft-materials-card.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

feat(frontend): add ghostwriter review route and materials link (Phase 15 §3)
  docs/plan/frontend_implementation_plan.md
  frontend/src/app/(main)/jobs/[id]/page.test.tsx
  frontend/src/app/(main)/jobs/[id]/page.tsx
  frontend/src/app/(main)/jobs/[id]/review/page.test.tsx
  frontend/src/app/(main)/jobs/[id]/review/page.tsx
  frontend/src/components/jobs/review-materials-link.test.tsx
  frontend/src/components/jobs/review-materials-link.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

test(e2e): add cover letter review E2E tests (Phase 15 §4)
  docs/plan/frontend_implementation_plan.md
  frontend/tests/e2e/cover-letter-review.spec.ts
  frontend/tests/fixtures/cover-letter-mock-data.ts
  frontend/tests/utils/cover-letter-api-mocks.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

test(e2e): add ghostwriter review E2E tests (Phase 15 §5)
  docs/plan/frontend_implementation_plan.md
  frontend/tests/e2e/ghostwriter-review.spec.ts
  frontend/tests/fixtures/ghostwriter-mock-data.ts
  frontend/tests/utils/ghostwriter-api-mocks.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

chore: accept minimatch ReDoS advisory, mark Phase 15 complete
  .github/workflows/pip-audit.yml
  CLAUDE.md
  docs/plan/frontend_implementation_plan.md
Due: none

ci(playwright): add E2E tests to GitHub Actions, complete Phase 13
  .claude/agents/qa-reviewer.md
  .github/workflows/playwright.yml
  CLAUDE.md
  docs/plan/frontend_implementation_plan.md
Due: none

docs(requirements): add REQ-013/014/015 auth, multi-tenant, shared job pool
  docs/requirements/REQ-005_database_schema.md
  docs/requirements/REQ-006_api_contract.md
  docs/requirements/REQ-013_authentication.md
  docs/requirements/REQ-014_multi_tenant.md
  docs/requirements/REQ-015_shared_job_pool.md
  docs/requirements/_index.md
Due: none

docs(requirements): add email+password auth to REQ-013 (v0.4)
  docs/requirements/REQ-013_authentication.md
Due: none

chore(plan): archive completed frontend implementation plan
  docs/plan/Archive/frontend_implementation_plan.md
Due: none

docs(plan): add auth implementation plan and adapter decision document
  docs/plan/auth_implementation_plan.md
  docs/plan/decisions/001_auth_adapter_decision.md
Due: none

docs(auth): rewrite REQ-013 and plan for custom FastAPI-owned auth
  docs/plan/auth_implementation_plan.md
  docs/plan/decisions/001_auth_adapter_decision.md
  docs/requirements/REQ-013_authentication.md
Due: none

feat(db): add auth tables migration 010
  backend/app/models/__init__.py
  backend/app/models/account.py
  backend/app/models/session.py
  backend/app/models/user.py
  backend/app/models/verification_token.py
  backend/migrations/versions/010_auth_tables.py
  backend/tests/unit/test_migration_010_auth_tables.py
  docs/plan/auth_implementation_plan.md
Due: backend-mypy

feat(auth): add auth configuration settings to config.py
  .env.example
  backend/app/core/config.py
  backend/tests/unit/test_core_config.py
  docs/plan/auth_implementation_plan.md
Due: backend-mypy

feat(auth): add UserRepository with CRUD operations
  CLAUDE.md
  backend/app/repositories/user_repository.py
  backend/tests/unit/test_user_repository.py
  docs/plan/auth_implementation_plan.md
Due: backend-mypy

feat(auth): implement JWT validation in get_current_user_id
  backend/app/api/deps.py
  backend/pyproject.toml
  backend/tests/conftest.py
  backend/tests/unit/test_api_auth.py
  backend/tests/unit/test_api_bulk_operations.py
  backend/tests/unit/test_api_files.py
  docs/plan/auth_implementation_plan.md
Due: backend-mypy

feat(auth): add password auth endpoints and helpers
  backend/app/api/v1/auth.py
  backend/app/api/v1/router.py
  backend/app/core/auth.py
  backend/pyproject.toml
  backend/tests/unit/test_auth_helpers.py
  backend/tests/unit/test_auth_password_endpoints.py
  docs/plan/auth_implementation_plan.md
Due: backend-mypy

Path conditions:
  backend-mypy: any of: ^backend/app/
  frontend-eslint: any of: ^frontend/
  frontend-prettier: any of: ^frontend/
  frontend-typecheck: any of: ^frontend/
  frontend-vitest: any of: ^frontend/
