Repository ApexAZ/zentropy_scout: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-mypy, frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
#
# Install hooks: pre-commit install --hook-type pre-commit --hook-type pre-push
# Run manually: pre-commit run --all-files
# Skip (emergency): git commit --no-verify -m "message"
#
# Hook stages:
# - commit: Fast checks (linting, formatting) - runs on every commit
# - push: Full test suite - runs before pushing to remote

repos:
  # Ruff - fast Python linter and formatter (runs on COMMIT)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-check
        args: [--fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Standard pre-commit hooks (runs on COMMIT)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: detect-private-key

  # Bandit - Python security linter (runs on COMMIT)
  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.3
    hooks:
      - id: bandit
        args: ["-c", "backend/pyproject.toml", "-r"]
        files: ^backend/app/
        exclude: ^backend/tests/

  # Gitleaks - Secret detection (runs on COMMIT)
  # Uses locally installed gitleaks binary to avoid building from Go source
  - repo: local
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets
        entry: gitleaks git --pre-commit --redact --staged
        language: system
        pass_filenames: false

  # Mypy - Python type checking (runs on COMMIT)
  - repo: local
    hooks:
      - id: backend-mypy
        name: mypy (backend)
        entry: bash -c 'cd backend && .venv/bin/python -m mypy app/ --ignore-missing-imports --warn-unused-ignores'
        language: system
        pass_filenames: false
        files: ^backend/app/

  # Frontend ESLint - TypeScript/React linter (runs on COMMIT)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: ESLint (frontend)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        pass_filenames: false
        files: ^frontend/

  # Frontend Prettier - format check (runs on COMMIT)
  - repo: local
    hooks:
      - id: frontend-prettier
        name: Prettier (frontend)
        entry: bash -c 'cd frontend && npm run format:check'
        language: system
        pass_filenames: false
        files: ^frontend/

  # Frontend TypeScript - type check (runs on COMMIT)
  - repo: local
    hooks:
      - id: frontend-typecheck
        name: TypeScript (frontend)
        entry: bash -c 'cd frontend && npm run typecheck'
        language: system
        pass_filenames: false
        files: ^frontend/

  # Pytest - full backend test suite (runs on PUSH only)
  # always_run: backend is core logic, run tests on every push regardless of changed files
  - repo: local
    hooks:
      - id: pytest
        name: pytest (full suite)
        entry: bash -c 'cd backend && .venv/bin/python -m pytest tests/ -v --tb=short'
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

  # Frontend Vitest - full frontend test suite (runs on PUSH only)
  - repo: local
    hooks:
      - id: frontend-vitest
        name: Vitest (frontend)
        entry: bash -c 'cd frontend && npm run test:run'
        language: system
        pass_filenames: false
        files: ^frontend/
        stages: [pre-push]

# Summary:
# ON COMMIT: ruff lint/format, bandit security scan, gitleaks secret detection,
#            mypy type check, ESLint, Prettier format check, TypeScript type check (fast)
# ON PUSH: Full pytest + Vitest suites (comprehensive - all tests must pass)

feat(api): implement global dedup service with 4-step pipeline
  backend/app/models/job_posting.py
  backend/app/repositories/job_posting_repository.py
  backend/app/services/global_dedup_service.py
  backend/migrations/versions/016_source_external_unique_index.py
  backend/tests/unit/test_global_dedup_service.py
  docs/plan/auth_implementation_plan.md
Due: backend-mypy

refactor(api): extract _validate_ingest_modifications to reduce cognitive complexity
  backend/app/api/v1/job_postings.py
Due: backend-mypy

feat(services): implement pool surfacing worker with lightweight scoring
  backend/app/main.py
  backend/app/services/pool_scoring.py
  backend/app/services/pool_surfacing_service.py
  backend/app/services/pool_surfacing_worker.py
  backend/tests/unit/test_pool_scoring.py
  backend/tests/unit/test_pool_surfacing_service.py
  backend/tests/unit/test_pool_surfacing_worker.py
  docs/plan/auth_implementation_plan.md
Due: backend-mypy

refactor(api): extract _validate_modification_value to fix SonarCloud S3776
  backend/app/api/v1/job_postings.py
Due: backend-mypy

feat(agents): rewrite Scouter graph for shared pool (REQ-015 §10)
  backend/app/agents/scouter.py
  backend/app/agents/scouter_graph.py
  backend/app/agents/state.py
  backend/tests/unit/test_scouter_graph.py
  docs/plan/auth_implementation_plan.md
Due: backend-mypy

docs(plan): add test antipattern cleanup plan
  docs/plan/test_cleanup_plan.md
Due: none

fix(services): resolve 5 SonarCloud issues in pool scoring/worker
  backend/app/main.py
  backend/app/services/pool_scoring.py
  backend/app/services/pool_surfacing_worker.py
  backend/tests/unit/test_pool_surfacing_worker.py
Due: backend-mypy

test(cleanup): delete 4 structural-only test files (Phase 1 §1)
  backend/tests/unit/test_agent_checkpoint.py
  backend/tests/unit/test_agent_state.py
  backend/tests/unit/test_mock_provider.py
  backend/tests/unit/test_provider_fixtures.py
  docs/plan/test_cleanup_plan.md
Due: none

test(cleanup): delete 4 structural-only test files (Phase 1 §2)
  backend/tests/unit/test_embedding_interface.py
  backend/tests/unit/test_llm_interface.py
  backend/tests/unit/test_strategist_prompts.py
  backend/tests/unit/test_voice_profile_fields.py
  docs/plan/test_cleanup_plan.md
Due: none

test(cleanup): delete 23 antipattern tests from scoring files (Phase 2 §1)
  backend/tests/unit/test_fit_score_aggregation.py
  backend/tests/unit/test_fit_score_weights.py
  backend/tests/unit/test_score_types.py
  backend/tests/unit/test_stretch_score_aggregation.py
  backend/tests/unit/test_stretch_score_weights.py
  docs/plan/test_cleanup_plan.md
Due: none

test(cleanup): delete 31 antipatterns, rewrite 7 frozen tests (Phase 2 §2)
  backend/tests/unit/test_fit_score_interpretation.py
  backend/tests/unit/test_quality_metrics.py
  backend/tests/unit/test_stretch_score_interpretation.py
  docs/plan/test_cleanup_plan.md
Due: none

feat(security): add content security for shared pool poisoning defense (REQ-015 §8.4)
  backend/app/agents/scouter_graph.py
  backend/app/api/v1/job_postings.py
  backend/app/core/errors.py
  backend/app/core/llm_sanitization.py
  backend/app/models/job_posting.py
  backend/app/repositories/job_posting_repository.py
  backend/app/services/content_security.py
  backend/app/services/global_dedup_service.py
  backend/app/services/pool_surfacing_service.py
  backend/migrations/versions/017_quarantine_columns.py
  backend/tests/unit/test_content_security.py
  docs/plan/auth_implementation_plan.md
Due: backend-mypy

test(cleanup): delete 15 antipattern tests from embedding files (Phase 2 §3)
  backend/tests/unit/test_embedding_cost.py
  backend/tests/unit/test_embedding_storage.py
  backend/tests/unit/test_embedding_types.py
  docs/plan/test_cleanup_plan.md
Due: none

test(cleanup): delete 25 antipatterns, rewrite 4 frozen tests (Phase 2 §4)
  backend/tests/unit/test_cover_letter_output.py
  backend/tests/unit/test_cover_letter_structure.py
  backend/tests/unit/test_cover_letter_validation.py
  docs/plan/test_cleanup_plan.md
Due: none

test(cleanup): delete 10 antipattern tests from agent/graph files (Phase 2 §5)
  backend/tests/unit/test_ghostwriter_graph.py
  backend/tests/unit/test_onboarding_agent.py
  backend/tests/unit/test_scouter_error_handling.py
  docs/plan/test_cleanup_plan.md
Due: none

refactor(api): extract _check_list_items_for_injection to fix SonarCloud S3776
  backend/app/services/content_security.py
Due: backend-mypy

test(cleanup): delete 14 antipatterns, rewrite 3 frozen tests (Phase 2 §6)
  backend/tests/unit/test_agent_handoff.py
  backend/tests/unit/test_agent_message.py
  backend/tests/unit/test_agent_session_guard.py
  docs/plan/test_cleanup_plan.md
Due: none

docs(plan): mark Phase 5 complete — shared job pool backend
  docs/plan/auth_implementation_plan.md
Due: none

test(cleanup): delete 18 antipatterns from provider/adapter tests (Phase 2 §7)
  backend/tests/unit/test_ghostwriter.py
  backend/tests/unit/test_provider_errors.py
  backend/tests/unit/test_rate_limiting.py
  docs/plan/test_cleanup_plan.md
Due: none

test(cleanup): delete antipatterns from API layer tests (Phase 2 §8)
  backend/tests/unit/test_api_chat.py
  backend/tests/unit/test_api_filtering.py
  backend/tests/unit/test_api_pagination.py
  backend/tests/unit/test_api_responses.py
  docs/plan/test_cleanup_plan.md
Due: none

feat(frontend): update types and components for PersonaJobResponse (Phase 6 §1)
  docs/plan/auth_implementation_plan.md
  frontend/src/app/(main)/jobs/[id]/page.test.tsx
  frontend/src/app/(main)/jobs/[id]/page.tsx
  frontend/src/components/cover-letter/cover-letter-review.test.tsx
  frontend/src/components/cover-letter/cover-letter-review.tsx
  frontend/src/components/dashboard/add-job-modal.tsx
  frontend/src/components/dashboard/opportunities-table.test.tsx
  frontend/src/components/dashboard/opportunities-table.tsx
  frontend/src/components/ghostwriter/ghostwriter-review.test.tsx
  frontend/src/components/ghostwriter/ghostwriter-review.tsx
  frontend/src/components/jobs/job-detail-header.test.tsx
  frontend/src/components/jobs/job-detail-header.tsx
  frontend/src/components/resume/variant-review.test.tsx
  frontend/src/components/resume/variant-review.tsx
  frontend/src/components/resume/variants-list.test.tsx
  frontend/src/components/resume/variants-list.tsx
  frontend/src/lib/job-formatters.test.ts
  frontend/src/lib/job-formatters.ts
  frontend/src/types/index.ts
  frontend/src/types/ingest.test.ts
  frontend/src/types/ingest.ts
  frontend/src/types/job.test.ts
  frontend/src/types/job.ts
  frontend/tests/fixtures/cover-letter-mock-data.ts
  frontend/tests/fixtures/ghostwriter-mock-data.ts
  frontend/tests/fixtures/job-discovery-mock-data.ts
  frontend/tests/fixtures/resume-mock-data.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

test(cleanup): delete antipatterns and rewrite frozen tests in data structure domain (Phase 2 §9)
  backend/tests/unit/test_duplicate_story.py
  backend/tests/unit/test_job_expiry.py
  backend/tests/unit/test_persona_change.py
  backend/tests/unit/test_regeneration.py
  backend/tests/unit/test_score_explanation.py
  docs/plan/test_cleanup_plan.md
Due: none

fix(tests): use UTC in daysAgoDate helpers to prevent timezone flakiness
  frontend/src/components/dashboard/opportunities-table.test.tsx
  frontend/src/components/jobs/job-detail-header.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

test(cleanup): delete antipatterns and rewrite frozen tests in domain 7b + workflow files
  backend/tests/unit/test_auto_draft_threshold.py
  backend/tests/unit/test_data_availability.py
  backend/tests/unit/test_file_validation.py
  backend/tests/unit/test_generation_outcome.py
  backend/tests/unit/test_ghost_detection.py
  backend/tests/unit/test_job_deduplication.py
  backend/tests/unit/test_job_status_transitions.py
  backend/tests/unit/test_user_review.py
Due: none

fix(tests): add type hints and extract duplicate strings
  backend/tests/unit/test_file_validation.py
  backend/tests/unit/test_job_deduplication.py
  docs/plan/test_cleanup_plan.md
Due: none

feat(jobs): add Rescore, Dismiss, Undismiss actions to job detail page
  docs/plan/auth_implementation_plan.md
  frontend/src/app/(main)/jobs/[id]/page.test.tsx
  frontend/src/app/(main)/jobs/[id]/page.tsx
  frontend/src/components/jobs/job-detail-actions.test.tsx
  frontend/src/components/jobs/job-detail-actions.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

test(cleanup): delete ~50 structural/tautological antipattern tests across 17 files
  backend/tests/unit/test_auth_helpers.py
  backend/tests/unit/test_bullet_reordering.py
  backend/tests/unit/test_content_utils.py
  backend/tests/unit/test_discovery_workflow.py
  backend/tests/unit/test_golden_set.py
  backend/tests/unit/test_golden_set_fixture.py
  backend/tests/unit/test_migration_011_rename_indexes.py
  backend/tests/unit/test_modification_limits.py
  backend/tests/unit/test_oauth_helpers.py
  backend/tests/unit/test_persona_embedding_generation.py
  backend/tests/unit/test_pool_surfacing_worker.py
  backend/tests/unit/test_reasoning_explanation.py
  backend/tests/unit/test_scouter_agent.py
  backend/tests/unit/test_source_adapters.py
  backend/tests/unit/test_story_selection.py
  backend/tests/unit/test_voice_prompt_block.py
  backend/tests/unit/test_voice_validation.py
  docs/plan/test_cleanup_plan.md
Due: none

docs(plan): mark Phase 2 complete — gate passed (3,974 tests, 0 skips)
  docs/plan/test_cleanup_plan.md
Due: none

docs(plan): mark Phase 3 complete — no coverage gaps found
  docs/plan/test_cleanup_plan.md
Due: none

docs: add test antipattern rules to CLAUDE.md Testing Philosophy
  CLAUDE.md
  docs/plan/test_cleanup_plan.md
Due: none

feat(tests): add antipattern detection hook to conftest.py
  backend/tests/conftest.py
  docs/plan/test_cleanup_plan.md
Due: none

test(e2e): add shared pool Playwright tests and fix persona job ID selectors
  docs/plan/auth_implementation_plan.md
  frontend/tests/e2e/job-discovery.spec.ts
  frontend/tests/fixtures/job-discovery-mock-data.ts
  frontend/tests/utils/job-discovery-api-mocks.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

fix(e2e): use persona job ID for ingest confirm navigation
  docs/plan/auth_implementation_plan.md
  frontend/tests/e2e/add-job.spec.ts
  frontend/tests/fixtures/job-discovery-mock-data.ts
  frontend/tests/utils/job-discovery-api-mocks.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

test(cleanup): delete 36 structural antipattern tests, fix conftest hook, update docs
  .claude/skills/zentropy-tdd/SKILL.md
  CLAUDE.md
  backend/tests/conftest.py
  backend/tests/unit/test_agent_client.py
  backend/tests/unit/test_cover_letter_generation.py
  backend/tests/unit/test_cover_letter_output.py
  backend/tests/unit/test_explanation_generation.py
  backend/tests/unit/test_fit_score_aggregation.py
  backend/tests/unit/test_generation_outcome.py
  backend/tests/unit/test_ghostwriter_prompts.py
  backend/tests/unit/test_job_embedding_generation.py
  backend/tests/unit/test_job_posting_schemas.py
  backend/tests/unit/test_modification_limits.py
  backend/tests/unit/test_onboarding_agent.py
  backend/tests/unit/test_source_adapters.py
  backend/tests/unit/test_stretch_score_aggregation.py
Due: none

docs(backlog): replace feature backlog with updated version
  docs/backlog/feature-backlog.md
Due: none

docs(requirements): add REQ-016 through REQ-019 for agent redesigns
  docs/backlog/feature-backlog.md
  docs/requirements/REQ-016_scouter_service_layer.md
  docs/requirements/REQ-017_strategist_service_layer.md
  docs/requirements/REQ-018_ghostwriter_service_layer.md
  docs/requirements/REQ-019_onboarding_service_layer.md
Due: none

docs(requirements): audit fixes for REQ-016 through REQ-019
  docs/requirements/REQ-016_scouter_service_layer.md
  docs/requirements/REQ-017_strategist_service_layer.md
  docs/requirements/REQ-018_ghostwriter_service_layer.md
  docs/requirements/REQ-019_onboarding_service_layer.md
Due: none

docs(plan): add LLM agent redesign implementation plan
  docs/plan/llm_redesign_plan.md
Due: none

fix(auth): make PKCE conditional per OAuth provider
  .gitignore
  backend/app/api/v1/auth_oauth.py
  backend/app/core/oauth.py
  backend/app/core/oauth_client.py
  backend/tests/unit/test_oauth_endpoints.py
  docs/plan/auth_implementation_plan.md
Due: backend-mypy

fix(auth): use backend_url for magic link emails
  .env.example
  backend/app/core/config.py
  backend/app/core/email.py
  docs/plan/auth_implementation_plan.md
Due: backend-mypy
