Repository ApexAZ/zentropy_scout: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-mypy, frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
#
# Install hooks: pre-commit install --hook-type pre-commit --hook-type pre-push
# Run manually: pre-commit run --all-files
# Skip (emergency): git commit --no-verify -m "message"
#
# Hook stages:
# - commit: Fast checks (linting, formatting) - runs on every commit
# - push: Full test suite - runs before pushing to remote

repos:
  # Ruff - fast Python linter and formatter (runs on COMMIT)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-check
        args: [--fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Standard pre-commit hooks (runs on COMMIT)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: detect-private-key

  # Bandit - Python security linter (runs on COMMIT)
  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.3
    hooks:
      - id: bandit
        args: ["-c", "backend/pyproject.toml", "-r"]
        files: ^backend/app/
        exclude: ^backend/tests/

  # Gitleaks - Secret detection (runs on COMMIT)
  # Uses locally installed gitleaks binary to avoid building from Go source
  - repo: local
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets
        entry: gitleaks git --pre-commit --redact --staged
        language: system
        pass_filenames: false

  # Mypy - Python type checking (runs on COMMIT)
  - repo: local
    hooks:
      - id: backend-mypy
        name: mypy (backend)
        entry: bash -c 'cd backend && .venv/bin/python -m mypy app/ --ignore-missing-imports --warn-unused-ignores'
        language: system
        pass_filenames: false
        files: ^backend/app/

  # Frontend ESLint - TypeScript/React linter (runs on COMMIT)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: ESLint (frontend)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        pass_filenames: false
        files: ^frontend/

  # Frontend Prettier - format check (runs on COMMIT)
  - repo: local
    hooks:
      - id: frontend-prettier
        name: Prettier (frontend)
        entry: bash -c 'cd frontend && npm run format:check'
        language: system
        pass_filenames: false
        files: ^frontend/

  # Frontend TypeScript - type check (runs on COMMIT)
  - repo: local
    hooks:
      - id: frontend-typecheck
        name: TypeScript (frontend)
        entry: bash -c 'cd frontend && npm run typecheck'
        language: system
        pass_filenames: false
        files: ^frontend/

  # Pytest - full backend test suite (runs on PUSH only)
  # always_run: backend is core logic, run tests on every push regardless of changed files
  - repo: local
    hooks:
      - id: pytest
        name: pytest (full suite)
        entry: bash -c 'cd backend && .venv/bin/python -m pytest tests/ -v --tb=short'
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

  # Frontend Vitest - full frontend test suite (runs on PUSH only)
  - repo: local
    hooks:
      - id: frontend-vitest
        name: Vitest (frontend)
        entry: bash -c 'cd frontend && npm run test:run'
        language: system
        pass_filenames: false
        files: ^frontend/
        stages: [pre-push]

# Summary:
# ON COMMIT: ruff lint/format, bandit security scan, gitleaks secret detection,
#            mypy type check, ESLint, Prettier format check, TypeScript type check (fast)
# ON PUSH: Full pytest + Vitest suites (comprehensive - all tests must pass)

docs(jsdoc): reformat file-level headers on 15 lib/ core infrastructure files
  frontend/src/lib/api-client.ts
  frontend/src/lib/auth-provider.tsx
  frontend/src/lib/chat-panel-provider.tsx
  frontend/src/lib/chat-provider.tsx
  frontend/src/lib/form-errors.ts
  frontend/src/lib/map-server-errors.ts
  frontend/src/lib/onboarding-provider.tsx
  frontend/src/lib/query-client.ts
  frontend/src/lib/query-keys.ts
  frontend/src/lib/query-provider.tsx
  frontend/src/lib/sse-client.ts
  frontend/src/lib/sse-provider.tsx
  frontend/src/lib/sse-query-bridge.ts
  frontend/src/lib/toast.ts
  frontend/src/lib/utils.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(plan): mark Phase 1 complete in JSDoc audit plan
  docs/plan/032_jsdoc_audit_plan.md
Due: none

docs(jsdoc): reformat file-level headers on 19 lib/ helpers and formatters
  frontend/src/lib/achievement-stories-helpers.ts
  frontend/src/lib/api/admin.ts
  frontend/src/lib/api/credits.ts
  frontend/src/lib/basic-info-schema.ts
  frontend/src/lib/certification-helpers.ts
  frontend/src/lib/diff-utils.ts
  frontend/src/lib/discovery-preferences-helpers.ts
  frontend/src/lib/education-helpers.ts
  frontend/src/lib/embedding-staleness.ts
  frontend/src/lib/format-utils.ts
  frontend/src/lib/growth-targets-helpers.ts
  frontend/src/lib/job-formatters.ts
  frontend/src/lib/non-negotiables-helpers.ts
  frontend/src/lib/resume-helpers.ts
  frontend/src/lib/score-formatters.ts
  frontend/src/lib/skills-helpers.ts
  frontend/src/lib/url-utils.ts
  frontend/src/lib/voice-profile-helpers.ts
  frontend/src/lib/work-history-helpers.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(plan): mark §3 complete in JSDoc audit plan
  docs/plan/032_jsdoc_audit_plan.md
Due: none

docs(plan): mark Phase 2 complete in JSDoc audit plan
  docs/plan/032_jsdoc_audit_plan.md
Due: none

docs(jsdoc): reformat file-level headers on 14 types/ files
  frontend/src/types/admin.ts
  frontend/src/types/api.ts
  frontend/src/types/application.ts
  frontend/src/types/chat.ts
  frontend/src/types/deletion.ts
  frontend/src/types/index.ts
  frontend/src/types/ingest.ts
  frontend/src/types/job.ts
  frontend/src/types/persona.ts
  frontend/src/types/resume-generation.ts
  frontend/src/types/resume.ts
  frontend/src/types/source.ts
  frontend/src/types/sse.ts
  frontend/src/types/usage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(jsdoc): reformat file-level headers on 10 hooks/ files
  frontend/src/hooks/use-auto-save.ts
  frontend/src/hooks/use-balance.ts
  frontend/src/hooks/use-chat-scroll.ts
  frontend/src/hooks/use-crud-step.ts
  frontend/src/hooks/use-delete-with-references.ts
  frontend/src/hooks/use-is-mobile.ts
  frontend/src/hooks/use-media-query.ts
  frontend/src/hooks/use-persona-status.ts
  frontend/src/hooks/use-resume-content-selection.ts
  frontend/src/hooks/use-resume-detail.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(plan): mark Phase 3 complete in JSDoc audit plan
  docs/plan/032_jsdoc_audit_plan.md
Due: none

docs(jsdoc): add three-axis headers to 12 app/ root + public + proxy files
  frontend/src/app/(public)/components/feature-cards.tsx
  frontend/src/app/(public)/components/hero-section.tsx
  frontend/src/app/(public)/components/how-it-works.tsx
  frontend/src/app/(public)/components/landing-footer.tsx
  frontend/src/app/(public)/components/landing-nav.tsx
  frontend/src/app/(public)/layout.tsx
  frontend/src/app/(public)/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/login/page.tsx
  frontend/src/app/onboarding/page.tsx
  frontend/src/app/register/page.tsx
  frontend/src/proxy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(jsdoc): add three-axis headers to 12 app/(main) layout + persona pages
  frontend/src/app/(main)/layout.tsx
  frontend/src/app/(main)/persona/achievement-stories/page.tsx
  frontend/src/app/(main)/persona/basic-info/page.tsx
  frontend/src/app/(main)/persona/certifications/page.tsx
  frontend/src/app/(main)/persona/discovery/page.tsx
  frontend/src/app/(main)/persona/education/page.tsx
  frontend/src/app/(main)/persona/growth/page.tsx
  frontend/src/app/(main)/persona/non-negotiables/page.tsx
  frontend/src/app/(main)/persona/page.tsx
  frontend/src/app/(main)/persona/skills/page.tsx
  frontend/src/app/(main)/persona/voice-profile/page.tsx
  frontend/src/app/(main)/persona/work-history/page.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(jsdoc): add three-axis headers to 14 app/(main) remaining pages
  frontend/src/app/(main)/admin/config/page.tsx
  frontend/src/app/(main)/applications/[id]/page.tsx
  frontend/src/app/(main)/applications/page.tsx
  frontend/src/app/(main)/dashboard/page.tsx
  frontend/src/app/(main)/jobs/[id]/page.tsx
  frontend/src/app/(main)/jobs/[id]/review/page.tsx
  frontend/src/app/(main)/persona/change-flags/page.tsx
  frontend/src/app/(main)/resumes/[id]/page.tsx
  frontend/src/app/(main)/resumes/[id]/variants/[variantId]/edit/page.tsx
  frontend/src/app/(main)/resumes/[id]/variants/[variantId]/review/page.tsx
  frontend/src/app/(main)/resumes/new/page.tsx
  frontend/src/app/(main)/resumes/page.tsx
  frontend/src/app/(main)/settings/page.tsx
  frontend/src/app/(main)/usage/page.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(plan): mark Phase 4 complete in JSDoc audit plan
  docs/plan/032_jsdoc_audit_plan.md
Due: none

docs(jsdoc): add three-axis headers to 12 layout/ + persona/ components
  frontend/src/components/layout/app-shell.tsx
  frontend/src/components/layout/chat-sidebar.tsx
  frontend/src/components/layout/onboarding-gate.tsx
  frontend/src/components/layout/top-nav.tsx
  frontend/src/components/persona/basic-info-editor.tsx
  frontend/src/components/persona/certification-editor.tsx
  frontend/src/components/persona/education-editor.tsx
  frontend/src/components/persona/non-negotiables-editor.tsx
  frontend/src/components/persona/persona-overview.tsx
  frontend/src/components/persona/skills-editor.tsx
  frontend/src/components/persona/voice-profile-editor.tsx
  frontend/src/components/persona/work-history-editor.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(jsdoc): add three-axis headers to 8 persona/ components (second half)
  frontend/src/components/persona/achievement-stories-editor.tsx
  frontend/src/components/persona/change-flags-banner.tsx
  frontend/src/components/persona/change-flags-resolver.tsx
  frontend/src/components/persona/discovery-preferences-editor.tsx
  frontend/src/components/persona/growth-targets-editor.tsx
  frontend/src/components/persona/growth-targets-form-fields.tsx
  frontend/src/components/persona/non-negotiables-form-fields.tsx
  frontend/src/components/persona/voice-profile-form-fields.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(plan): mark Phase 5 complete in JSDoc audit plan
  docs/plan/032_jsdoc_audit_plan.md
Due: none

docs(jsdoc): add three-axis headers to 16 jobs/ + dashboard/ components
  frontend/src/components/dashboard/add-job-modal.tsx
  frontend/src/components/dashboard/applications-table.tsx
  frontend/src/components/dashboard/dashboard-tabs.tsx
  frontend/src/components/dashboard/opportunities-table.tsx
  frontend/src/components/jobs/cover-letter-section.tsx
  frontend/src/components/jobs/create-variant-card.tsx
  frontend/src/components/jobs/culture-signals.tsx
  frontend/src/components/jobs/draft-materials-card.tsx
  frontend/src/components/jobs/extracted-skills-tags.tsx
  frontend/src/components/jobs/job-description.tsx
  frontend/src/components/jobs/job-detail-actions.tsx
  frontend/src/components/jobs/job-detail-header.tsx
  frontend/src/components/jobs/mark-as-applied-card.tsx
  frontend/src/components/jobs/review-materials-link.tsx
  frontend/src/components/jobs/score-breakdown.tsx
  frontend/src/components/jobs/score-explanation.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(plan): mark Phase 6 complete in JSDoc audit plan
  docs/plan/032_jsdoc_audit_plan.md
Due: none

docs(jsdoc): add three-axis headers to 19 resume/ + editor/ components
  frontend/src/components/editor/diff-view.tsx
  frontend/src/components/editor/editor-status-bar.tsx
  frontend/src/components/editor/editor-toolbar.tsx
  frontend/src/components/editor/generation-options-panel.tsx
  frontend/src/components/editor/job-requirements-panel.tsx
  frontend/src/components/editor/persona-reference-panel.tsx
  frontend/src/components/editor/resume-editor.tsx
  frontend/src/components/editor/template-picker.tsx
  frontend/src/components/resume/creation-method-buttons.tsx
  frontend/src/components/resume/diff-text.tsx
  frontend/src/components/resume/export-buttons.tsx
  frontend/src/components/resume/guardrail-violation-banner.tsx
  frontend/src/components/resume/new-resume-wizard.tsx
  frontend/src/components/resume/resume-content-checkboxes.tsx
  frontend/src/components/resume/resume-content-view.tsx
  frontend/src/components/resume/resume-detail.tsx
  frontend/src/components/resume/resume-list.tsx
  frontend/src/components/resume/variant-review.tsx
  frontend/src/components/resume/variants-list.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(plan): mark Phase 7 complete in JSDoc audit plan
  docs/plan/032_jsdoc_audit_plan.md
Due: none

docs(jsdoc): add three-axis headers to 13 chat/ + cover-letter/ components
  frontend/src/components/chat/chat-confirm-card.tsx
  frontend/src/components/chat/chat-input.tsx
  frontend/src/components/chat/chat-job-card.tsx
  frontend/src/components/chat/chat-message-list.tsx
  frontend/src/components/chat/chat-option-list.tsx
  frontend/src/components/chat/chat-score-card.tsx
  frontend/src/components/chat/message-bubble.tsx
  frontend/src/components/chat/streaming-cursor.tsx
  frontend/src/components/chat/tool-execution-badge.tsx
  frontend/src/components/chat/typing-indicator.tsx
  frontend/src/components/cover-letter/cover-letter-review.tsx
  frontend/src/components/cover-letter/regeneration-feedback-modal.tsx
  frontend/src/components/cover-letter/story-override-modal.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(plan): mark Phase 8 complete in JSDoc audit plan
  docs/plan/032_jsdoc_audit_plan.md
Due: none

docs(jsdoc): add three-axis headers to 20 applications/ + usage/ components
  frontend/src/components/applications/add-timeline-event-dialog.tsx
  frontend/src/components/applications/application-columns.tsx
  frontend/src/components/applications/application-detail.tsx
  frontend/src/components/applications/application-timeline.tsx
  frontend/src/components/applications/applications-list.tsx
  frontend/src/components/applications/interview-stage-dialog.tsx
  frontend/src/components/applications/job-snapshot-section.tsx
  frontend/src/components/applications/offer-details-card.tsx
  frontend/src/components/applications/offer-details-dialog.tsx
  frontend/src/components/applications/rejection-details-card.tsx
  frontend/src/components/applications/rejection-details-dialog.tsx
  frontend/src/components/applications/status-transition-dropdown.tsx
  frontend/src/components/usage/balance-card.tsx
  frontend/src/components/usage/funding-packs.tsx
  frontend/src/components/usage/low-balance-warning.tsx
  frontend/src/components/usage/purchase-table.tsx
  frontend/src/components/usage/transaction-table.tsx
  frontend/src/components/usage/usage-page.tsx
  frontend/src/components/usage/usage-summary.tsx
  frontend/src/components/usage/usage-table.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(plan): mark Phase 9 complete in JSDoc audit plan
  docs/plan/032_jsdoc_audit_plan.md
Due: none

docs(jsdoc): add three-axis headers to 16 settings/ + admin/ components
  frontend/src/components/admin/add-model-dialog.tsx
  frontend/src/components/admin/add-pack-dialog.tsx
  frontend/src/components/admin/add-pricing-dialog.tsx
  frontend/src/components/admin/admin-config-page.tsx
  frontend/src/components/admin/constants.ts
  frontend/src/components/admin/models-tab.tsx
  frontend/src/components/admin/packs-tab.tsx
  frontend/src/components/admin/pricing-tab.tsx
  frontend/src/components/admin/routing-tab.tsx
  frontend/src/components/admin/routing-test-cell.tsx
  frontend/src/components/admin/system-tab.tsx
  frontend/src/components/admin/users-tab.tsx
  frontend/src/components/settings/account-section.tsx
  frontend/src/components/settings/agent-configuration-section.tsx
  frontend/src/components/settings/job-sources-section.tsx
  frontend/src/components/settings/settings-page.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(jsdoc): add three-axis headers to 15 form/ + data-table/ components
  docs/plan/032_jsdoc_audit_plan.md
  frontend/src/components/data-table/data-table-column-header.tsx
  frontend/src/components/data-table/data-table-pagination.tsx
  frontend/src/components/data-table/data-table-select-column.tsx
  frontend/src/components/data-table/data-table-toolbar.tsx
  frontend/src/components/data-table/data-table.tsx
  frontend/src/components/data-table/index.ts
  frontend/src/components/data-table/toolbar-select.tsx
  frontend/src/components/form/form-action-footer.tsx
  frontend/src/components/form/form-error-summary.tsx
  frontend/src/components/form/form-input-field.tsx
  frontend/src/components/form/form-select-field.tsx
  frontend/src/components/form/form-tag-field.tsx
  frontend/src/components/form/form-textarea-field.tsx
  frontend/src/components/form/index.ts
  frontend/src/components/form/submit-button.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(plan): mark Phase 10 complete in JSDoc audit plan
  docs/plan/032_jsdoc_audit_plan.md
Due: none

docs(jsdoc): add three-axis headers to 16 onboarding/ components
  frontend/src/components/onboarding/onboarding-shell.tsx
  frontend/src/components/onboarding/onboarding-steps.ts
  frontend/src/components/onboarding/steps/basic-info-step.tsx
  frontend/src/components/onboarding/steps/certification-card.tsx
  frontend/src/components/onboarding/steps/certification-form.tsx
  frontend/src/components/onboarding/steps/certification-step.tsx
  frontend/src/components/onboarding/steps/crud-step-layout.tsx
  frontend/src/components/onboarding/steps/education-card.tsx
  frontend/src/components/onboarding/steps/education-form.tsx
  frontend/src/components/onboarding/steps/education-step.tsx
  frontend/src/components/onboarding/steps/skills-card.tsx
  frontend/src/components/onboarding/steps/skills-form.tsx
  frontend/src/components/onboarding/steps/skills-step.tsx
  frontend/src/components/onboarding/steps/work-history-card.tsx
  frontend/src/components/onboarding/steps/work-history-form.tsx
  frontend/src/components/onboarding/steps/work-history-step.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(jsdoc): add three-axis headers to 15 onboarding/steps/ components
  frontend/src/components/onboarding/steps/base-resume-setup-step.tsx
  frontend/src/components/onboarding/steps/bullet-editor.tsx
  frontend/src/components/onboarding/steps/bullet-form.tsx
  frontend/src/components/onboarding/steps/bullet-item.tsx
  frontend/src/components/onboarding/steps/custom-filter-card.tsx
  frontend/src/components/onboarding/steps/custom-filter-form.tsx
  frontend/src/components/onboarding/steps/custom-filters-section.tsx
  frontend/src/components/onboarding/steps/growth-targets-step.tsx
  frontend/src/components/onboarding/steps/non-negotiables-step.tsx
  frontend/src/components/onboarding/steps/resume-upload-step.tsx
  frontend/src/components/onboarding/steps/review-step.tsx
  frontend/src/components/onboarding/steps/story-card.tsx
  frontend/src/components/onboarding/steps/story-form.tsx
  frontend/src/components/onboarding/steps/story-step.tsx
  frontend/src/components/onboarding/steps/voice-profile-step.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(plan): update status and CLAUDE.md after §27 completion
  docs/plan/032_jsdoc_audit_plan.md
Due: none

docs(jsdoc): add three-axis headers to ghostwriter/ and 15 ui/ components
  frontend/src/components/ghostwriter/ghostwriter-review.tsx
  frontend/src/components/ui/agent-reasoning.tsx
  frontend/src/components/ui/confirmation-dialog.tsx
  frontend/src/components/ui/connection-status.tsx
  frontend/src/components/ui/delete-reference-dialog.tsx
  frontend/src/components/ui/error-states.tsx
  frontend/src/components/ui/form-alert-dialog.tsx
  frontend/src/components/ui/form.tsx
  frontend/src/components/ui/pdf-viewer.tsx
  frontend/src/components/ui/progress.tsx
  frontend/src/components/ui/reorderable-list.tsx
  frontend/src/components/ui/score-tier-badge.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/components/ui/sonner.tsx
  frontend/src/components/ui/status-badge.tsx
  frontend/src/components/ui/table-pagination.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(plan): update status after §28 completion
  docs/plan/032_jsdoc_audit_plan.md
Due: none

docs(plan): mark Phase 11 complete after gate pass
  docs/plan/032_jsdoc_audit_plan.md
Due: none

docs(docstring): add coordination headers -- core/ + app root
  backend/app/core/account_linking.py
  backend/app/core/auth.py
  backend/app/core/config.py
  backend/app/core/database.py
  backend/app/core/email.py
  backend/app/core/errors.py
  backend/app/core/file_validation.py
  backend/app/core/filtering.py
  backend/app/core/llm_sanitization.py
  backend/app/core/null_byte_middleware.py
  backend/app/core/oauth.py
  backend/app/core/oauth_client.py
  backend/app/core/pagination.py
  backend/app/core/rate_limiting.py
  backend/app/core/responses.py
  backend/app/core/stripe_client.py
  backend/app/core/tenant_session.py
  backend/app/main.py
Due: backend-mypy

docs(plan): update status after §30 completion
  docs/plan/032_jsdoc_audit_plan.md
Due: none

docs(plan): mark Phase 12 complete after gate pass
  docs/plan/032_jsdoc_audit_plan.md
Due: none

docs(docstring): add coordination headers to 19 models/ files
  backend/app/models/account.py
  backend/app/models/admin_config.py
  backend/app/models/application.py
  backend/app/models/base.py
  backend/app/models/cover_letter.py
  backend/app/models/job_posting.py
  backend/app/models/job_source.py
  backend/app/models/persona.py
  backend/app/models/persona_content.py
  backend/app/models/persona_job.py
  backend/app/models/persona_settings.py
  backend/app/models/resume.py
  backend/app/models/resume_template.py
  backend/app/models/session.py
  backend/app/models/stripe.py
  backend/app/models/usage.py
  backend/app/models/usage_reservation.py
  backend/app/models/user.py
  backend/app/models/verification_token.py
Due: backend-mypy

docs(plan): update status after §32 completion
  docs/plan/032_jsdoc_audit_plan.md
Due: none

docs(docstring): add coordination headers to 10 schemas/ files
  backend/app/schemas/admin.py
  backend/app/schemas/bulk.py
  backend/app/schemas/chat.py
  backend/app/schemas/credits.py
  backend/app/schemas/ingest.py
  backend/app/schemas/job_posting.py
  backend/app/schemas/prompt_params.py
  backend/app/schemas/resume.py
  backend/app/schemas/resume_template.py
  backend/app/schemas/usage.py
Due: backend-mypy

docs(plan): update status after §33 completion
  docs/plan/032_jsdoc_audit_plan.md
Due: none

docs(plan): mark Phase 13 complete after gate pass
  docs/plan/032_jsdoc_audit_plan.md
Due: none
