Repository ApexAZ/zentropy_scout: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-mypy, frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
#
# Install hooks: pre-commit install --hook-type pre-commit --hook-type pre-push
# Run manually: pre-commit run --all-files
# Skip (emergency): git commit --no-verify -m "message"
#
# Hook stages:
# - commit: Fast checks (linting, formatting) - runs on every commit
# - push: Full test suite - runs before pushing to remote

repos:
  # Ruff - fast Python linter and formatter (runs on COMMIT)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-check
        args: [--fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Standard pre-commit hooks (runs on COMMIT)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: detect-private-key

  # Bandit - Python security linter (runs on COMMIT)
  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.3
    hooks:
      - id: bandit
        args: ["-c", "backend/pyproject.toml", "-r"]
        files: ^backend/app/
        exclude: ^backend/tests/

  # Gitleaks - Secret detection (runs on COMMIT)
  # Uses locally installed gitleaks binary to avoid building from Go source
  - repo: local
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets
        entry: gitleaks git --pre-commit --redact --staged
        language: system
        pass_filenames: false

  # Mypy - Python type checking (runs on COMMIT)
  - repo: local
    hooks:
      - id: backend-mypy
        name: mypy (backend)
        entry: bash -c 'cd backend && .venv/bin/python -m mypy app/ --ignore-missing-imports --warn-unused-ignores'
        language: system
        pass_filenames: false
        files: ^backend/app/

  # Frontend ESLint - TypeScript/React linter (runs on COMMIT)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: ESLint (frontend)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        pass_filenames: false
        files: ^frontend/

  # Frontend Prettier - format check (runs on COMMIT)
  - repo: local
    hooks:
      - id: frontend-prettier
        name: Prettier (frontend)
        entry: bash -c 'cd frontend && npm run format:check'
        language: system
        pass_filenames: false
        files: ^frontend/

  # Frontend TypeScript - type check (runs on COMMIT)
  - repo: local
    hooks:
      - id: frontend-typecheck
        name: TypeScript (frontend)
        entry: bash -c 'cd frontend && npm run typecheck'
        language: system
        pass_filenames: false
        files: ^frontend/

  # Pytest - full backend test suite (runs on PUSH only)
  # always_run: backend is core logic, run tests on every push regardless of changed files
  - repo: local
    hooks:
      - id: pytest
        name: pytest (full suite)
        entry: bash -c 'cd backend && .venv/bin/python -m pytest tests/ -v --tb=short'
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

  # Frontend Vitest - full frontend test suite (runs on PUSH only)
  - repo: local
    hooks:
      - id: frontend-vitest
        name: Vitest (frontend)
        entry: bash -c 'cd frontend && npm run test:run'
        language: system
        pass_filenames: false
        files: ^frontend/
        stages: [pre-push]

# Summary:
# ON COMMIT: ruff lint/format, bandit security scan, gitleaks secret detection,
#            mypy type check, ESLint, Prettier format check, TypeScript type check (fast)
# ON PUSH: Full pytest + Vitest suites (comprehensive - all tests must pass)

refactor: unify embedding enums into canonical str,Enum definitions
  backend/app/services/embedding/storage.py
  backend/app/services/embedding/types.py
  backend/tests/unit/test_embedding_types.py
  docs/plan/services_reorganization_plan.md
Due: backend-mypy

docs(harness): enforce three-axis file-level JSDoc headers across read and write paths
  .claude/agents/code-reviewer.md
  .claude/settings.json
  .claude/skills/zentropy-docs/SKILL.md
  .claude/skills/zentropy-planner/SKILL.md
  CLAUDE.md
Due: none

docs(plan): mark Phase 2 complete — embedding/ move + enum unification
  docs/plan/services_reorganization_plan.md
Due: none

test(e2e): add low-balance warning and button loading state tests
  docs/plan/playwright_test_gaps_plan.md
  frontend/tests/e2e/billing-checkout.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(plan): update status and branch after Phase 1-2 merge
  docs/plan/services_reorganization_plan.md
Due: none

docs(plan): mark Phase 6 complete — billing & checkout E2E coverage
  docs/plan/playwright_test_gaps_plan.md
Due: none

test(e2e): billing & checkout E2E coverage (Phase 6) (#69)
  docs/plan/playwright_test_gaps_plan.md
  frontend/tests/e2e/billing-checkout.spec.ts
  frontend/tests/fixtures/usage-mock-data.ts
  frontend/tests/utils/usage-api-mocks.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

refactor(services): move 9 core scoring files to services/scoring/
  backend/app/services/base_resume_selection.py
  backend/app/services/batch_scoring.py
  backend/app/services/explanation_generation.py
  backend/app/services/job_scoring_service.py
  backend/app/services/pool_scoring.py
  backend/app/services/scoring/__init__.py
  backend/app/services/scoring/experience_level.py
  backend/app/services/scoring/fit_score.py
  backend/app/services/scoring/hard_skills_match.py
  backend/app/services/scoring/location_logistics.py
  backend/app/services/scoring/role_title_match.py
  backend/app/services/scoring/score_explanation.py
  backend/app/services/scoring/score_types.py
  backend/app/services/scoring/soft_skills_match.py
  backend/app/services/scoring/stretch_score.py
  backend/app/services/scoring_flow.py
  backend/tests/unit/test_auto_draft_threshold.py
  backend/tests/unit/test_career_changer_edge_cases.py
  backend/tests/unit/test_entry_level_edge_cases.py
  backend/tests/unit/test_executive_role_edge_cases.py
  backend/tests/unit/test_experience_level.py
  backend/tests/unit/test_explanation_generation.py
  backend/tests/unit/test_fit_score_aggregation.py
  backend/tests/unit/test_fit_score_interpretation.py
  backend/tests/unit/test_fit_score_weights.py
  backend/tests/unit/test_growth_trajectory.py
  backend/tests/unit/test_hard_skills_match.py
  backend/tests/unit/test_location_logistics.py
  backend/tests/unit/test_missing_data_edge_cases.py
  backend/tests/unit/test_role_title_match.py
  backend/tests/unit/test_score_types.py
  backend/tests/unit/test_soft_skills_match.py
  backend/tests/unit/test_stretch_score_aggregation.py
  backend/tests/unit/test_stretch_score_interpretation.py
  backend/tests/unit/test_target_role_alignment.py
  backend/tests/unit/test_target_skills_exposure.py
  docs/plan/services_reorganization_plan.md
Due: backend-mypy

refactor(services): move 8 scoring orchestration files to services/scoring/
  backend/app/services/job_fetch_service.py
  backend/app/services/pool_surfacing_service.py
  backend/app/services/scoring/batch_scoring.py
  backend/app/services/scoring/explanation_generation.py
  backend/app/services/scoring/golden_set.py
  backend/app/services/scoring/job_scoring_service.py
  backend/app/services/scoring/non_negotiables_filter.py
  backend/app/services/scoring/pool_scoring.py
  backend/app/services/scoring/score_correlation.py
  backend/app/services/scoring/scoring_flow.py
  backend/tests/unit/test_batch_scoring.py
  backend/tests/unit/test_career_changer_edge_cases.py
  backend/tests/unit/test_entry_level_edge_cases.py
  backend/tests/unit/test_executive_role_edge_cases.py
  backend/tests/unit/test_explanation_generation.py
  backend/tests/unit/test_golden_set.py
  backend/tests/unit/test_golden_set_fixture.py
  backend/tests/unit/test_job_scoring_service.py
  backend/tests/unit/test_missing_data_edge_cases.py
  backend/tests/unit/test_non_negotiables_filter.py
  backend/tests/unit/test_pool_scoring.py
  backend/tests/unit/test_score_correlation.py
  backend/tests/unit/test_score_details.py
  backend/tests/unit/test_score_scenarios.py
  backend/tests/unit/test_scoring_flow.py
  docs/plan/services_reorganization_plan.md
Due: backend-mypy

docs(plan): mark Phase 3 complete — scoring/ move (17 files)
  docs/plan/services_reorganization_plan.md
Due: none

refactor(services): move 10 generation orchestration+resume files to services/generation/
  backend/app/agents/chat.py
  backend/app/api/v1/base_resumes.py
  backend/app/api/v1/job_variants.py
  backend/app/services/generation/__init__.py
  backend/app/services/generation/base_resume_selection.py
  backend/app/services/generation/bullet_reordering.py
  backend/app/services/generation/content_generation_service.py
  backend/app/services/generation/content_utils.py
  backend/app/services/generation/ghostwriter_triggers.py
  backend/app/services/generation/modification_limits.py
  backend/app/services/generation/resume_generation_service.py
  backend/app/services/generation/resume_tailoring_service.py
  backend/app/services/generation/tailoring_decision.py
  backend/app/services/generation/voice_prompt_block.py
  backend/app/services/story_selection.py
  backend/tests/unit/test_api_variant_for_job.py
  backend/tests/unit/test_base_resume_selection.py
  backend/tests/unit/test_bullet_reordering.py
  backend/tests/unit/test_chat_agent.py
  backend/tests/unit/test_content_generation_service.py
  backend/tests/unit/test_content_utils.py
  backend/tests/unit/test_ghostwriter_triggers.py
  backend/tests/unit/test_graph_invocation.py
  backend/tests/unit/test_modification_limits.py
  backend/tests/unit/test_resume_generation_service.py
  backend/tests/unit/test_resume_llm_generate.py
  backend/tests/unit/test_tailoring_decision.py
  backend/tests/unit/test_voice_prompt_block.py
  docs/plan/services_reorganization_plan.md
Due: backend-mypy

refactor(services): move 7 cover letter pipeline files to services/generation/
  backend/app/services/generation/content_generation_service.py
  backend/app/services/generation/cover_letter_generation.py
  backend/app/services/generation/cover_letter_output.py
  backend/app/services/generation/cover_letter_structure.py
  backend/app/services/generation/cover_letter_validation.py
  backend/app/services/generation/reasoning_explanation.py
  backend/app/services/generation/story_selection.py
  backend/app/services/generation/voice_validation.py
  backend/tests/unit/test_cover_letter_generation.py
  backend/tests/unit/test_cover_letter_output.py
  backend/tests/unit/test_cover_letter_structure.py
  backend/tests/unit/test_cover_letter_validation.py
  backend/tests/unit/test_reasoning_explanation.py
  backend/tests/unit/test_story_selection.py
  backend/tests/unit/test_voice_validation.py
  docs/plan/services_reorganization_plan.md
Due: backend-mypy

refactor(services): move 7 generation edge case+quality files to services/generation/
  backend/app/services/generation/data_availability.py
  backend/app/services/generation/duplicate_story.py
  backend/app/services/generation/generation_outcome.py
  backend/app/services/generation/job_expiry.py
  backend/app/services/generation/persona_change.py
  backend/app/services/generation/quality_metrics.py
  backend/app/services/generation/regeneration.py
  backend/tests/unit/test_data_availability.py
  backend/tests/unit/test_duplicate_story.py
  backend/tests/unit/test_generation_outcome.py
  backend/tests/unit/test_job_expiry.py
  backend/tests/unit/test_llm_sanitization.py
  backend/tests/unit/test_persona_change.py
  backend/tests/unit/test_quality_metrics.py
  backend/tests/unit/test_regeneration.py
  docs/plan/services_reorganization_plan.md
Due: backend-mypy

docs(plan): mark Phase 4 complete — generation/ move (24 files)
  docs/plan/services_reorganization_plan.md
Due: none

refactor(services): move 8 rendering files to services/rendering/
  backend/app/api/v1/base_resumes.py
  backend/app/api/v1/job_variants.py
  backend/app/api/v1/onboarding.py
  backend/app/api/v1/resume_templates.py
  backend/app/services/generation/resume_generation_service.py
  backend/app/services/rendering/__init__.py
  backend/app/services/rendering/cover_letter_editing.py
  backend/app/services/rendering/cover_letter_pdf_generation.py
  backend/app/services/rendering/cover_letter_pdf_storage.py
  backend/app/services/rendering/markdown_docx_renderer.py
  backend/app/services/rendering/markdown_pdf_renderer.py
  backend/app/services/rendering/pdf_generation.py
  backend/app/services/rendering/resume_parsing_service.py
  backend/app/services/rendering/resume_template_service.py
  backend/tests/unit/test_api_onboarding.py
  backend/tests/unit/test_cover_letter_editing.py
  backend/tests/unit/test_cover_letter_pdf_generation.py
  backend/tests/unit/test_cover_letter_pdf_storage.py
  backend/tests/unit/test_markdown_docx_renderer.py
  backend/tests/unit/test_markdown_pdf_renderer.py
  backend/tests/unit/test_pdf_generation.py
  backend/tests/unit/test_resume_generation_service.py
  backend/tests/unit/test_resume_llm_generate.py
  backend/tests/unit/test_resume_parsing_service.py
  backend/tests/unit/test_resume_template_service.py
  docs/plan/services_reorganization_plan.md
Due: backend-mypy

docs(plan): mark Phase 5 complete — rendering/ move (8 files)
  docs/plan/services_reorganization_plan.md
Due: none

refactor(services): move 8 discovery core pipeline files to services/discovery/
  backend/app/api/v1/job_postings.py
  backend/app/repositories/job_pool_repository.py
  backend/app/services/discovery/__init__.py
  backend/app/services/discovery/content_security.py
  backend/app/services/discovery/discovery_workflow.py
  backend/app/services/discovery/ghost_detection.py
  backend/app/services/discovery/global_dedup_service.py
  backend/app/services/discovery/job_deduplication.py
  backend/app/services/discovery/job_enrichment_service.py
  backend/app/services/discovery/job_extraction.py
  backend/app/services/discovery/job_fetch_service.py
  backend/app/services/pool_surfacing_service.py
  backend/tests/unit/test_content_security.py
  backend/tests/unit/test_discovery_workflow.py
  backend/tests/unit/test_ghost_detection.py
  backend/tests/unit/test_global_dedup_service.py
  backend/tests/unit/test_job_deduplication.py
  backend/tests/unit/test_job_enrichment_service.py
  backend/tests/unit/test_job_extraction.py
  backend/tests/unit/test_job_fetch_service.py
  docs/plan/services_reorganization_plan.md
Due: backend-mypy

refactor(services): move 8 discovery status/pool/utility files to services/discovery/
  backend/app/main.py
  backend/app/services/discovery/discovery_workflow.py
  backend/app/services/discovery/expiration_detection.py
  backend/app/services/discovery/job_fetch_service.py
  backend/app/services/discovery/job_status.py
  backend/app/services/discovery/pool_surfacing_service.py
  backend/app/services/discovery/pool_surfacing_worker.py
  backend/app/services/discovery/scouter_errors.py
  backend/app/services/discovery/scouter_utils.py
  backend/app/services/discovery/source_selection.py
  backend/app/services/discovery/user_review.py
  backend/tests/unit/test_content_security.py
  backend/tests/unit/test_expiration_detection.py
  backend/tests/unit/test_job_fetch_service.py
  backend/tests/unit/test_job_status_transitions.py
  backend/tests/unit/test_pool_surfacing_service.py
  backend/tests/unit/test_pool_surfacing_worker.py
  backend/tests/unit/test_scouter_error_handling.py
  backend/tests/unit/test_scouter_utils.py
  backend/tests/unit/test_source_selection.py
  backend/tests/unit/test_user_review.py
  docs/plan/services_reorganization_plan.md
Due: backend-mypy

docs(plan): mark Phase 6 complete — discovery/ (16 files moved)
  docs/plan/services_reorganization_plan.md
Due: none

docs(services): add cross-cutting docstrings and package __init__.py docstring
  backend/app/services/__init__.py
  backend/app/services/agent_handoff.py
  backend/app/services/agent_message.py
  backend/app/services/application_workflow.py
  backend/app/services/ingest_token_store.py
  backend/app/services/persona_sync.py
  backend/app/services/retention_cleanup.py
  docs/plan/services_reorganization_plan.md
Due: backend-mypy

docs(plan): mark Phase 7 complete — cross-cutting + package docstrings
  docs/plan/services_reorganization_plan.md
Due: none

docs(services): add Coordinates-with/Called-by docstrings to scoring/ (17 files)
  backend/app/services/scoring/batch_scoring.py
  backend/app/services/scoring/experience_level.py
  backend/app/services/scoring/explanation_generation.py
  backend/app/services/scoring/fit_score.py
  backend/app/services/scoring/golden_set.py
  backend/app/services/scoring/hard_skills_match.py
  backend/app/services/scoring/job_scoring_service.py
  backend/app/services/scoring/location_logistics.py
  backend/app/services/scoring/non_negotiables_filter.py
  backend/app/services/scoring/pool_scoring.py
  backend/app/services/scoring/role_title_match.py
  backend/app/services/scoring/score_correlation.py
  backend/app/services/scoring/score_explanation.py
  backend/app/services/scoring/score_types.py
  backend/app/services/scoring/scoring_flow.py
  backend/app/services/scoring/soft_skills_match.py
  backend/app/services/scoring/stretch_score.py
  docs/plan/services_reorganization_plan.md
Due: backend-mypy

docs(services): add Coordinates-with/Called-by docstrings to embedding/ + generation/ (31 files)
  backend/app/services/embedding/cache.py
  backend/app/services/embedding/cost.py
  backend/app/services/embedding/job_generator.py
  backend/app/services/embedding/persona_generator.py
  backend/app/services/embedding/storage.py
  backend/app/services/embedding/types.py
  backend/app/services/embedding/utils.py
  backend/app/services/generation/base_resume_selection.py
  backend/app/services/generation/bullet_reordering.py
  backend/app/services/generation/content_generation_service.py
  backend/app/services/generation/content_utils.py
  backend/app/services/generation/cover_letter_generation.py
  backend/app/services/generation/cover_letter_output.py
  backend/app/services/generation/cover_letter_structure.py
  backend/app/services/generation/cover_letter_validation.py
  backend/app/services/generation/data_availability.py
  backend/app/services/generation/duplicate_story.py
  backend/app/services/generation/generation_outcome.py
  backend/app/services/generation/ghostwriter_triggers.py
  backend/app/services/generation/job_expiry.py
  backend/app/services/generation/modification_limits.py
  backend/app/services/generation/persona_change.py
  backend/app/services/generation/quality_metrics.py
  backend/app/services/generation/reasoning_explanation.py
  backend/app/services/generation/regeneration.py
  backend/app/services/generation/resume_generation_service.py
  backend/app/services/generation/resume_tailoring_service.py
  backend/app/services/generation/story_selection.py
  backend/app/services/generation/tailoring_decision.py
  backend/app/services/generation/voice_prompt_block.py
  backend/app/services/generation/voice_validation.py
  docs/plan/services_reorganization_plan.md
Due: backend-mypy

docs(services): add Coordinates-with/Called-by docstrings to rendering/ + discovery/ (24 files)
  backend/app/services/discovery/content_security.py
  backend/app/services/discovery/discovery_workflow.py
  backend/app/services/discovery/expiration_detection.py
  backend/app/services/discovery/ghost_detection.py
  backend/app/services/discovery/global_dedup_service.py
  backend/app/services/discovery/job_deduplication.py
  backend/app/services/discovery/job_enrichment_service.py
  backend/app/services/discovery/job_extraction.py
  backend/app/services/discovery/job_fetch_service.py
  backend/app/services/discovery/job_status.py
  backend/app/services/discovery/pool_surfacing_service.py
  backend/app/services/discovery/pool_surfacing_worker.py
  backend/app/services/discovery/scouter_errors.py
  backend/app/services/discovery/scouter_utils.py
  backend/app/services/discovery/source_selection.py
  backend/app/services/discovery/user_review.py
  backend/app/services/rendering/cover_letter_editing.py
  backend/app/services/rendering/cover_letter_pdf_generation.py
  backend/app/services/rendering/cover_letter_pdf_storage.py
  backend/app/services/rendering/markdown_docx_renderer.py
  backend/app/services/rendering/markdown_pdf_renderer.py
  backend/app/services/rendering/pdf_generation.py
  backend/app/services/rendering/resume_parsing_service.py
  backend/app/services/rendering/resume_template_service.py
  docs/plan/services_reorganization_plan.md
Due: backend-mypy

docs(services): add Coordinates-with/Called-by docstrings to billing/ + admin/ + onboarding/ (8 files)
  backend/app/services/admin/admin_config_service.py
  backend/app/services/admin/admin_management_service.py
  backend/app/services/billing/metering_service.py
  backend/app/services/billing/reservation_sweep.py
  backend/app/services/billing/stripe_service.py
  backend/app/services/billing/stripe_webhook_service.py
  backend/app/services/onboarding/onboarding_utils.py
  backend/app/services/onboarding/onboarding_workflow.py
  docs/plan/services_reorganization_plan.md
Due: backend-mypy

docs(plan): mark Phase 8 complete — module docstring standardization
  docs/plan/services_reorganization_plan.md
Due: none

docs(plan): mark Phase 9 complete — final verification + cleanup
  docs/plan/services_reorganization_plan.md
Due: none

docs(plan): update status and CLAUDE.md after REQ-031 merge
  CLAUDE.md
Due: none

refactor(frontend): extract work-history schema, type, and toMonthValue into lib/
  docs/plan/frontend_jsdoc_import_hygiene_plan.md
  frontend/src/components/onboarding/steps/work-history-form.tsx
  frontend/src/components/onboarding/steps/work-history-step.tsx
  frontend/src/components/persona/work-history-editor.tsx
  frontend/src/lib/work-history-helpers.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

refactor(frontend): extract certification + education schemas into lib/ helpers
  docs/plan/frontend_jsdoc_import_hygiene_plan.md
  frontend/src/components/onboarding/steps/certification-form.tsx
  frontend/src/components/onboarding/steps/certification-step.tsx
  frontend/src/components/onboarding/steps/education-form.tsx
  frontend/src/components/onboarding/steps/education-step.tsx
  frontend/src/components/persona/certification-editor.tsx
  frontend/src/components/persona/education-editor.tsx
  frontend/src/lib/certification-helpers.ts
  frontend/src/lib/education-helpers.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

refactor(frontend): extract skills + story schemas into lib/ helpers
  docs/plan/frontend_jsdoc_import_hygiene_plan.md
  frontend/src/components/onboarding/steps/skills-form.tsx
  frontend/src/components/onboarding/steps/skills-step.tsx
  frontend/src/components/onboarding/steps/story-form.tsx
  frontend/src/components/onboarding/steps/story-step.tsx
  frontend/src/components/persona/achievement-stories-editor.tsx
  frontend/src/components/persona/skills-editor.tsx
  frontend/src/lib/achievement-stories-helpers.ts
  frontend/src/lib/skills-helpers.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(plan): mark Phase 1 complete — import direction fix
  docs/plan/frontend_jsdoc_import_hygiene_plan.md
Due: none

docs(plan): mark Phase 2 §6 complete — security triage gate
  docs/plan/frontend_jsdoc_import_hygiene_plan.md
Due: none

docs(frontend): add three-axis JSDoc headers to 14 lib/ provider/API/SSE files
  docs/plan/frontend_jsdoc_import_hygiene_plan.md
  frontend/src/lib/api-client.ts
  frontend/src/lib/auth-provider.tsx
  frontend/src/lib/chat-panel-provider.tsx
  frontend/src/lib/chat-provider.tsx
  frontend/src/lib/embedding-staleness.ts
  frontend/src/lib/onboarding-provider.tsx
  frontend/src/lib/query-client.ts
  frontend/src/lib/query-keys.ts
  frontend/src/lib/query-provider.tsx
  frontend/src/lib/sse-client.ts
  frontend/src/lib/sse-provider.tsx
  frontend/src/lib/sse-query-bridge.ts
  frontend/src/lib/toast.ts
  frontend/src/lib/utils.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(frontend): add three-axis JSDoc to 11 lib/ utility + form infrastructure files
  docs/plan/frontend_jsdoc_import_hygiene_plan.md
  frontend/src/lib/api/admin.ts
  frontend/src/lib/api/credits.ts
  frontend/src/lib/basic-info-schema.ts
  frontend/src/lib/diff-utils.ts
  frontend/src/lib/form-errors.ts
  frontend/src/lib/format-utils.ts
  frontend/src/lib/job-formatters.ts
  frontend/src/lib/map-server-errors.ts
  frontend/src/lib/resume-helpers.ts
  frontend/src/lib/score-formatters.ts
  frontend/src/lib/url-utils.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(frontend): add @coordinates-with JSDoc to 9 lib/ persona helpers
  docs/plan/frontend_jsdoc_import_hygiene_plan.md
  frontend/src/lib/achievement-stories-helpers.ts
  frontend/src/lib/certification-helpers.ts
  frontend/src/lib/discovery-preferences-helpers.ts
  frontend/src/lib/education-helpers.ts
  frontend/src/lib/growth-targets-helpers.ts
  frontend/src/lib/non-negotiables-helpers.ts
  frontend/src/lib/skills-helpers.ts
  frontend/src/lib/voice-profile-helpers.ts
  frontend/src/lib/work-history-helpers.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(hooks): add @coordinates-with JSDoc to 10 hooks/ files
  docs/plan/frontend_jsdoc_import_hygiene_plan.md
  frontend/src/hooks/use-auto-save.ts
  frontend/src/hooks/use-balance.ts
  frontend/src/hooks/use-chat-scroll.ts
  frontend/src/hooks/use-crud-step.ts
  frontend/src/hooks/use-delete-with-references.ts
  frontend/src/hooks/use-is-mobile.ts
  frontend/src/hooks/use-media-query.ts
  frontend/src/hooks/use-persona-status.ts
  frontend/src/hooks/use-resume-content-selection.ts
  frontend/src/hooks/use-resume-detail.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(types): add @coordinates-with JSDoc to 14 types/ files
  docs/plan/frontend_jsdoc_import_hygiene_plan.md
  frontend/src/types/admin.ts
  frontend/src/types/api.ts
  frontend/src/types/application.ts
  frontend/src/types/chat.ts
  frontend/src/types/deletion.ts
  frontend/src/types/index.ts
  frontend/src/types/ingest.ts
  frontend/src/types/job.ts
  frontend/src/types/persona.ts
  frontend/src/types/resume-generation.ts
  frontend/src/types/resume.ts
  frontend/src/types/source.ts
  frontend/src/types/sse.ts
  frontend/src/types/usage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(plan): update status and CLAUDE.md after REQ-032 completion
  CLAUDE.md
  docs/plan/frontend_jsdoc_import_hygiene_plan.md
Due: none

docs(plan): add REQ-032 v1.1 spec and full-codebase JSDoc audit plan
  docs/plan/032_jsdoc_audit_plan.md
  docs/plan/Archive/billing_metering_hardening_plan.md
  docs/plan/Archive/playwright_test_gaps_plan.md
  docs/plan/Archive/services_reorganization_plan.md
  docs/requirements/REQ-032.md
  docs/requirements/REQ-032_frontend_jsdoc_import_hygiene.md
Due: none
