Repository ApexAZ/zentropy_scout: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-mypy, frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
#
# Install hooks: pre-commit install --hook-type pre-commit --hook-type pre-push
# Run manually: pre-commit run --all-files
# Skip (emergency): git commit --no-verify -m "message"
#
# Hook stages:
# - commit: Fast checks (linting, formatting) - runs on every commit
# - push: Full test suite - runs before pushing to remote

repos:
  # Ruff - fast Python linter and formatter (runs on COMMIT)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-check
        args: [--fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Standard pre-commit hooks (runs on COMMIT)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: detect-private-key

  # Bandit - Python security linter (runs on COMMIT)
  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.3
    hooks:
      - id: bandit
        args: ["-c", "backend/pyproject.toml", "-r"]
        files: ^backend/app/
        exclude: ^backend/tests/

  # Gitleaks - Secret detection (runs on COMMIT)
  # Uses locally installed gitleaks binary to avoid building from Go source
  - repo: local
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets
        entry: gitleaks git --pre-commit --redact --staged
        language: system
        pass_filenames: false

  # Mypy - Python type checking (runs on COMMIT)
  - repo: local
    hooks:
      - id: backend-mypy
        name: mypy (backend)
        entry: bash -c 'cd backend && .venv/bin/python -m mypy app/ --ignore-missing-imports --warn-unused-ignores'
        language: system
        pass_filenames: false
        files: ^backend/app/

  # Frontend ESLint - TypeScript/React linter (runs on COMMIT)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: ESLint (frontend)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        pass_filenames: false
        files: ^frontend/

  # Frontend Prettier - format check (runs on COMMIT)
  - repo: local
    hooks:
      - id: frontend-prettier
        name: Prettier (frontend)
        entry: bash -c 'cd frontend && npm run format:check'
        language: system
        pass_filenames: false
        files: ^frontend/

  # Frontend TypeScript - type check (runs on COMMIT)
  - repo: local
    hooks:
      - id: frontend-typecheck
        name: TypeScript (frontend)
        entry: bash -c 'cd frontend && npm run typecheck'
        language: system
        pass_filenames: false
        files: ^frontend/

  # Pytest - full backend test suite (runs on PUSH only)
  # always_run: backend is core logic, run tests on every push regardless of changed files
  - repo: local
    hooks:
      - id: pytest
        name: pytest (full suite)
        entry: bash -c 'cd backend && .venv/bin/python -m pytest tests/ -v --tb=short'
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

  # Frontend Vitest - full frontend test suite (runs on PUSH only)
  - repo: local
    hooks:
      - id: frontend-vitest
        name: Vitest (frontend)
        entry: bash -c 'cd frontend && npm run test:run'
        language: system
        pass_filenames: false
        files: ^frontend/
        stages: [pre-push]

# Summary:
# ON COMMIT: ruff lint/format, bandit security scan, gitleaks secret detection,
#            mypy type check, ESLint, Prettier format check, TypeScript type check (fast)
# ON PUSH: Full pytest + Vitest suites (comprehensive - all tests must pass)

fix(billing): frontend query invalidation + config Decimal + docs (AF-08/10/11/12)
  backend/app/api/deps.py
  backend/app/core/config.py
  backend/app/services/stripe_webhook_service.py
  backend/migrations/versions/028_billing_hardening.py
  backend/tests/unit/test_balance_gating.py
  docs/plan/billing_metering_hardening_plan.md
  frontend/src/components/usage/usage-page.test.tsx
  frontend/src/components/usage/usage-page.tsx
  frontend/src/lib/query-keys.ts
Due: backend-mypy, frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(plan): mark Phase 7 and plan complete - all 40 tasks done
  docs/plan/billing_metering_hardening_plan.md
Due: none

test(visual): add visual regression baselines for 7 authenticated pages
  docs/plan/playwright_test_gaps_plan.md
  frontend/tests/__screenshots__/chromium/e2e/visual-regression.spec.ts/applications-desktop.png
  frontend/tests/__screenshots__/chromium/e2e/visual-regression.spec.ts/dashboard-desktop.png
  frontend/tests/__screenshots__/chromium/e2e/visual-regression.spec.ts/ghostwriter-review-desktop.png
  frontend/tests/__screenshots__/chromium/e2e/visual-regression.spec.ts/persona-basic-info-desktop.png
  frontend/tests/__screenshots__/chromium/e2e/visual-regression.spec.ts/resume-detail-desktop.png
  frontend/tests/__screenshots__/chromium/e2e/visual-regression.spec.ts/resumes-desktop.png
  frontend/tests/__screenshots__/chromium/e2e/visual-regression.spec.ts/settings-desktop.png
  frontend/tests/__screenshots__/firefox/e2e/visual-regression.spec.ts/applications-desktop.png
  frontend/tests/__screenshots__/firefox/e2e/visual-regression.spec.ts/dashboard-desktop.png
  frontend/tests/__screenshots__/firefox/e2e/visual-regression.spec.ts/ghostwriter-review-desktop.png
  frontend/tests/__screenshots__/firefox/e2e/visual-regression.spec.ts/persona-basic-info-desktop.png
  frontend/tests/__screenshots__/firefox/e2e/visual-regression.spec.ts/resume-detail-desktop.png
  frontend/tests/__screenshots__/firefox/e2e/visual-regression.spec.ts/resumes-desktop.png
  frontend/tests/__screenshots__/firefox/e2e/visual-regression.spec.ts/settings-desktop.png
  frontend/tests/__screenshots__/webkit/e2e/visual-regression.spec.ts/applications-desktop.png
  frontend/tests/__screenshots__/webkit/e2e/visual-regression.spec.ts/dashboard-desktop.png
  frontend/tests/__screenshots__/webkit/e2e/visual-regression.spec.ts/ghostwriter-review-desktop.png
  frontend/tests/__screenshots__/webkit/e2e/visual-regression.spec.ts/persona-basic-info-desktop.png
  frontend/tests/__screenshots__/webkit/e2e/visual-regression.spec.ts/resume-detail-desktop.png
  frontend/tests/__screenshots__/webkit/e2e/visual-regression.spec.ts/resumes-desktop.png
  frontend/tests/__screenshots__/webkit/e2e/visual-regression.spec.ts/settings-desktop.png
  frontend/tests/e2e/visual-regression.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

ci(playwright): add visual regression job to CI workflow
  .github/workflows/playwright.yml
  docs/plan/playwright_test_gaps_plan.md
Due: none

test(e2e): add performance budget tests with web vitals
  docs/plan/playwright_test_gaps_plan.md
  frontend/tests/e2e/performance.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(plan): add Phase 8 — post-merge red-team audit round 2
  docs/plan/billing_metering_hardening_plan.md
Due: none

docs: add Docker visual regression workflow to Claude Code config
  .claude/agents/qa-reviewer.md
  .claude/agents/test-runner.md
  .claude/skills/zentropy-commands/SKILL.md
  .claude/skills/zentropy-playwright/SKILL.md
  CLAUDE.md
  docs/plan/playwright_test_gaps_plan.md
Due: none

refactor(auth): extract helpers from oauth_callback to reduce cognitive complexity
  backend/app/api/v1/auth_oauth.py
  docs/plan/billing_metering_hardening_plan.md
Due: backend-mypy

fix(metering): correct embedding reservation parameter mapping (AF-13)
  backend/app/providers/metered_provider.py
  backend/app/services/metering_service.py
  backend/tests/unit/test_metered_provider.py
  backend/tests/unit/test_metering_service.py
  docs/plan/billing_metering_hardening_plan.md
Due: backend-mypy

docs(plan): mark Phase 4 complete — visual regression + performance
  docs/plan/playwright_test_gaps_plan.md
Due: none

fix(discovery): wire embedding_provider through run_discovery() (AF-14)
  backend/app/services/discovery_workflow.py
  backend/tests/unit/test_discovery_workflow.py
  docs/plan/billing_metering_hardening_plan.md
Due: backend-mypy

feat(metering): add held_balance_usd drift detection (AF-15)
  backend/app/services/reservation_sweep.py
  backend/tests/unit/test_reservation_sweep.py
  docs/plan/billing_metering_hardening_plan.md
Due: backend-mypy

docs(plan): mark Phase 8 complete - all 45 tasks done
  docs/plan/billing_metering_hardening_plan.md
Due: none

docs(plan): mark Phase 5 §26 complete — security triage gate
  docs/plan/playwright_test_gaps_plan.md
Due: none

docs(integration): add integration test strategy document
  docs/integration_test_strategy.md
  docs/plan/playwright_test_gaps_plan.md
Due: none

docs(plan): add Phase 9 — settlement retry & revenue protection (AF-16)
  docs/plan/billing_metering_hardening_plan.md
Due: none

docs(req): amend REQ-030 with §5.8 and §11.3 (AF-16)
  docs/plan/billing_metering_hardening_plan.md
  docs/requirements/REQ-030_billing_metering_hardening.md
Due: none

feat(e2e): add integration Playwright project and auth smoke test
  docs/integration_test_strategy.md
  docs/plan/playwright_test_gaps_plan.md
  frontend/package.json
  frontend/playwright.config.ts
  frontend/tests/integration/smoke.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

feat(db): add response metadata columns to usage_reservations (migration 029)
  backend/app/models/usage_reservation.py
  backend/migrations/versions/029_settlement_retry.py
  backend/tests/unit/test_migration_029_settlement_retry.py
  backend/tests/unit/test_usage_reservation_models.py
  docs/plan/billing_metering_hardening_plan.md
Due: backend-mypy

docs(plan): mark Phase 5 complete — all 29 tasks done
  docs/plan/playwright_test_gaps_plan.md
Due: none

feat(metering): add persist_response_metadata() for outbox pattern
  backend/app/services/metering_service.py
  backend/tests/unit/test_metering_service.py
  docs/plan/billing_metering_hardening_plan.md
Due: backend-mypy

feat(metering): wire persist_response_metadata into metered providers
  backend/app/providers/metered_provider.py
  backend/tests/unit/test_metered_provider.py
  docs/plan/billing_metering_hardening_plan.md
Due: backend-mypy

feat(sweep): add settlement retry for stale reservations with response metadata
  backend/app/services/reservation_sweep.py
  backend/tests/unit/test_reservation_sweep.py
  docs/plan/billing_metering_hardening_plan.md
Due: backend-mypy

docs(plan): mark Phase 9 complete - all 52 tasks done
  docs/plan/billing_metering_hardening_plan.md
Due: none

refactor: move scouter.py from agents/ to services/scouter_utils.py
  backend/app/services/discovery_workflow.py
  backend/app/services/job_fetch_service.py
  backend/app/services/scouter_utils.py
  backend/tests/unit/test_scouter_utils.py
Due: backend-mypy

refactor: move ghostwriter.py from agents/ to services/ghostwriter_triggers.py
  backend/app/agents/__init__.py
  backend/app/services/content_generation_service.py
  backend/app/services/ghostwriter_triggers.py
  backend/tests/unit/test_content_generation_service.py
  backend/tests/unit/test_ghostwriter_triggers.py
Due: backend-mypy

refactor: move onboarding.py from agents/ to services/onboarding_utils.py
  backend/app/agents/__init__.py
  backend/app/agents/chat.py
  backend/app/services/onboarding_utils.py
  backend/tests/unit/test_onboarding_utils.py
Due: backend-mypy

docs: add errata to REQ-016, REQ-018, REQ-019 for module relocations
  docs/requirements/REQ-016_scouter_service_layer.md
  docs/requirements/REQ-018_ghostwriter_service_layer.md
  docs/requirements/REQ-019_onboarding_service_layer.md
Due: none

docs(plan): add Phase 6 — Billing & Checkout E2E Coverage
  docs/plan/playwright_test_gaps_plan.md
Due: none

docs(plan): mark Phase 6 §30 complete — security triage gate
  docs/plan/playwright_test_gaps_plan.md
Due: none

docs: add REQ-031 services reorganization spec, plan, and errata
  docs/plan/services_reorganization_plan.md
  docs/requirements/REQ-016_scouter_service_layer.md
  docs/requirements/REQ-017_strategist_service_layer.md
  docs/requirements/REQ-018_ghostwriter_service_layer.md
  docs/requirements/REQ-019_onboarding_service_layer.md
  docs/requirements/REQ-020_token_metering.md
  docs/requirements/REQ-021_credits_billing.md
  docs/requirements/REQ-022_admin_pricing.md
  docs/requirements/REQ-023_usd_direct_billing.md
  docs/requirements/REQ-029-stripe-checkout.md
  docs/requirements/REQ-030_billing_metering_hardening.md
  docs/requirements/REQ-031_services_reorganization.md
Due: none

feat(e2e): extend usage mock controller for checkout flow
  docs/plan/playwright_test_gaps_plan.md
  frontend/tests/fixtures/usage-mock-data.ts
  frontend/tests/utils/usage-api-mocks.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

refactor: move billing services to services/billing/ subdirectory
  backend/app/api/deps.py
  backend/app/api/v1/auth.py
  backend/app/api/v1/auth_magic_link.py
  backend/app/api/v1/auth_oauth.py
  backend/app/api/v1/credits.py
  backend/app/api/v1/webhooks.py
  backend/app/main.py
  backend/app/providers/metered_provider.py
  backend/app/services/billing/__init__.py
  backend/app/services/billing/metering_service.py
  backend/app/services/billing/reservation_sweep.py
  backend/app/services/billing/stripe_service.py
  backend/app/services/billing/stripe_webhook_service.py
  backend/tests/integration/_reservation_helpers.py
  backend/tests/integration/test_admin_pricing_pipeline.py
  backend/tests/integration/test_reservation_advanced.py
  backend/tests/integration/test_webhook_hardening.py
  backend/tests/unit/test_balance_drift.py
  backend/tests/unit/test_credits_api.py
  backend/tests/unit/test_metering_integration.py
  backend/tests/unit/test_metering_service.py
  backend/tests/unit/test_reservation_sweep.py
  backend/tests/unit/test_stripe_checkout_session.py
  backend/tests/unit/test_stripe_service.py
  backend/tests/unit/test_stripe_signup_grant.py
  backend/tests/unit/test_stripe_webhook_checkout.py
  backend/tests/unit/test_stripe_webhook_expired.py
  backend/tests/unit/test_stripe_webhook_refund.py
  backend/tests/unit/test_stripe_webhook_refund_hardening.py
  docs/plan/services_reorganization_plan.md
Due: backend-mypy

refactor: move admin services to services/admin/ subdirectory
  backend/app/api/deps.py
  backend/app/api/v1/admin.py
  backend/app/providers/metered_provider.py
  backend/app/services/admin/__init__.py
  backend/app/services/admin/admin_config_service.py
  backend/app/services/admin/admin_management_service.py
  backend/app/services/billing/metering_service.py
  backend/app/services/billing/reservation_sweep.py
  backend/tests/integration/_reservation_helpers.py
  backend/tests/integration/test_admin_pricing_pipeline.py
  backend/tests/integration/test_config_key_rename.py
  backend/tests/unit/test_admin_config_service.py
  backend/tests/unit/test_admin_management_service.py
  backend/tests/unit/test_metering_integration.py
  backend/tests/unit/test_metering_service.py
  backend/tests/unit/test_reservation_sweep.py
  docs/plan/services_reorganization_plan.md
Due: backend-mypy

test(e2e): add billing checkout flow E2E tests (Phase 6 §32)
  docs/plan/playwright_test_gaps_plan.md
  frontend/tests/e2e/billing-checkout.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

refactor: move onboarding services to services/onboarding/ subdirectory
  backend/app/agents/chat.py
  backend/app/services/onboarding/__init__.py
  backend/app/services/onboarding/onboarding_utils.py
  backend/app/services/onboarding/onboarding_workflow.py
  backend/tests/unit/test_onboarding_utils.py
  backend/tests/unit/test_onboarding_workflow.py
  backend/tests/unit/test_race_conditions.py
  docs/plan/services_reorganization_plan.md
Due: backend-mypy

docs(plan): mark Phase 1 complete — billing/, admin/, onboarding/ moved
  docs/plan/services_reorganization_plan.md
Due: none

refactor: move embedding services to services/embedding/ subdirectory
  backend/app/services/batch_scoring.py
  backend/app/services/embedding/__init__.py
  backend/app/services/embedding/cache.py
  backend/app/services/embedding/cost.py
  backend/app/services/embedding/job_generator.py
  backend/app/services/embedding/persona_generator.py
  backend/app/services/embedding/storage.py
  backend/app/services/embedding/types.py
  backend/app/services/embedding/utils.py
  backend/app/services/job_scoring_service.py
  backend/app/services/role_title_match.py
  backend/app/services/stretch_score.py
  backend/scripts/reembed_all.py
  backend/tests/unit/test_batch_scoring.py
  backend/tests/unit/test_embedding_cache.py
  backend/tests/unit/test_embedding_cost.py
  backend/tests/unit/test_embedding_freshness.py
  backend/tests/unit/test_embedding_storage.py
  backend/tests/unit/test_embedding_types.py
  backend/tests/unit/test_job_embedding_generation.py
  backend/tests/unit/test_persona_embedding_generation.py
  backend/tests/unit/test_score_scenarios.py
  docs/plan/services_reorganization_plan.md
Due: backend-mypy

test(e2e): add 402 insufficient balance tests to billing-checkout spec
  docs/plan/playwright_test_gaps_plan.md
  frontend/tests/e2e/billing-checkout.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest
