Repository ApexAZ/zentropy_scout: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-mypy, frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

backend-mypy:
  name: mypy (backend)
  entry: bash -c 'cd backend && .venv/bin/python -m mypy app/ --ignore-missing-imports --warn-unused-ignores'
  language: system
  pass_filenames: false

frontend-eslint:
  name: ESLint (frontend)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-prettier:
  name: Prettier (frontend)
  entry: bash -c 'cd frontend && npm run format:check'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: TypeScript (frontend)
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

frontend-vitest:
  name: Vitest (frontend)
  entry: bash -c 'cd frontend && npm run test:run'
  language: system
  pass_filenames: false
  stages:
  - pre-push

docs(plan): mark Phase 5 §20 security triage gate complete
  docs/plan/stripe_checkout_plan.md
Due: none

feat(frontend): add credits API client, types, and query keys (§21)
  docs/plan/stripe_checkout_plan.md
  frontend/src/lib/api/credits.test.ts
  frontend/src/lib/api/credits.ts
  frontend/src/lib/query-keys.ts
  frontend/src/types/usage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

feat(frontend): add FundingPacks component with checkout redirect (§22)
  docs/plan/stripe_checkout_plan.md
  frontend/src/components/usage/funding-packs.test.tsx
  frontend/src/components/usage/funding-packs.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

feat(frontend): add PurchaseTable and LowBalanceWarning components (§23)
  docs/plan/stripe_checkout_plan.md
  frontend/src/components/usage/low-balance-warning.test.tsx
  frontend/src/components/usage/low-balance-warning.tsx
  frontend/src/components/usage/purchase-table.test.tsx
  frontend/src/components/usage/purchase-table.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

feat(frontend): wire up usage page with Stripe redirect handling (§24)
  docs/plan/stripe_checkout_plan.md
  frontend/src/components/usage/balance-card.test.tsx
  frontend/src/components/usage/balance-card.tsx
  frontend/src/components/usage/funding-packs.tsx
  frontend/src/components/usage/low-balance-warning.tsx
  frontend/src/components/usage/usage-page.test.tsx
  frontend/src/components/usage/usage-page.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

test(e2e): fix stale usage E2E tests + add credits API mocks (§24b)
  docs/plan/stripe_checkout_plan.md
  frontend/tests/e2e/usage.spec.ts
  frontend/tests/fixtures/usage-mock-data.ts
  frontend/tests/utils/usage-api-mocks.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(plan): Phase 5 gate passed — all 7 tasks complete (§25)
  docs/plan/stripe_checkout_plan.md
Due: none

fix(frontend): use native progress element + globalThis (SonarCloud S6819, S7764)
  docs/plan/stripe_checkout_plan.md
  frontend/src/components/usage/balance-card.test.tsx
  frontend/src/components/usage/balance-card.tsx
  frontend/src/components/usage/funding-packs.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

feat(auth): wire signup grant into all registration flows (REQ-029 §12)
  backend/app/api/v1/auth.py
  backend/app/api/v1/auth_magic_link.py
  backend/app/core/account_linking.py
  backend/tests/unit/test_account_linking.py
  backend/tests/unit/test_auth_password_endpoints.py
  backend/tests/unit/test_magic_link_endpoints.py
  docs/plan/stripe_checkout_plan.md
Due: backend-mypy

fix(e2e): disambiguate Extraction cell in admin routing test
  frontend/tests/e2e/admin.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(plan): Phase 6 gate passed — all 6 phases complete (§28)
  docs/plan/stripe_checkout_plan.md
Due: none

docs: archive completed Stripe Checkout plan + update CLAUDE.md status
  CLAUDE.md
  docs/plan/Archive/stripe_checkout_plan.md
Due: none

docs(backlog): mark #13 Stripe Credits Integration complete
  docs/backlog/feature-backlog.md
Due: none

fix(db): add partial unique index for signup grant idempotency
  backend/app/models/usage.py
  backend/app/services/stripe_service.py
  backend/migrations/versions/026_signup_grant_unique_index.py
  backend/tests/unit/test_metering_models.py
Due: backend-mypy

fix(db): wrap checkout credit operations in savepoint for atomicity
  backend/app/services/stripe_webhook_service.py
  backend/tests/unit/test_stripe_webhook_checkout.py
Due: backend-mypy

refactor(agents): remove abandoned local/hosted deployment abstraction
  CLAUDE.md
  backend/app/agents/__init__.py
  backend/app/agents/base.py
  backend/app/agents/chat.py
  backend/app/agents/checkpoint.py
  backend/app/core/tenant_session.py
  backend/tests/unit/test_agent_client.py
  backend/tests/unit/test_agent_session_guard.py
Due: backend-mypy

refactor(auth): move signup grant out of account_linking into oauth callback
  backend/app/api/v1/auth_oauth.py
  backend/app/core/account_linking.py
  backend/tests/unit/test_account_linking.py
  backend/tests/unit/test_oauth_endpoints.py
Due: backend-mypy

fix(stripe): log warning when mark_completed finds no pending purchase
  backend/app/services/stripe_webhook_service.py
  backend/tests/unit/test_stripe_webhook_checkout.py
Due: backend-mypy

fix(db): add index on stripe_purchases.stripe_payment_intent
  backend/app/models/stripe.py
  backend/migrations/versions/027_stripe_payment_intent_index.py
Due: backend-mypy

fix(stripe): pin to stable API version 2025-12-15.clover
  backend/app/core/stripe_client.py
Due: backend-mypy

docs(backlog): add Claude Vision audit approach to PBI #14 and PBI #29 billing hardening
  docs/backlog/feature-backlog.md
Due: none

docs(req): add REQ-030 billing & metering hardening specification
  docs/requirements/REQ-020_token_metering.md
  docs/requirements/REQ-021_credits_billing.md
  docs/requirements/REQ-029-stripe-checkout.md
  docs/requirements/REQ-030_billing_metering_hardening.md
Due: none

docs(plan): add Playwright E2E test coverage gap plan
  docs/plan/playwright_test_gaps_plan.md
Due: none

docs(plan): add billing & metering hardening implementation plan
  docs/plan/billing_metering_hardening_plan.md
Due: none

feat(models): add UsageReservation model and billing hardening schema changes
  backend/app/models/__init__.py
  backend/app/models/admin_config.py
  backend/app/models/stripe.py
  backend/app/models/usage_reservation.py
  backend/app/models/user.py
  backend/tests/unit/test_usage_reservation_models.py
  docs/plan/billing_metering_hardening_plan.md
Due: backend-mypy

fix(deps): upgrade security-critical dependencies + accept pygments CVE
  .github/workflows/pip-audit.yml
  docs/plan/playwright_test_gaps_plan.md
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

feat(db): add migration 028 for billing hardening schema
  backend/migrations/versions/028_billing_hardening.py
  backend/tests/unit/test_migration_028_billing_hardening.py
  docs/plan/billing_metering_hardening_plan.md
Due: none

feat(config): add reservation config and production metering validation
  backend/app/core/config.py
  backend/tests/unit/test_core_config_stripe.py
  docs/plan/billing_metering_hardening_plan.md
Due: backend-mypy

feat(e2e): add Firefox and WebKit browser projects to Playwright config
  docs/plan/playwright_test_gaps_plan.md
  frontend/playwright.config.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(plan): mark Phase 1 complete — database & foundation
  docs/plan/billing_metering_hardening_plan.md
Due: none

ci(playwright): add multi-browser CI with Firefox/WebKit on push only
  .github/workflows/playwright.yml
  docs/plan/playwright_test_gaps_plan.md
Due: none

feat(metering): add MeteringService.reserve() for pre-debit reservation
  backend/app/services/metering_service.py
  backend/tests/unit/test_metering_service.py
  docs/plan/billing_metering_hardening_plan.md
Due: backend-mypy

feat(e2e): add cross-browser npm scripts, Firefox 261/261 passing
  docs/plan/playwright_test_gaps_plan.md
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

feat(metering): add settle() and release() to MeteringService
  backend/app/services/metering_service.py
  backend/tests/unit/test_metering_service.py
  docs/plan/billing_metering_hardening_plan.md
Due: backend-mypy

feat(metering): rewrite MeteredLLMProvider.complete() to reserve→call→settle
  backend/app/providers/metered_provider.py
  backend/tests/unit/test_metered_provider.py
  docs/plan/billing_metering_hardening_plan.md
Due: backend-mypy

feat(metering): rewrite MeteredEmbeddingProvider.embed() to reserve→embed→settle
  backend/app/providers/metered_provider.py
  backend/tests/unit/test_metered_provider.py
  docs/plan/billing_metering_hardening_plan.md
Due: backend-mypy

fix(e2e): resolve WebKit flakiness in auth and resume tests
  docs/plan/playwright_test_gaps_plan.md
  frontend/tests/e2e/auth-login-register.spec.ts
  frontend/tests/e2e/resume-detail.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

feat(billing): use available balance (balance - held) for gating
  backend/app/api/deps.py
  backend/tests/unit/test_balance_gating.py
  docs/plan/billing_metering_hardening_plan.md
Due: backend-mypy

docs(plan): mark Phase 1 complete — multi-browser configuration
  docs/plan/playwright_test_gaps_plan.md
Due: none

fix(tests): update integration tests for reserve→settle pipeline
  backend/tests/integration/test_admin_pricing_pipeline.py
  backend/tests/unit/test_metering_integration.py
Due: none

Path conditions:
  backend-mypy: any of: ^backend/app/
  frontend-eslint: any of: ^frontend/
  frontend-prettier: any of: ^frontend/
  frontend-typecheck: any of: ^frontend/
  frontend-vitest: any of: ^frontend/
