Repository ApexAZ/zentropy_scout: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-mypy, frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

backend-mypy:
  name: mypy (backend)
  entry: bash -c 'cd backend && .venv/bin/python -m mypy app/ --ignore-missing-imports --warn-unused-ignores'
  language: system
  pass_filenames: false

frontend-eslint:
  name: ESLint (frontend)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-prettier:
  name: Prettier (frontend)
  entry: bash -c 'cd frontend && npm run format:check'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: TypeScript (frontend)
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

frontend-vitest:
  name: Vitest (frontend)
  entry: bash -c 'cd frontend && npm run test:run'
  language: system
  pass_filenames: false
  stages:
  - pre-push

feat(config): add job source adapter credentials to Settings (REQ-034 §10)
  .env.example
  backend/app/core/config.py
  docs/plan/034_job_source_adapters_plan.md
Due: backend-mypy

feat(providers): add SEARCH_PROFILE_GENERATION TaskType + seed routing migration
  backend/app/providers/llm/base.py
  backend/app/providers/llm/claude_adapter.py
  backend/app/providers/llm/gemini_adapter.py
  backend/app/providers/llm/openai_adapter.py
  backend/migrations/versions/032_search_profile_routing.py
  backend/tests/unit/test_claude_adapter.py
  backend/tests/unit/test_gemini_adapter.py
  backend/tests/unit/test_migration_032_search_profile_task_type.py
  backend/tests/unit/test_openai_adapter.py
  docs/plan/034_job_source_adapters_plan.md
Due: backend-mypy

docs(plan): mark Phase 1 complete after gate pass
  docs/plan/034_job_source_adapters_plan.md
Due: none

feat(models): add SearchProfile model, schemas, and unit tests
  backend/app/models/__init__.py
  backend/app/models/persona.py
  backend/app/models/search_profile.py
  backend/app/schemas/search_profile.py
  backend/tests/unit/test_search_profile_model.py
  backend/tests/unit/test_search_profile_schemas.py
Due: backend-mypy

docs(plan): mark Phase 2 §2 complete, §3 in-progress
  docs/plan/034_job_source_adapters_plan.md
Due: none

feat(repositories): add SearchProfileRepository with get/create/update/upsert
  backend/app/repositories/search_profile_repository.py
  backend/tests/unit/test_search_profile_repository.py
Due: backend-mypy

docs(plan): mark Phase 2 §3 complete — SearchProfileRepository
  docs/plan/034_job_source_adapters_plan.md
Due: none

feat(services): add SearchProfileService fingerprint and staleness detection
  backend/app/services/discovery/search_profile_service.py
  backend/tests/unit/test_search_profile_service.py
Due: backend-mypy

docs(plan): mark Phase 2 §4 complete — SearchProfileService fingerprint
  docs/plan/034_job_source_adapters_plan.md
Due: none

feat(search-profile): implement generate_profile with LLM, per-element sanitization
  backend/app/services/discovery/search_profile_service.py
  backend/tests/unit/test_search_profile_service.py
  docs/plan/034_job_source_adapters_plan.md
Due: backend-mypy

feat(api): add staleness hook to PATCH /personas/{id}
  backend/app/api/v1/personas.py
  backend/tests/unit/test_personas_staleness_hook.py
  docs/plan/034_job_source_adapters_plan.md
Due: backend-mypy

feat(api): add SearchProfile API endpoints (REQ-034 §4.5)
  backend/app/api/v1/router.py
  backend/app/api/v1/search_profiles.py
  backend/app/schemas/search_profile.py
  backend/app/services/discovery/search_profile_service.py
  backend/tests/unit/test_api_search_profiles.py
  backend/tests/unit/test_search_profile_schemas.py
  docs/plan/034_job_source_adapters_plan.md
Due: backend-mypy

fix(types): add pyright ignores for stub override parameter name mismatches
  backend/app/adapters/sources/adzuna.py
  backend/app/adapters/sources/remoteok.py
  backend/app/adapters/sources/themuse.py
  backend/app/adapters/sources/usajobs.py
  backend/app/providers/llm/mock_adapter.py
  backend/app/providers/metered_provider.py
  backend/app/schemas/chat.py
  docs/plan/034_job_source_adapters_plan.md
Due: backend-mypy

fix(types): add pyright ignores to straggler test files (stub overrides, Any factory helpers)
  backend/tests/unit/test_metering_integration.py
  backend/tests/unit/test_provider_name.py
  backend/tests/unit/test_search_profile_repository.py
  backend/tests/unit/test_search_profile_service.py
Due: none

docs(plan): mark Phase 3 §1 complete — security triage gate CLEAR (16 false positives)
  docs/plan/034_job_source_adapters_plan.md
Due: none

feat(adapters): implement Adzuna fetch_jobs() with pagination and error handling
  backend/app/adapters/sources/adzuna.py
  backend/app/adapters/sources/base.py
  backend/tests/unit/test_source_adapters.py
  docs/plan/034_job_source_adapters_plan.md
Due: backend-mypy

feat(adapters): implement The Muse fetch_jobs() with pagination and keyword filter
  backend/app/adapters/sources/themuse.py
  backend/tests/unit/test_source_adapters.py
  docs/plan/034_job_source_adapters_plan.md
Due: backend-mypy

docs(plan): mark Phase 3 §3 complete — The Muse fetch_jobs() implementation
  docs/plan/034_job_source_adapters_plan.md
Due: none

feat(adapters): implement RemoteOK fetch_jobs()
  backend/app/adapters/sources/remoteok.py
  backend/tests/unit/test_source_adapters.py
  docs/plan/034_job_source_adapters_plan.md
Due: backend-mypy

feat(adapters): implement USAJobs fetch_jobs()
  backend/app/adapters/sources/usajobs.py
  backend/tests/unit/test_source_adapters.py
  docs/plan/034_job_source_adapters_plan.md
Due: backend-mypy

feat(discovery): add build_search_params() + replace hardcoded SearchParams
  backend/app/schemas/search_profile.py
  backend/app/services/discovery/job_fetch_service.py
  backend/app/services/discovery/search_profile_service.py
  backend/tests/unit/test_search_profile_service.py
  docs/plan/034_job_source_adapters_plan.md
Due: backend-mypy

docs(plan): mark Phase 3 §6 complete — build_search_params + replace hardcoded SearchParams
  docs/plan/034_job_source_adapters_plan.md
Due: none

feat(discovery): add search_bucket propagation through dedup pipeline
  backend/app/models/persona_job.py
  backend/app/repositories/persona_job_repository.py
  backend/app/services/discovery/global_dedup_service.py
  backend/tests/unit/test_global_dedup_service.py
  docs/plan/034_job_source_adapters_plan.md
Due: backend-mypy

feat(discovery): wire skill extraction LLM call in JobEnrichmentService
  backend/app/services/discovery/job_enrichment_service.py
  backend/tests/unit/test_job_enrichment_service.py
  docs/plan/034_job_source_adapters_plan.md
Due: backend-mypy

fix(tests): widen _make_http_response json_body type for RemoteOK list responses
  backend/tests/unit/test_source_adapters.py
Due: none

docs(plan): mark Phase 3 complete — adapters, pipeline & skill extraction
  docs/plan/034_job_source_adapters_plan.md
Due: none

fix(security): bump vite 7.3.1→7.3.2 + remove redundant exception
  backend/app/services/discovery/search_profile_service.py
  frontend/package-lock.json
Due: backend-mypy, frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

feat(discovery): add PollSchedulerWorker background task
  backend/app/services/discovery/poll_execution.py
  backend/app/services/discovery/poll_scheduler_worker.py
  backend/tests/unit/test_poll_scheduler_worker.py
  docs/plan/034_job_source_adapters_plan.md
Due: backend-mypy

feat(discovery): register PollSchedulerWorker in FastAPI lifespan
  backend/app/main.py
  docs/plan/034_job_source_adapters_plan.md
Due: backend-mypy

docs(plan): mark Phase 4 complete — poll scheduler
  docs/plan/034_job_source_adapters_plan.md
Due: none

feat(frontend): add SearchProfile types, API client, and query key
  frontend/src/lib/api/search-profiles.test.ts
  frontend/src/lib/api/search-profiles.ts
  frontend/src/lib/query-keys.ts
  frontend/src/types/search-profile.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

feat(onboarding): add "Your Job Search Criteria" step (REQ-034 §9.1)
  docs/plan/034_job_source_adapters_plan.md
  frontend/src/app/onboarding/page.tsx
  frontend/src/components/onboarding/onboarding-shell.test.tsx
  frontend/src/components/onboarding/onboarding-steps.test.ts
  frontend/src/components/onboarding/onboarding-steps.ts
  frontend/src/components/onboarding/steps/review-step.test.tsx
  frontend/src/components/onboarding/steps/review-step.tsx
  frontend/src/components/onboarding/steps/search-criteria-bucket-card.tsx
  frontend/src/components/onboarding/steps/search-criteria-step.test.tsx
  frontend/src/components/onboarding/steps/search-criteria-step.tsx
  frontend/src/components/onboarding/steps/voice-profile-step.test.tsx
  frontend/src/components/onboarding/steps/voice-profile-step.tsx
  frontend/src/lib/onboarding-provider.test.tsx
  frontend/src/lib/onboarding-provider.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

feat(settings): add Job Search section with editable criteria (REQ-034 §9.2)
  docs/plan/034_job_source_adapters_plan.md
  frontend/src/components/onboarding/steps/search-criteria-bucket-card.tsx
  frontend/src/components/settings/job-search-section.test.tsx
  frontend/src/components/settings/job-search-section.tsx
  frontend/src/components/settings/job-sources-section.tsx
  frontend/src/components/settings/settings-page.test.tsx
  frontend/src/components/settings/settings-page.tsx
  frontend/src/hooks/use-search-criteria-editing.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

feat(chat): add fit/stretch visual treatment to job card (REQ-034 §9.3)
  docs/plan/034_job_source_adapters_plan.md
  frontend/src/components/chat/chat-job-card.test.tsx
  frontend/src/components/chat/chat-job-card.tsx
  frontend/src/types/chat.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

fix(e2e): update onboarding step count 11→12, add search-profile mocks
  docs/plan/034_job_source_adapters_plan.md
  frontend/package-lock.json
  frontend/tests/e2e/auth-session-settings.spec.ts
  frontend/tests/e2e/base-test.ts
  frontend/tests/e2e/file-upload-dnd.spec.ts
  frontend/tests/e2e/onboarding.spec.ts
  frontend/tests/e2e/settings.spec.ts
  frontend/tests/fixtures/onboarding-mock-data.ts
  frontend/tests/fixtures/settings-mock-data.ts
  frontend/tests/utils/onboarding-api-mocks.ts
  frontend/tests/utils/settings-api-mocks.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(backlog): add fuzzer/harness item for untrusted-input code paths
  docs/backlog/feature-backlog.md
Due: none

chore(deps): bump next to 16.2.3
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(backlog): refine fuzzer item — Hypothesis primary, Atheris deferred
  docs/backlog/feature-backlog.md
Due: none

docs(backlog): add self-contained implementation guide to fuzzer item
  docs/backlog/feature-backlog.md
Due: none

Path conditions:
  backend-mypy: any of: ^backend/app/
  frontend-eslint: any of: ^frontend/
  frontend-prettier: any of: ^frontend/
  frontend-typecheck: any of: ^frontend/
  frontend-vitest: any of: ^frontend/
