Repository ApexAZ/zentropy_scout: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-mypy, frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
#
# Install hooks: pre-commit install --hook-type pre-commit --hook-type pre-push
# Run manually: pre-commit run --all-files
# Skip (emergency): git commit --no-verify -m "message"
#
# Hook stages:
# - commit: Fast checks (linting, formatting) - runs on every commit
# - push: Full test suite - runs before pushing to remote

repos:
  # Ruff - fast Python linter and formatter (runs on COMMIT)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-check
        args: [--fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Standard pre-commit hooks (runs on COMMIT)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: detect-private-key

  # Bandit - Python security linter (runs on COMMIT)
  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.3
    hooks:
      - id: bandit
        args: ["-c", "backend/pyproject.toml", "-r"]
        files: ^backend/app/
        exclude: ^backend/tests/

  # Gitleaks - Secret detection (runs on COMMIT)
  # Uses locally installed gitleaks binary to avoid building from Go source
  - repo: local
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets
        entry: gitleaks git --pre-commit --redact --staged
        language: system
        pass_filenames: false

  # Mypy - Python type checking (runs on COMMIT)
  - repo: local
    hooks:
      - id: backend-mypy
        name: mypy (backend)
        entry: bash -c 'cd backend && .venv/bin/python -m mypy app/ --ignore-missing-imports --warn-unused-ignores'
        language: system
        pass_filenames: false
        files: ^backend/app/

  # Frontend ESLint - TypeScript/React linter (runs on COMMIT)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: ESLint (frontend)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        pass_filenames: false
        files: ^frontend/

  # Frontend Prettier - format check (runs on COMMIT)
  - repo: local
    hooks:
      - id: frontend-prettier
        name: Prettier (frontend)
        entry: bash -c 'cd frontend && npm run format:check'
        language: system
        pass_filenames: false
        files: ^frontend/

  # Frontend TypeScript - type check (runs on COMMIT)
  - repo: local
    hooks:
      - id: frontend-typecheck
        name: TypeScript (frontend)
        entry: bash -c 'cd frontend && npm run typecheck'
        language: system
        pass_filenames: false
        files: ^frontend/

  # Pytest - full backend test suite (runs on PUSH only)
  # always_run: backend is core logic, run tests on every push regardless of changed files
  - repo: local
    hooks:
      - id: pytest
        name: pytest (full suite)
        entry: bash -c 'cd backend && .venv/bin/python -m pytest tests/ -v --tb=short'
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

  # Frontend Vitest - full frontend test suite (runs on PUSH only)
  - repo: local
    hooks:
      - id: frontend-vitest
        name: Vitest (frontend)
        entry: bash -c 'cd frontend && npm run test:run'
        language: system
        pass_filenames: false
        files: ^frontend/
        stages: [pre-push]

# Summary:
# ON COMMIT: ruff lint/format, bandit security scan, gitleaks secret detection,
#            mypy type check, ESLint, Prettier format check, TypeScript type check (fast)
# ON PUSH: Full pytest + Vitest suites (comprehensive - all tests must pass)

feat(frontend): add usage bar to balance card
  docs/plan/req023_usd_direct_billing_plan.md
  frontend/src/components/usage/balance-card.test.tsx
  frontend/src/components/usage/balance-card.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

fix(e2e): update usage.spec.ts color assertions to semantic tokens
  docs/plan/req023_usd_direct_billing_plan.md
  frontend/tests/e2e/usage.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

fix(e2e): add base test fixture with catch-all API fallback
  frontend/tests/e2e/accessibility.spec.ts
  frontend/tests/e2e/add-job.spec.ts
  frontend/tests/e2e/admin.spec.ts
  frontend/tests/e2e/app-tracking.spec.ts
  frontend/tests/e2e/applications-list.spec.ts
  frontend/tests/e2e/auth-login-register.spec.ts
  frontend/tests/e2e/auth-session-settings.spec.ts
  frontend/tests/e2e/base-test.ts
  frontend/tests/e2e/chat.spec.ts
  frontend/tests/e2e/cover-letter-review.spec.ts
  frontend/tests/e2e/cross-tenant-isolation.spec.ts
  frontend/tests/e2e/ghostwriter-review.spec.ts
  frontend/tests/e2e/job-discovery.spec.ts
  frontend/tests/e2e/navigation.spec.ts
  frontend/tests/e2e/onboarding.spec.ts
  frontend/tests/e2e/persona-editors-crud.spec.ts
  frontend/tests/e2e/persona-update.spec.ts
  frontend/tests/e2e/responsive.spec.ts
  frontend/tests/e2e/resume-detail.spec.ts
  frontend/tests/e2e/resume.spec.ts
  frontend/tests/e2e/security-headers.spec.ts
  frontend/tests/e2e/settings.spec.ts
  frontend/tests/e2e/smoke.spec.ts
  frontend/tests/e2e/usage.spec.ts
  frontend/tests/e2e/variant-review.spec.ts
  frontend/tests/utils/admin-api-mocks.ts
  frontend/tests/utils/app-tracking-api-mocks.ts
  frontend/tests/utils/auth-api-mocks.ts
  frontend/tests/utils/chat-api-mocks.ts
  frontend/tests/utils/cover-letter-api-mocks.ts
  frontend/tests/utils/cross-tenant-api-mocks.ts
  frontend/tests/utils/ghostwriter-api-mocks.ts
  frontend/tests/utils/job-discovery-api-mocks.ts
  frontend/tests/utils/onboarding-api-mocks.ts
  frontend/tests/utils/persona-update-api-mocks.ts
  frontend/tests/utils/resume-api-mocks.ts
  frontend/tests/utils/settings-api-mocks.ts
  frontend/tests/utils/usage-api-mocks.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(plan): mark Phase 4 complete — usage bar + E2E infra fix
  docs/plan/req023_usd_direct_billing_plan.md
Due: none

docs: mark REQ-023 complete, update plan/backlog/CLAUDE.md
  CLAUDE.md
  docs/backlog/feature-backlog.md
  docs/plan/req023_usd_direct_billing_plan.md
Due: none

docs(plan): mark Phase 5 §10 complete — REQ-023 plan finished
  docs/plan/req023_usd_direct_billing_plan.md
Due: none

feat(frontend): move dashboard to /dashboard, add public route group
  docs/plan/req024_landing_page_plan.md
  frontend/src/app/(main)/dashboard/page.test.tsx
  frontend/src/app/(main)/dashboard/page.tsx
  frontend/src/app/(public)/layout.tsx
  frontend/src/app/(public)/page.tsx
  frontend/src/app/login/page.test.tsx
  frontend/src/app/login/page.tsx
  frontend/src/app/register/page.test.tsx
  frontend/src/app/register/page.tsx
  frontend/src/components/dashboard/dashboard-tabs.test.tsx
  frontend/src/components/dashboard/dashboard-tabs.tsx
  frontend/src/components/jobs/job-detail-actions.test.tsx
  frontend/src/components/jobs/job-detail-actions.tsx
  frontend/src/components/jobs/job-detail-header.test.tsx
  frontend/src/components/jobs/job-detail-header.tsx
  frontend/src/components/layout/top-nav.test.tsx
  frontend/src/components/layout/top-nav.tsx
  frontend/src/components/onboarding/steps/base-resume-setup-step.test.tsx
  frontend/src/components/onboarding/steps/base-resume-setup-step.tsx
  frontend/src/components/onboarding/steps/review-step.test.tsx
  frontend/src/components/onboarding/steps/review-step.tsx
  frontend/tests/e2e/accessibility.spec.ts
  frontend/tests/e2e/add-job.spec.ts
  frontend/tests/e2e/admin.spec.ts
  frontend/tests/e2e/auth-login-register.spec.ts
  frontend/tests/e2e/auth-session-settings.spec.ts
  frontend/tests/e2e/chat.spec.ts
  frontend/tests/e2e/cross-tenant-isolation.spec.ts
  frontend/tests/e2e/job-discovery.spec.ts
  frontend/tests/e2e/navigation.spec.ts
  frontend/tests/e2e/onboarding.spec.ts
  frontend/tests/e2e/responsive.spec.ts
  frontend/tests/e2e/security-headers.spec.ts
  frontend/tests/e2e/smoke.spec.ts
  frontend/tests/e2e/usage.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(req): add REQ-024 landing page specification
  docs/requirements/REQ-024_landing_page.md
Due: none

docs(plan): add REQ-024 landing page plan, archive completed plans
  docs/plan/Archive/admin_pricing_plan.md
  docs/plan/Archive/frontend_surface_area.md
  docs/plan/Archive/provider_architecture.md
  docs/plan/Archive/req023_usd_direct_billing_plan.md
  docs/plan/Archive/scoring_validation.md
  docs/plan/Archive/token_metering_plan.md
  docs/plan/req024_landing_page_plan.md
Due: none

feat(frontend): add auth-based middleware routing
  docs/plan/req024_landing_page_plan.md
  frontend/src/middleware.test.ts
  frontend/src/middleware.ts
  frontend/tests/e2e/auth-login-register.spec.ts
  frontend/tests/e2e/base-test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

fix(frontend): merge middleware into proxy.ts for Next.js 16 compat
  docs/plan/req024_landing_page_plan.md
  frontend/src/middleware.test.ts
  frontend/src/middleware.ts
  frontend/src/proxy.test.ts
  frontend/src/proxy.ts
  frontend/tests/e2e/admin.spec.ts
  frontend/tests/e2e/auth-login-register.spec.ts
  frontend/tests/e2e/base-test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

feat(frontend): add landing page components with unit tests
  docs/plan/req024_landing_page_plan.md
  frontend/src/app/(public)/components/feature-cards.test.tsx
  frontend/src/app/(public)/components/feature-cards.tsx
  frontend/src/app/(public)/components/hero-section.test.tsx
  frontend/src/app/(public)/components/hero-section.tsx
  frontend/src/app/(public)/components/how-it-works.test.tsx
  frontend/src/app/(public)/components/how-it-works.tsx
  frontend/src/app/(public)/components/landing-footer.test.tsx
  frontend/src/app/(public)/components/landing-footer.tsx
  frontend/src/app/(public)/components/landing-nav.test.tsx
  frontend/src/app/(public)/components/landing-nav.tsx
  frontend/src/app/(public)/page.test.tsx
  frontend/src/app/(public)/page.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

feat(frontend): add legal section to settings page
  docs/plan/req024_landing_page_plan.md
  frontend/src/components/settings/settings-page.test.tsx
  frontend/src/components/settings/settings-page.tsx
  frontend/tests/e2e/settings.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

fix(e2e): align test URLs and auth mocks with proxy middleware
  frontend/tests/e2e/app-tracking.spec.ts
  frontend/tests/utils/auth-api-mocks.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(plan): mark Phase 2 §6 complete — full test suite green
  docs/plan/req024_landing_page_plan.md
Due: none

test(e2e): add landing page and auth routing tests
  frontend/tests/e2e/landing.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

fix(frontend): use Link placeholders instead of buttons for ToS/Privacy
  docs/plan/req024_landing_page_plan.md
  frontend/src/app/(public)/components/landing-footer.tsx
  frontend/src/components/settings/settings-page.test.tsx
  frontend/src/components/settings/settings-page.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(plan): mark REQ-024 landing page plan complete
  docs/plan/req024_landing_page_plan.md
Due: none

fix(frontend): skip 401 redirect on landing page
  frontend/src/lib/api-client.test.ts
  frontend/src/lib/api-client.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(backlog): scope down PBI #20, add decision record
  docs/backlog/feature-backlog.md
Due: none

docs(requirements): add TipTap editor REQs (025, 026, 027)
  docs/backlog/feature-backlog.md
  docs/requirements/REQ-025_tiptap_editor.md
  docs/requirements/REQ-026_resume_editing_workflow.md
  docs/requirements/REQ-027_resume_collaboration.md
Due: none

fix(frontend): remove hono from direct deps, fix npm audit vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(requirements): audit and update TipTap REQs (025, 026, 027)
  .claude/skills/zentropy-commands/SKILL.md
  docs/backlog/feature-backlog.md
  docs/requirements/REQ-025_tiptap_editor.md
  docs/requirements/REQ-026_resume_editing_workflow.md
  docs/requirements/REQ-027_resume_collaboration.md
Due: none

docs(backlog): add PBI #27 (Remove BYOK), admin routing UI improvements
  docs/backlog/feature-backlog.md
Due: none

docs(plan): add TipTap editor implementation plan + planner skill update
  .claude/skills/zentropy-planner/SKILL.md
  CLAUDE.md
  docs/plan/tiptap_editor_plan.md
Due: none

feat(db): add markdown columns + resume_templates table (REQ-025 §4)
  backend/app/models/__init__.py
  backend/app/models/resume.py
  backend/app/models/resume_template.py
  backend/migrations/versions/023_tiptap_schema.py
  docs/plan/tiptap_editor_plan.md
Due: backend-mypy

feat(resume): add resume template schemas, repository, and markdown fields
  backend/app/api/v1/base_resumes.py
  backend/app/api/v1/job_variants.py
  backend/app/repositories/resume_template_repository.py
  backend/app/schemas/resume_template.py
  backend/tests/unit/test_resume_template_repository.py
  backend/tests/unit/test_resume_template_schemas.py
  docs/plan/tiptap_editor_plan.md
  frontend/src/types/resume.test.ts
  frontend/src/types/resume.ts
  frontend/tests/fixtures/ghostwriter-mock-data.ts
  frontend/tests/fixtures/job-discovery-mock-data.ts
  frontend/tests/fixtures/onboarding-mock-data.ts
  frontend/tests/fixtures/persona-update-mock-data.ts
  frontend/tests/fixtures/resume-mock-data.ts
Due: backend-mypy, frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(plan): mark Phase 1 complete - schema, models, schemas, repository
  docs/plan/tiptap_editor_plan.md
Due: none

feat(api): add resume template CRUD endpoints (REQ-025 §6)
  backend/app/api/v1/resume_templates.py
  backend/app/api/v1/router.py
  backend/app/repositories/resume_template_repository.py
  backend/app/services/resume_template_service.py
  backend/tests/unit/test_api_resume_templates.py
  backend/tests/unit/test_resume_template_service.py
  docs/plan/tiptap_editor_plan.md
Due: backend-mypy

docs(plan): mark Phase 2 complete - template system backend
  docs/plan/tiptap_editor_plan.md
Due: none

feat(export): add MarkdownPdfRenderer with markdown-it-py + ReportLab
  backend/app/schemas/resume_template.py
  backend/app/services/markdown_pdf_renderer.py
  backend/pyproject.toml
  backend/tests/unit/test_markdown_pdf_renderer.py
  docs/plan/tiptap_editor_plan.md
Due: backend-mypy

feat(export): add MarkdownDocxRenderer service
  backend/app/services/markdown_docx_renderer.py
  backend/app/services/markdown_pdf_renderer.py
  backend/tests/unit/test_markdown_docx_renderer.py
  docs/plan/tiptap_editor_plan.md
Due: backend-mypy

feat(export): add PDF/DOCX export endpoints for resumes and variants
  backend/app/api/v1/base_resumes.py
  backend/app/api/v1/job_variants.py
  backend/app/services/markdown_pdf_renderer.py
  backend/tests/unit/test_export_endpoints.py
  backend/tests/unit/test_markdown_pdf_renderer.py
  docs/plan/tiptap_editor_plan.md
Due: backend-mypy

fix(tests): make config defaults tests .env-independent, fix migration paths
  backend/app/schemas/resume_template.py
  backend/tests/unit/test_admin_auth.py
  backend/tests/unit/test_core_config.py
  backend/tests/unit/test_dedup_cross_persona.py
  backend/tests/unit/test_metering_models.py
  backend/tests/unit/test_migration_010_auth_tables.py
  backend/tests/unit/test_migration_011_rename_indexes.py
  backend/tests/unit/test_migration_012_persona_jobs.py
  backend/tests/unit/test_migration_013_backfill.py
  backend/tests/unit/test_migration_014_drop_per_user_columns.py
Due: backend-mypy

docs(plan): mark Phase 3 complete — export pipeline backend
  docs/plan/tiptap_editor_plan.md
Due: none

feat(generation): add deterministic template fill service
  backend/app/services/resume_generation_service.py
  backend/tests/unit/test_resume_generation_service.py
  docs/plan/tiptap_editor_plan.md
Due: backend-mypy

feat(generation): add LLM resume generation prompt + service
  backend/app/prompts/resume_generation.py
  backend/app/services/resume_generation_service.py
  backend/tests/unit/test_resume_generation_prompts.py
  backend/tests/unit/test_resume_llm_generate.py
  docs/plan/tiptap_editor_plan.md
Due: backend-mypy

feat(generation): add POST /base-resumes/{id}/generate endpoint
  backend/app/api/v1/base_resumes.py
  backend/app/schemas/resume.py
  backend/tests/unit/test_generation_endpoint.py
  docs/plan/tiptap_editor_plan.md
Due: backend-mypy

refactor(renderers): reduce cognitive complexity in markdown renderers
  backend/app/services/markdown_docx_renderer.py
  backend/app/services/markdown_pdf_renderer.py
Due: backend-mypy

feat(editor): add TipTap ResumeEditor + EditorToolbar components
  docs/plan/tiptap_editor_plan.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/editor/editor-toolbar.tsx
  frontend/src/components/editor/resume-editor.test.tsx
  frontend/src/components/editor/resume-editor.tsx
  frontend/src/test/setup.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest
