Repository ApexAZ/zentropy_scout: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-mypy, frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

backend-mypy:
  name: mypy (backend)
  entry: bash -c 'cd backend && .venv/bin/python -m mypy app/ --ignore-missing-imports --warn-unused-ignores'
  language: system
  pass_filenames: false

frontend-eslint:
  name: ESLint (frontend)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-prettier:
  name: Prettier (frontend)
  entry: bash -c 'cd frontend && npm run format:check'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: TypeScript (frontend)
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

frontend-vitest:
  name: Vitest (frontend)
  entry: bash -c 'cd frontend && npm run test:run'
  language: system
  pass_filenames: false
  stages:
  - pre-push

chore: add output logging to pre-push test hooks
  .pre-commit-config.yaml
  frontend/src/components/usage/usage-page.test.tsx
  frontend/src/types/api.test.ts
  frontend/src/types/application.test.ts
  frontend/src/types/ingest.test.ts
  frontend/src/types/job.test.ts
  frontend/src/types/persona.test.ts
  frontend/src/types/resume.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

fix: remove 7 test files accidentally re-added in previous commit
  frontend/src/components/usage/usage-page.test.tsx
  frontend/src/types/api.test.ts
  frontend/src/types/application.test.ts
  frontend/src/types/ingest.test.ts
  frontend/src/types/job.test.ts
  frontend/src/types/persona.test.ts
  frontend/src/types/resume.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

test(audit): remove 47 sole-assertion smoke tests from heavy component files (§3.1)
  docs/plan/frontend_test_audit_plan.md
  frontend/src/components/applications/application-detail.test.tsx
  frontend/src/components/applications/applications-list.test.tsx
  frontend/src/components/chat/message-bubble.test.tsx
  frontend/src/components/dashboard/opportunities-table.test.tsx
  frontend/src/components/resume/resume-detail.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

test(audit): remove 12 sole-assertion smoke tests from heavy files batch B (§3.2)
  docs/plan/frontend_test_audit_plan.md
  frontend/src/app/login/page.test.tsx
  frontend/src/components/applications/add-timeline-event-dialog.test.tsx
  frontend/src/components/applications/status-transition-dropdown.test.tsx
  frontend/src/components/cover-letter/cover-letter-review.test.tsx
  frontend/src/components/persona/change-flags-resolver.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

test(audit): clean mock-only, CSS, and data-state assertions (§3.3)
  docs/plan/frontend_test_audit_plan.md
  frontend/src/components/resume/resume-detail.test.tsx
  frontend/src/components/ui/status-badge.test.tsx
  frontend/src/lib/sse-query-bridge.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

test(audit): clean remaining data-state tab assertions (§3.4)
  docs/plan/frontend_test_audit_plan.md
  frontend/src/components/ghostwriter/ghostwriter-review.test.tsx
  frontend/src/components/resume/resume-content-view.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(plan): Phase 3 gate passed — 3,437 tests, lint/typecheck clean (§3.5)
  docs/plan/frontend_test_audit_plan.md
Due: none

docs(audit): complete frontend test audit — update TDD skill + close plan (§4.1-§4.2)
  .claude/skills/zentropy-tdd/SKILL.md
  docs/plan/frontend_test_audit_plan.md
Due: none

fix(test): add defensive status_code assertion to flaky margin_multiplier test
  backend/tests/unit/test_api_usage.py
  docs/plan/backend_test_perf_plan.md
Due: none

perf(test): session-scoped engine + SAVEPOINT rollback (§3)
  backend/pyproject.toml
  backend/tests/conftest.py
  backend/tests/unit/test_admin_api.py
  backend/tests/unit/test_admin_auth.py
  backend/tests/unit/test_admin_routing_test.py
  backend/tests/unit/test_auth_password_endpoints.py
  backend/tests/unit/test_magic_link_endpoints.py
  backend/tests/unit/test_metering_integration.py
  backend/tests/unit/test_oauth_endpoints.py
  backend/tests/unit/test_persona_sync.py
  docs/plan/backend_test_perf_plan.md
Due: none

docs(plan): Phase 1 gate passed — 4,259 tests, 120.93s, 3.86x speedup (§4)
  docs/plan/backend_test_perf_plan.md
Due: none

test(perf): add @pytest.mark.slow to 125 migration tests + default filtering (§5)
  .pre-commit-config.yaml
  backend/pyproject.toml
  backend/tests/unit/test_metering_models.py
  backend/tests/unit/test_migration_010_auth_tables.py
  backend/tests/unit/test_migration_011_rename_indexes.py
  backend/tests/unit/test_migration_012_persona_jobs.py
  backend/tests/unit/test_migration_013_backfill.py
  backend/tests/unit/test_migration_014_drop_per_user_columns.py
  docs/plan/backend_test_perf_plan.md
Due: none

docs(plan): Phase 2 gate passed — slow markers, default 4,134 in 52s (§6)
  docs/plan/backend_test_perf_plan.md
Due: none

docs(tdd): update TDD skill with SAVEPOINT fixture architecture + slow markers
  .claude/skills/zentropy-tdd/SKILL.md
  CLAUDE.md
Due: none

test(perf): add pytest-xdist parallel execution with per-worker databases (§7)
  .pre-commit-config.yaml
  backend/pyproject.toml
  backend/tests/conftest.py
  backend/tests/unit/test_dedup_cross_persona.py
  backend/tests/unit/test_metering_models.py
  backend/tests/unit/test_migration_010_auth_tables.py
  backend/tests/unit/test_migration_011_rename_indexes.py
  backend/tests/unit/test_migration_012_persona_jobs.py
  backend/tests/unit/test_migration_013_backfill.py
  backend/tests/unit/test_migration_014_drop_per_user_columns.py
  docs/plan/backend_test_perf_plan.md
Due: none

docs(plan): Phase 3 gate passed — all phases complete, 467s → 34s (§8)
  docs/plan/backend_test_perf_plan.md
Due: none

docs(tdd): update TDD skill with xdist parallel patterns + timing
  .claude/skills/zentropy-tdd/SKILL.md
  CLAUDE.md
Due: none

docs(plan): archive completed backend test perf plan
  docs/plan/Archive/backend_test_perf_plan.md
Due: none

docs: sync skills + archive completed plans + update backlog status
  .claude/skills/zentropy-commands/SKILL.md
  docs/backlog/feature-backlog.md
  docs/plan/Archive/backend_test_audit_plan.md
  docs/plan/Archive/backend_test_deep_audit_plan.md
  docs/plan/Archive/cross_provider_routing_plan.md
  docs/plan/Archive/frontend_test_audit_plan.md
  docs/plan/Archive/test_suite_comprehensive_audit_plan.md
Due: none

docs(req): add REQ-029 Stripe Checkout + align with REQ-021
  docs/requirements/REQ-021_credits_billing.md
  docs/requirements/REQ-029-stripe-checkout.md
Due: none

docs: add Stripe Checkout plan + fix REQ-029 §16.4 thresholds
  docs/plan/stripe_checkout_plan.md
  docs/requirements/REQ-029-stripe-checkout.md
Due: none

fix(deps): patch hono prototype pollution vulnerability (CVE)
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

feat(stripe): add Stripe SDK, config vars, and production security checks
  .env.example
  backend/app/core/config.py
  backend/pyproject.toml
  backend/tests/unit/test_core_config.py
  backend/tests/unit/test_core_config_stripe.py
  docs/plan/stripe_checkout_plan.md
Due: backend-mypy

feat(stripe): add StripeClient factory + FastAPI dependency injection
  backend/app/core/stripe_client.py
  backend/tests/unit/test_stripe_client.py
  docs/plan/stripe_checkout_plan.md
Due: backend-mypy

docs(plan): Phase 1 gate passed — all foundation tasks complete (§1-§4)
  docs/plan/stripe_checkout_plan.md
Due: none

fix(test): add diagnostic hook for intermittent 401 flakes under xdist
  backend/tests/conftest.py
Due: none

feat(models): add Stripe model columns + StripePurchase table
  backend/app/models/__init__.py
  backend/app/models/stripe.py
  backend/app/models/usage.py
  backend/app/models/user.py
  backend/tests/unit/test_metering_models.py
  backend/tests/unit/test_stripe_models.py
  docs/plan/stripe_checkout_plan.md
Due: backend-mypy

feat(db): add Alembic migration 025 for Stripe checkout schema
  backend/migrations/versions/025_stripe_checkout.py
  backend/tests/unit/test_migration_025_stripe_checkout.py
  docs/plan/stripe_checkout_plan.md
Due: none

feat(db): add StripePurchase repository + CreditTransaction idempotency
  backend/app/repositories/credit_repository.py
  backend/app/repositories/stripe_repository.py
  backend/tests/unit/test_stripe_repository.py
  docs/plan/stripe_checkout_plan.md
Due: backend-mypy

docs(plan): Phase 2 gate passed — all 5 tasks complete, 4347+3437 tests green
  docs/plan/stripe_checkout_plan.md
Due: none

docs(plan): mark Phase 3 §10 security triage gate complete
  docs/plan/stripe_checkout_plan.md
Due: none

feat(stripe): add StripeService checkout session + customer management
  backend/app/services/stripe_service.py
  backend/tests/unit/test_stripe_checkout_session.py
  backend/tests/unit/test_stripe_service.py
  docs/plan/stripe_checkout_plan.md
Due: backend-mypy

feat(stripe): add handle_checkout_completed webhook handler
  backend/app/services/stripe_service.py
  backend/tests/unit/test_stripe_webhook_checkout.py
  docs/plan/stripe_checkout_plan.md
Due: backend-mypy

feat(stripe): add handle_charge_refunded + grant_signup_credits
  backend/app/repositories/credit_repository.py
  backend/app/services/stripe_service.py
  backend/app/services/stripe_webhook_service.py
  backend/tests/unit/test_credit_repository.py
  backend/tests/unit/test_credit_repository_balance.py
  backend/tests/unit/test_stripe_signup_grant.py
  backend/tests/unit/test_stripe_webhook_checkout.py
  backend/tests/unit/test_stripe_webhook_refund.py
  docs/plan/stripe_checkout_plan.md
Due: backend-mypy

docs(plan): Phase 3 gate passed — all 5 tasks complete, 4399+3437 tests green
  docs/plan/stripe_checkout_plan.md
Due: none

docs(plan): mark Phase 4 §15 security triage gate complete
  docs/plan/stripe_checkout_plan.md
Due: none

feat(credits): add Pydantic schemas for credit API endpoints
  backend/app/schemas/credits.py
  backend/tests/unit/test_credit_schemas.py
  docs/plan/stripe_checkout_plan.md
Due: backend-mypy

feat(credits): add credits router — GET /packs, POST /checkout, GET /purchases
  backend/app/api/v1/credits.py
  backend/app/api/v1/router.py
  backend/app/repositories/credit_repository.py
  backend/tests/unit/test_credits_api.py
  docs/plan/stripe_checkout_plan.md
Due: backend-mypy

feat(webhooks): add Stripe webhook endpoint with signature verification
  backend/app/api/v1/router.py
  backend/app/api/v1/webhooks.py
  backend/tests/unit/test_webhooks_api.py
  docs/plan/stripe_checkout_plan.md
Due: backend-mypy

docs(plan): Phase 4 gate passed — all 5 tasks complete, 4452+3437 tests green
  docs/plan/stripe_checkout_plan.md
Due: none

Path conditions:
  backend-mypy: any of: ^backend/app/
  frontend-eslint: any of: ^frontend/
  frontend-prettier: any of: ^frontend/
  frontend-typecheck: any of: ^frontend/
  frontend-vitest: any of: ^frontend/
