Repository ApexAZ/zentropy_scout: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-mypy, frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

backend-mypy:
  name: mypy (backend)
  entry: bash -c 'cd backend && .venv/bin/python -m mypy app/ --ignore-missing-imports --warn-unused-ignores'
  language: system
  pass_filenames: false

frontend-eslint:
  name: ESLint (frontend)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-prettier:
  name: Prettier (frontend)
  entry: bash -c 'cd frontend && npm run format:check'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: TypeScript (frontend)
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

frontend-vitest:
  name: Vitest (frontend)
  entry: bash -c 'cd frontend && npm run test:run'
  language: system
  pass_filenames: false
  stages:
  - pre-push

docs(plan): mark Phase 2 complete — reservation pipeline
  docs/plan/billing_metering_hardening_plan.md
Due: none

fix(stripe): harden refund handler with savepoint, cap, and null guard
  backend/app/services/stripe_webhook_service.py
  backend/tests/unit/test_stripe_webhook_refund.py
  backend/tests/unit/test_stripe_webhook_refund_hardening.py
  docs/plan/billing_metering_hardening_plan.md
Due: backend-mypy

feat(webhooks): add checkout.session.expired handler (REQ-030 §7.3, F-07)
  backend/app/api/v1/webhooks.py
  backend/app/repositories/stripe_repository.py
  backend/app/services/stripe_webhook_service.py
  backend/tests/unit/test_stripe_webhook_expired.py
  docs/plan/billing_metering_hardening_plan.md
Due: backend-mypy

docs(plan): mark Phase 2 §7 security triage complete
  docs/backlog/feature-backlog.md
  docs/plan/playwright_test_gaps_plan.md
Due: none

feat(e2e): add axe-core accessibility audit helper
  docs/plan/playwright_test_gaps_plan.md
  frontend/package-lock.json
  frontend/package.json
  frontend/tests/e2e/axe-helper.spec.ts
  frontend/tests/utils/axe-helper.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

fix(stripe): replace db.rollback() with savepoint in get_or_create_customer
  backend/app/services/stripe_service.py
  backend/tests/unit/test_stripe_service.py
  docs/plan/billing_metering_hardening_plan.md
Due: backend-mypy

docs(plan): mark Phase 3 complete — webhook & stripe hardening
  docs/plan/billing_metering_hardening_plan.md
Due: none

test(a11y): add WCAG 2.1 AA axe-core audits for public pages
  docs/plan/playwright_test_gaps_plan.md
  frontend/src/app/login/page.tsx
  frontend/src/app/register/page.tsx
  frontend/tests/e2e/accessibility.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

fix(credits): use round() instead of int() for purchase display cents (F-08)
  backend/app/api/v1/credits.py
  backend/tests/unit/test_credits_api.py
  docs/plan/billing_metering_hardening_plan.md
Due: backend-mypy

fix(frontend): invalidate purchases query on checkout success (F-09)
  .claude/agents/code-reviewer.md
  .claude/skills/zentropy-api/SKILL.md
  CLAUDE.md
  docs/plan/billing_metering_hardening_plan.md
  frontend/src/components/usage/usage-page.test.tsx
  frontend/src/components/usage/usage-page.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(plan): mark Phase 4 complete — quick fixes & frontend
  docs/plan/billing_metering_hardening_plan.md
Due: none

feat(metering): add stale reservation sweep background worker
  backend/app/main.py
  backend/app/services/reservation_sweep.py
  backend/tests/unit/test_reservation_sweep.py
  docs/plan/billing_metering_hardening_plan.md
Due: backend-mypy

test(a11y): add axe audits for 5 authenticated pages
  docs/plan/playwright_test_gaps_plan.md
  frontend/src/app/globals.css
  frontend/src/components/admin/packs-tab.tsx
  frontend/src/components/applications/application-columns.tsx
  frontend/src/components/applications/application-detail.tsx
  frontend/src/components/applications/application-timeline.tsx
  frontend/src/components/chat/chat-message-list.tsx
  frontend/src/components/resume/resume-list.tsx
  frontend/src/components/settings/job-sources-section.test.tsx
  frontend/src/components/settings/job-sources-section.tsx
  frontend/tests/e2e/accessibility.spec.ts
  frontend/tests/e2e/settings.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

feat(metering): add balance/ledger drift detection
  backend/app/services/reservation_sweep.py
  backend/tests/unit/test_balance_drift.py
  backend/tests/unit/test_reservation_sweep.py
  docs/plan/billing_metering_hardening_plan.md
Due: backend-mypy

docs(plan): mark Phase 5 complete — background reconciliation
  docs/plan/billing_metering_hardening_plan.md
Due: none

test(a11y): add axe audits for complex pages (onboarding, ghostwriter, chat)
  docs/plan/playwright_test_gaps_plan.md
  frontend/src/components/onboarding/onboarding-shell.tsx
  frontend/src/components/onboarding/steps/resume-upload-step.tsx
  frontend/tests/e2e/accessibility.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

test(integration): add reservation lifecycle integration tests
  backend/tests/integration/_reservation_helpers.py
  backend/tests/integration/test_reservation_advanced.py
  backend/tests/integration/test_reservation_lifecycle.py
  docs/plan/billing_metering_hardening_plan.md
Due: none

docs(plan): mark Phase 2 complete — accessibility audits with axe-core
  docs/plan/playwright_test_gaps_plan.md
Due: none

test(integration): add webhook hardening integration tests
  backend/tests/integration/test_webhook_hardening.py
  docs/plan/billing_metering_hardening_plan.md
Due: none

docs(plan): mark §28 complete - findings verification audit
  docs/plan/billing_metering_hardening_plan.md
Due: none

docs(plan): mark Phase 6 complete - all 29 tasks done
  docs/plan/billing_metering_hardening_plan.md
Due: none

docs(plan): mark Phase 3 §13 security triage gate complete
  docs/plan/playwright_test_gaps_plan.md
Due: none

refactor(auth): extract _handle_post_login to reduce oauth_callback complexity
  backend/app/api/v1/auth_oauth.py
Due: backend-mypy

feat(e2e): add OAuth callback flow tests (6 tests)
  backend/app/api/v1/auth_oauth.py
  docs/plan/playwright_test_gaps_plan.md
  frontend/tests/e2e/auth-oauth-callback.spec.ts
Due: backend-mypy, frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(plan): add Phase 7 post-audit hardening — 11 tasks from red-team audit
  docs/plan/billing_metering_hardening_plan.md
Due: none

test(e2e): add PDF download and export validation tests
  docs/plan/playwright_test_gaps_plan.md
  frontend/tests/e2e/pdf-download.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

fix(security): resolve security gate findings for Phase 7
  .github/workflows/pip-audit.yml
  docs/plan/billing_metering_hardening_plan.md
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

test(e2e): add drag-and-drop file upload tests (4 tests)
  docs/plan/playwright_test_gaps_plan.md
  frontend/tests/e2e/file-upload-dnd.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

fix(metering): prevent settle/sweep race with conditional SQL UPDATE (AF-01)
  backend/app/services/metering_service.py
  backend/tests/unit/test_metering_service.py
  docs/plan/billing_metering_hardening_plan.md
Due: backend-mypy

docs(plan): mark Phase 3 complete — all specialized flow tests passing
  docs/plan/playwright_test_gaps_plan.md
Due: none

fix(metering): add balance overdraft detection in settle() (AF-02)
  backend/app/services/metering_service.py
  backend/tests/unit/test_metering_service.py
  docs/plan/billing_metering_hardening_plan.md
Due: backend-mypy

docs(plan): mark Phase 4 §18 complete - security triage gate
  docs/plan/playwright_test_gaps_plan.md
Due: none

fix(metering): include input token cost in reserve() estimation (AF-03)
  backend/app/models/usage_reservation.py
  backend/app/services/metering_service.py
  backend/tests/unit/test_metering_service.py
  docs/plan/billing_metering_hardening_plan.md
Due: backend-mypy

feat(e2e): add Docker-based visual regression infrastructure
  docs/plan/playwright_test_gaps_plan.md
  frontend/.dockerignore
  frontend/docker/docker-compose.playwright.yml
  frontend/docker/playwright.Dockerfile
  frontend/package.json
  frontend/playwright.config.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

refactor(metering): remove dead record_and_debit() method (AF-04)
  backend/app/services/metering_service.py
  backend/tests/integration/test_admin_pricing_pipeline.py
  backend/tests/unit/test_metering_service.py
  docs/plan/billing_metering_hardening_plan.md
Due: backend-mypy

fix(metering): guard zero-cost reservation with minimum floor (AF-05)
  backend/app/services/metering_service.py
  backend/tests/unit/test_metering_service.py
  docs/plan/billing_metering_hardening_plan.md
Due: backend-mypy

fix(billing): move mark_completed inside savepoint for full atomicity (AF-06)
  backend/app/services/stripe_webhook_service.py
  backend/tests/unit/test_stripe_webhook_checkout.py
  docs/plan/billing_metering_hardening_plan.md
Due: backend-mypy

fix(metering): narrow settle/release exception handling (AF-07)
  backend/app/providers/metered_provider.py
  backend/app/services/metering_service.py
  backend/tests/unit/test_metering_service.py
  docs/plan/billing_metering_hardening_plan.md
Due: backend-mypy

fix(metering): make stream() fail-closed when credits enabled (AF-09)
  backend/app/api/deps.py
  backend/app/providers/metered_provider.py
  backend/tests/unit/test_metered_provider.py
  docs/plan/billing_metering_hardening_plan.md
Due: backend-mypy

test(e2e): add visual regression tests for 3 public pages
  docs/plan/playwright_test_gaps_plan.md
  frontend/docker/docker-compose.playwright.yml
  frontend/docker/playwright.Dockerfile
  frontend/playwright.config.ts
  frontend/tests/__screenshots__/chromium/e2e/visual-regression.spec.ts/landing-desktop.png
  frontend/tests/__screenshots__/chromium/e2e/visual-regression.spec.ts/login-desktop.png
  frontend/tests/__screenshots__/chromium/e2e/visual-regression.spec.ts/register-desktop.png
  frontend/tests/__screenshots__/firefox/e2e/visual-regression.spec.ts/landing-desktop.png
  frontend/tests/__screenshots__/firefox/e2e/visual-regression.spec.ts/login-desktop.png
  frontend/tests/__screenshots__/firefox/e2e/visual-regression.spec.ts/register-desktop.png
  frontend/tests/__screenshots__/webkit/e2e/visual-regression.spec.ts/landing-desktop.png
  frontend/tests/__screenshots__/webkit/e2e/visual-regression.spec.ts/login-desktop.png
  frontend/tests/__screenshots__/webkit/e2e/visual-regression.spec.ts/register-desktop.png
  frontend/tests/e2e/visual-regression.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

Path conditions:
  backend-mypy: any of: ^backend/app/
  frontend-eslint: any of: ^frontend/
  frontend-prettier: any of: ^frontend/
  frontend-typecheck: any of: ^frontend/
  frontend-vitest: any of: ^frontend/
