Repository ApexAZ/zentropy_scout: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-mypy, frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

backend-mypy:
  name: mypy (backend)
  entry: bash -c 'cd backend && .venv/bin/python -m mypy app/ --ignore-missing-imports --warn-unused-ignores'
  language: system
  pass_filenames: false

frontend-eslint:
  name: ESLint (frontend)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-prettier:
  name: Prettier (frontend)
  entry: bash -c 'cd frontend && npm run format:check'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: TypeScript (frontend)
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

frontend-vitest:
  name: Vitest (frontend)
  entry: bash -c 'cd frontend && npm run test:run'
  language: system
  pass_filenames: false
  stages:
  - pre-push

feat(auth): complete auth flow with password reset and security hardening
  backend/app/api/deps.py
  backend/app/api/v1/auth.py
  backend/app/api/v1/auth_magic_link.py
  backend/app/core/auth.py
  backend/app/core/email.py
  backend/app/models/verification_token.py
  backend/app/repositories/verification_token_repository.py
  backend/migrations/versions/018_verification_token_purpose.py
  backend/tests/unit/test_auth_password_endpoints.py
  frontend/src/app/login/page.test.tsx
  frontend/src/app/login/page.tsx
  frontend/src/components/settings/account-section.tsx
  frontend/src/lib/auth-provider.test.tsx
  frontend/src/lib/auth-provider.tsx
Due: backend-mypy, frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(plan): mark Phase 7 complete — all auth flows validated
  docs/plan/auth_implementation_plan.md
Due: none

fix(frontend): resolve SonarCloud code quality findings
  frontend/src/app/login/page.tsx
  frontend/src/components/settings/account-section.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs: update CLAUDE.md for subtask/phase-gate workflow
  CLAUDE.md
Due: none

feat(db): add JobPoolRepository + JobEnrichmentService
  CLAUDE.md
  backend/app/repositories/job_pool_repository.py
  backend/app/services/job_enrichment_service.py
  backend/tests/unit/test_job_enrichment_service.py
  backend/tests/unit/test_job_pool_repository.py
  docs/plan/llm_redesign_plan.md
Due: backend-mypy

refactor: address code review findings for Phase 1 §1
  backend/app/repositories/job_pool_repository.py
  backend/app/services/job_enrichment_service.py
  backend/tests/unit/test_job_enrichment_service.py
  backend/tests/unit/test_job_pool_helpers.py
  backend/tests/unit/test_job_pool_repository.py
  backend/tests/unit/test_job_pool_repository_dedup.py
Due: backend-mypy

feat(services): add JobFetchService + wire discovery_workflow
  backend/app/services/discovery_workflow.py
  backend/app/services/job_fetch_service.py
  backend/tests/unit/test_discovery_workflow.py
  backend/tests/unit/test_job_fetch_service.py
Due: backend-mypy

docs(plan): mark Phase 1 §2 complete — JobFetchService + discovery wiring
  docs/plan/llm_redesign_plan.md
Due: none

refactor: delete scouter_graph.py + ScouterState + cleanup
  backend/app/agents/__init__.py
  backend/app/agents/scouter.py
  backend/app/agents/scouter_graph.py
  backend/app/agents/state.py
  backend/app/repositories/job_pool_repository.py
  backend/app/services/job_enrichment_service.py
  backend/app/services/job_fetch_service.py
  backend/tests/unit/test_scouter_agent.py
  backend/tests/unit/test_scouter_graph.py
Due: backend-mypy

docs(plan): mark Phase 1 §3 complete — scouter graph deletion
  docs/plan/llm_redesign_plan.md
Due: none

docs(plan): mark Phase 1 complete — scouter service layer
  docs/plan/llm_redesign_plan.md
Due: none

refactor: relocate strategist prompts + ScoreResult (Phase 2 §5)
  backend/app/agents/__init__.py
  backend/app/agents/ghostwriter_prompts.py
  backend/app/agents/state.py
  backend/app/prompts/__init__.py
  backend/app/prompts/strategist.py
  backend/app/services/score_types.py
  backend/app/services/scoring_flow.py
  docs/plan/llm_redesign_plan.md
Due: backend-mypy

feat(scoring): add JobScoringService + wire into fetch pipeline (Phase 2 §6)
  backend/app/services/job_fetch_service.py
  backend/app/services/job_scoring_service.py
  backend/tests/unit/test_job_scoring_service.py
  docs/plan/llm_redesign_plan.md
Due: backend-mypy

refactor: delete strategist_graph.py + StrategistState + cleanup (Phase 2 §7)
  backend/app/agents/__init__.py
  backend/app/agents/state.py
  backend/app/agents/strategist_graph.py
  backend/app/services/scoring_flow.py
  backend/tests/unit/test_score_details.py
  backend/tests/unit/test_strategist_graph.py
  docs/plan/llm_redesign_plan.md
  frontend/src/types/job.ts
Due: backend-mypy, frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(plan): mark Phase 2 complete — strategist service layer
  docs/plan/llm_redesign_plan.md
Due: none

refactor: relocate ghostwriter prompts + trim state factory
  backend/app/agents/__init__.py
  backend/app/agents/ghostwriter.py
  backend/app/agents/ghostwriter_graph.py
  backend/app/core/llm_sanitization.py
  backend/app/prompts/__init__.py
  backend/app/prompts/ghostwriter.py
  backend/app/services/cover_letter_generation.py
  backend/app/services/cover_letter_structure.py
  backend/tests/unit/test_ghostwriter.py
  backend/tests/unit/test_ghostwriter_prompts.py
  docs/plan/llm_redesign_plan.md
Due: backend-mypy

fix(security): add nosemgrep for cross-function sanitized LLM input
  backend/app/services/job_scoring_service.py
Due: backend-mypy

feat(services): add ContentGenerationService replacing ghostwriter graph
  backend/app/agents/chat.py
  backend/app/services/content_generation_service.py
  backend/tests/unit/test_content_generation_service.py
  docs/plan/llm_redesign_plan.md
Due: backend-mypy

refactor: delete ghostwriter_graph.py + GhostwriterState cleanup
  backend/app/agents/__init__.py
  backend/app/agents/checkpoint.py
  backend/app/agents/ghostwriter_graph.py
  backend/app/agents/state.py
  backend/app/services/application_workflow.py
  backend/tests/unit/test_application_workflow.py
  backend/tests/unit/test_ghostwriter_graph.py
  docs/plan/llm_redesign_plan.md
Due: backend-mypy

fix(tests): update ghostwriter delegation tests for ContentGenerationService
  backend/tests/unit/test_graph_invocation.py
Due: none

docs(plan): mark Phase 3 complete — ghostwriter service layer
  docs/plan/llm_redesign_plan.md
Due: none

feat(services): add ResumeParsingService for PDF resume extraction
  backend/app/core/config.py
  backend/app/providers/llm/base.py
  backend/app/providers/llm/claude_adapter.py
  backend/app/providers/llm/gemini_adapter.py
  backend/app/providers/llm/openai_adapter.py
  backend/app/services/resume_parsing_service.py
  backend/pyproject.toml
  backend/tests/unit/test_resume_parsing_service.py
  docs/plan/llm_redesign_plan.md
Due: backend-mypy

feat(api): add POST /api/v1/onboarding/resume-parse endpoint
  backend/app/api/v1/onboarding.py
  backend/app/api/v1/router.py
  backend/tests/unit/test_api_onboarding.py
  docs/plan/llm_redesign_plan.md
Due: backend-mypy

refactor(agents): delete onboarding graph code, retain utilities
  backend/app/agents/__init__.py
  backend/app/agents/chat.py
  backend/app/agents/onboarding.py
  backend/app/agents/state.py
  backend/app/services/onboarding_workflow.py
  backend/tests/unit/test_graph_invocation.py
  backend/tests/unit/test_onboarding_agent.py
  backend/tests/unit/test_onboarding_utilities.py
  docs/plan/llm_redesign_plan.md
Due: backend-mypy

fix(security): add NullByteMiddleware to strip null bytes from HTTP requests
  backend/app/api/v1/persona_change_flags.py
  backend/app/core/null_byte_middleware.py
  backend/app/main.py
  backend/tests/unit/test_null_byte_middleware.py
Due: backend-mypy

fix(ci): rework ZAP-to-SARIF converter to fix 4 severity/rule-ID bugs
  .github/scripts/test_zap_to_sarif.py
  .github/scripts/zap-to-sarif.py
Due: none

fix(deps): revert ESLint 10 (incompatible with eslint-config-next) and bump hono
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

fix(security): add IDOR protection for job_variant_id and cover_letter_id
  backend/app/api/v1/applications.py
  backend/tests/unit/test_application_idor.py
Due: backend-mypy

fix(security): add race condition protection with unique indexes and SAVEPOINT handlers
  backend/app/api/v1/job_postings.py
  backend/app/models/job_posting.py
  backend/app/models/resume.py
  backend/app/services/onboarding_workflow.py
  backend/migrations/versions/019_race_condition_indexes.py
  backend/tests/unit/test_race_conditions.py
Due: backend-mypy

fix(security): sanitize user data in format_gathered_data_summary
  backend/app/agents/onboarding.py
  backend/tests/unit/test_onboarding_utilities.py
Due: backend-mypy

fix(security): remove MIME type from client-facing file validation errors
  backend/app/core/file_validation.py
  backend/tests/unit/test_file_validation.py
Due: backend-mypy

fix(tests): update file validation test to match new error message
  backend/tests/unit/test_api_files.py
Due: none

fix(deps): patch rollup CVE-2026-27606 and minimatch CVE-2026-26996
  .github/workflows/pip-audit.yml
  frontend/package-lock.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

fix(security): stop echoing user input in OAuth error messages (CWE-209)
  backend/app/api/v1/auth_oauth.py
  backend/app/core/oauth.py
  backend/tests/unit/test_oauth_endpoints.py
Due: backend-mypy

refactor(security): reduce null byte middleware cognitive complexity
  backend/app/core/null_byte_middleware.py
Due: backend-mypy

fix(lint): replace em dash with hyphen in noqa suppression comments (S7632)
  backend/app/api/v1/onboarding.py
  backend/app/services/content_generation_service.py
  backend/app/services/pool_surfacing_worker.py
  backend/tests/unit/test_api_job_postings_crud.py
  backend/tests/unit/test_onboarding_workflow.py
  backend/tests/unit/test_pdf_generation.py
  backend/tests/unit/test_persona_sync.py
Due: backend-mypy

fix(lint): remove async from sync stubs, prefix unused params (S7503, S1172)
  backend/app/services/content_generation_service.py
  backend/tests/unit/test_content_generation_service.py
Due: backend-mypy

docs: update known findings after security audit cleanup
  CLAUDE.md
Due: none

feat(zap): add SARIF fingerprint normalization for alert deduplication
  .github/scripts/test_zap_to_sarif.py
  .github/scripts/zap-to-sarif.py
  docs/plan/sarif_fingerprint_plan.md
Due: none

refactor(zap-tests): extract duplicated string literals (S1192)
  .github/scripts/test_zap_to_sarif.py
Due: none

Path conditions:
  backend-mypy: any of: ^backend/app/
  frontend-eslint: any of: ^frontend/
  frontend-prettier: any of: ^frontend/
  frontend-typecheck: any of: ^frontend/
  frontend-vitest: any of: ^frontend/
