Repository ApexAZ/zentropy_scout: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-mypy, frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
#
# Install hooks: pre-commit install --hook-type pre-commit --hook-type pre-push
# Run manually: pre-commit run --all-files
# Skip (emergency): git commit --no-verify -m "message"
#
# Hook stages:
# - commit: Fast checks (linting, formatting) - runs on every commit
# - push: Full test suite - runs before pushing to remote

repos:
  # Ruff - fast Python linter and formatter (runs on COMMIT)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-check
        args: [--fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Standard pre-commit hooks (runs on COMMIT)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: detect-private-key

  # Bandit - Python security linter (runs on COMMIT)
  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.3
    hooks:
      - id: bandit
        args: ["-c", "backend/pyproject.toml", "-r"]
        files: ^backend/app/
        exclude: ^backend/tests/

  # Gitleaks - Secret detection (runs on COMMIT)
  # Uses locally installed gitleaks binary to avoid building from Go source
  - repo: local
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets
        entry: gitleaks git --pre-commit --redact --staged
        language: system
        pass_filenames: false

  # Mypy - Python type checking (runs on COMMIT)
  - repo: local
    hooks:
      - id: backend-mypy
        name: mypy (backend)
        entry: bash -c 'cd backend && .venv/bin/python -m mypy app/ --ignore-missing-imports --warn-unused-ignores'
        language: system
        pass_filenames: false
        files: ^backend/app/

  # Frontend ESLint - TypeScript/React linter (runs on COMMIT)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: ESLint (frontend)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        pass_filenames: false
        files: ^frontend/

  # Frontend Prettier - format check (runs on COMMIT)
  - repo: local
    hooks:
      - id: frontend-prettier
        name: Prettier (frontend)
        entry: bash -c 'cd frontend && npm run format:check'
        language: system
        pass_filenames: false
        files: ^frontend/

  # Frontend TypeScript - type check (runs on COMMIT)
  - repo: local
    hooks:
      - id: frontend-typecheck
        name: TypeScript (frontend)
        entry: bash -c 'cd frontend && npm run typecheck'
        language: system
        pass_filenames: false
        files: ^frontend/

  # Pytest - full backend test suite (runs on PUSH only)
  # always_run: backend is core logic, run tests on every push regardless of changed files
  - repo: local
    hooks:
      - id: pytest
        name: pytest (full suite)
        entry: bash -c 'cd backend && .venv/bin/python -m pytest tests/ -v --tb=short'
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

  # Frontend Vitest - full frontend test suite (runs on PUSH only)
  - repo: local
    hooks:
      - id: frontend-vitest
        name: Vitest (frontend)
        entry: bash -c 'cd frontend && npm run test:run'
        language: system
        pass_filenames: false
        files: ^frontend/
        stages: [pre-push]

# Summary:
# ON COMMIT: ruff lint/format, bandit security scan, gitleaks secret detection,
#            mypy type check, ESLint, Prettier format check, TypeScript type check (fast)
# ON PUSH: Full pytest + Vitest suites (comprehensive - all tests must pass)

fix(deps): update hono 4.11.9→4.12.0 to resolve GHSA-gq3j-xvxp-8hrf
  frontend/package-lock.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

feat(auth): add OAuth endpoints with PKCE, account linking, pre-hijack defense
  backend/app/api/v1/auth_oauth.py
  backend/app/api/v1/router.py
  backend/app/core/account_linking.py
  backend/app/core/oauth.py
  backend/app/core/oauth_client.py
  backend/app/repositories/account_repository.py
  backend/tests/unit/test_account_linking.py
  backend/tests/unit/test_account_repository.py
  backend/tests/unit/test_oauth_endpoints.py
  backend/tests/unit/test_oauth_helpers.py
  docs/plan/auth_implementation_plan.md
Due: backend-mypy

feat(auth): add magic link + session endpoints (Phase 1 §8)
  backend/app/api/v1/auth_magic_link.py
  backend/app/api/v1/router.py
  backend/app/core/auth.py
  backend/app/core/email.py
  backend/app/repositories/verification_token_repository.py
  backend/tests/unit/test_magic_link_endpoints.py
  docs/plan/auth_implementation_plan.md
Due: backend-mypy

feat(auth): transition rate limiting to per-user keying (Phase 1 §9)
  backend/app/core/rate_limiting.py
  backend/tests/unit/test_api_main.py
  backend/tests/unit/test_rate_limiting.py
  docs/plan/auth_implementation_plan.md
Due: backend-mypy

fix(auth): resolve SonarCloud issues, complete Phase 1 gate (§10)
  backend/app/api/v1/auth_magic_link.py
  backend/app/api/v1/router.py
  docs/plan/auth_implementation_plan.md
Due: backend-mypy

feat(auth): add middleware + AuthProvider for frontend route protection (Phase 2 §1)
  docs/plan/auth_implementation_plan.md
  frontend/src/app/layout.tsx
  frontend/src/lib/auth-provider.test.tsx
  frontend/src/lib/auth-provider.tsx
  frontend/src/middleware.test.ts
  frontend/src/middleware.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

fix(ci): seed DAST test user so ZAP scans test real endpoint behavior
  .github/workflows/zap-dast.yml
  CLAUDE.md
Due: none

fix(frontend): resolve SonarCloud code smells in auth files
  frontend/src/lib/auth-provider.tsx
  frontend/src/middleware.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

feat(frontend): add credentials mode and 401 interceptor to API client
  docs/plan/auth_implementation_plan.md
  frontend/src/lib/api-client.test.ts
  frontend/src/lib/api-client.ts
  frontend/src/lib/query-client.test.ts
  frontend/src/lib/query-client.ts
  frontend/src/lib/query-provider.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

feat(frontend): add login page with email/password, OAuth, and magic link
  docs/plan/auth_implementation_plan.md
  frontend/src/app/login/page.test.tsx
  frontend/src/app/login/page.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

feat(frontend): add register page with password strength indicator
  docs/plan/auth_implementation_plan.md
  frontend/src/app/register/page.test.tsx
  frontend/src/app/register/page.tsx
  frontend/src/lib/api-client.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

fix(frontend): replace deprecated z.string().email() with z.email() pipe
  frontend/src/app/login/page.tsx
  frontend/src/app/register/page.tsx
  frontend/src/components/form/form-error-summary.test.tsx
  frontend/src/components/form/form-input-field.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

feat(auth): add account settings section with profile, password, and session management
  backend/app/api/v1/auth_magic_link.py
  backend/tests/unit/test_magic_link_endpoints.py
  docs/plan/auth_implementation_plan.md
  frontend/src/app/login/page.test.tsx
  frontend/src/app/register/page.test.tsx
  frontend/src/components/settings/account-section.test.tsx
  frontend/src/components/settings/account-section.tsx
  frontend/src/components/settings/settings-page.test.tsx
  frontend/src/components/settings/settings-page.tsx
  frontend/src/lib/auth-provider.test.tsx
  frontend/src/lib/auth-provider.tsx
  frontend/tests/e2e/settings.spec.ts
  frontend/tests/utils/settings-api-mocks.ts
Due: backend-mypy, frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

fix(frontend): resolve 3 SonarCloud issues (S7721, S7741)
  frontend/src/components/settings/account-section.tsx
  frontend/src/lib/api-client.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

chore(ci): add ZAP rule 10112 to suppression list
  .github/zap-rules.tsv
Due: none

feat(security): add alert triage skill and zap-rules.tsv protection hook
  .claude/settings.json
  .claude/skills/zentropy-security-alerts/SKILL.md
  .github/zap-rules.tsv
  CLAUDE.md
Due: none

feat(auth): add logout flow with cache clearing and session reset
  docs/plan/auth_implementation_plan.md
  frontend/src/components/settings/account-section.test.tsx
  frontend/src/components/settings/account-section.tsx
  frontend/src/lib/auth-provider.test.tsx
  frontend/src/lib/auth-provider.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

chore(security): suppress false positive Semgrep findings
  backend/app/core/auth.py
  frontend/src/middleware.test.ts
Due: backend-mypy, frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

fix(frontend): rename middleware to proxy and fix E2E redirect loop
  frontend/playwright.config.ts
  frontend/src/proxy.test.ts
  frontend/src/proxy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

test(auth): add 16 Playwright E2E tests for full auth flows
  docs/plan/auth_implementation_plan.md
  frontend/src/components/settings/account-section.test.tsx
  frontend/src/components/settings/account-section.tsx
  frontend/tests/e2e/auth-login-register.spec.ts
  frontend/tests/e2e/auth-session-settings.spec.ts
  frontend/tests/fixtures/auth-mock-data.ts
  frontend/tests/utils/auth-api-mocks.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(plan): mark Phase 2 complete — all auth frontend tests green
  docs/plan/auth_implementation_plan.md
Due: none

feat(db): rename 49 indexes to explicit idx_{table}_{column} convention
  backend/migrations/versions/011_rename_indexes.py
  backend/tests/unit/test_migration_011_rename_indexes.py
  docs/plan/auth_implementation_plan.md
  docs/requirements/REQ-005_database_schema.md
  docs/requirements/REQ-014_multi_tenant.md
  docs/requirements/REQ-015_shared_job_pool.md
Due: none

feat(api): implement personas CRUD with ownership verification
  backend/app/api/v1/personas.py
  backend/tests/unit/test_api_personas_crud.py
  docs/plan/auth_implementation_plan.md
Due: backend-mypy

refactor(api): deduplicate persona schemas and suppress proxy.ts false positive
  backend/app/api/v1/personas.py
  frontend/src/proxy.ts
Due: backend-mypy, frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(plan): add Phase 7 — provider config & live auth testing
  docs/plan/auth_implementation_plan.md
Due: none

feat(api): implement ownership verification for secondary endpoints
  backend/app/api/v1/applications.py
  backend/app/api/v1/cover_letters.py
  backend/app/api/v1/user_source_preferences.py
  backend/app/schemas/bulk.py
  backend/tests/unit/test_api_applications.py
  backend/tests/unit/test_api_cover_letters.py
  backend/tests/unit/test_api_user_source_preferences.py
  docs/plan/auth_implementation_plan.md
Due: backend-mypy

feat(auth): add TenantScopedSession wrapper and agent session guard tests
  backend/app/core/tenant_session.py
  backend/tests/unit/test_agent_session_guard.py
  backend/tests/unit/test_tenant_session.py
  docs/plan/auth_implementation_plan.md
Due: backend-mypy

fix(test): remove redundant bulk-archive tests that fail in CI
  backend/tests/unit/test_api_bulk_operations.py
Due: none

chore(security): suppress 8 Semgrep false positive findings
  backend/app/api/v1/auth_oauth.py
  backend/app/core/auth.py
  backend/app/core/rate_limiting.py
  backend/migrations/versions/011_rename_indexes.py
Due: backend-mypy

test(auth): add 48 cross-tenant isolation tests with IDOR fixes
  backend/app/api/v1/cover_letters.py
  backend/app/api/v1/job_postings.py
  backend/tests/conftest.py
  backend/tests/unit/test_api_files.py
  backend/tests/unit/test_cross_tenant_isolation.py
  docs/plan/auth_implementation_plan.md
Due: backend-mypy

test(e2e): add 7 Playwright cross-tenant isolation tests
  docs/plan/auth_implementation_plan.md
  frontend/tests/e2e/cross-tenant-isolation.spec.ts
  frontend/tests/utils/cross-tenant-api-mocks.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(plan): mark Phase 3 complete — all multi-tenant isolation tests green
  docs/plan/auth_implementation_plan.md
Due: none

feat(db): add persona_jobs table and is_active flag for shared job pool
  backend/app/models/__init__.py
  backend/app/models/job_posting.py
  backend/app/models/persona.py
  backend/app/models/persona_job.py
  backend/migrations/versions/012_persona_jobs.py
  backend/tests/unit/test_migration_012_persona_jobs.py
  docs/plan/auth_implementation_plan.md
Due: backend-mypy

feat(db): add migration 013 — backfill persona_jobs from job_postings
  backend/migrations/versions/013_backfill_persona_jobs.py
  backend/tests/unit/test_migration_013_backfill.py
  docs/plan/auth_implementation_plan.md
Due: none

feat(db): add cross-persona dedup script (REQ-015 §11.3)
  backend/scripts/__init__.py
  backend/scripts/dedup_cross_persona.py
  backend/tests/unit/test_dedup_cross_persona.py
  docs/plan/auth_implementation_plan.md
Due: none

feat(db): add migration 014 — drop per-user columns from job_postings
  backend/migrations/versions/014_drop_per_user_columns.py
  backend/tests/unit/test_migration_014_drop_per_user_columns.py
  docs/plan/auth_implementation_plan.md
Due: none

fix(api): update models, tests, and endpoints for shared job pool schema
  backend/app/api/v1/applications.py
  backend/app/api/v1/cover_letters.py
  backend/app/api/v1/job_postings.py
  backend/app/api/v1/job_variants.py
  backend/app/models/application.py
  backend/app/models/job_posting.py
  backend/app/models/persona.py
  backend/app/models/persona_job.py
  backend/migrations/versions/015_update_cleanup_functions.py
  backend/tests/unit/test_api_applications.py
  backend/tests/unit/test_api_cover_letters.py
  backend/tests/unit/test_api_files.py
  backend/tests/unit/test_api_job_variants.py
  backend/tests/unit/test_application_pin_archive.py
  backend/tests/unit/test_application_workflow.py
  backend/tests/unit/test_cover_letter_editing.py
  backend/tests/unit/test_cover_letter_pdf_generation.py
  backend/tests/unit/test_cover_letter_pdf_storage.py
  backend/tests/unit/test_cross_tenant_isolation.py
  backend/tests/unit/test_pdf_generation.py
  backend/tests/unit/test_retention_cleanup.py
  backend/tests/unit/test_score_details.py
  docs/plan/auth_implementation_plan.md
Due: backend-mypy

feat(api): add repositories + response models for shared job pool
  backend/app/repositories/job_posting_repository.py
  backend/app/repositories/persona_job_repository.py
  backend/app/schemas/job_posting.py
  backend/tests/unit/conftest.py
  backend/tests/unit/test_job_posting_repository.py
  backend/tests/unit/test_job_posting_schemas.py
  backend/tests/unit/test_persona_job_repository.py
  backend/tests/unit/test_persona_job_repository_write.py
  docs/plan/auth_implementation_plan.md
Due: backend-mypy

feat(api): rewrite job-posting CRUD for shared pool + persona_jobs
  backend/app/api/v1/job_postings.py
  backend/app/repositories/persona_job_repository.py
  backend/app/schemas/job_posting.py
  backend/tests/unit/test_api_bulk_operations.py
  backend/tests/unit/test_api_job_postings_crud.py
  backend/tests/unit/test_api_job_postings_ingest.py
  docs/plan/auth_implementation_plan.md
Due: backend-mypy

refactor(db): reduce JobPostingRepository.create() params to fix SonarCloud S107
  backend/app/repositories/job_posting_repository.py
  backend/tests/unit/test_job_posting_repository.py
Due: backend-mypy
