Repository ApexAZ/zentropy_scout: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-mypy, frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

backend-mypy:
  name: mypy (backend)
  entry: bash -c 'cd backend && .venv/bin/python -m mypy app/ --ignore-missing-imports --warn-unused-ignores'
  language: system
  pass_filenames: false

frontend-eslint:
  name: ESLint (frontend)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-prettier:
  name: Prettier (frontend)
  entry: bash -c 'cd frontend && npm run format:check'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: TypeScript (frontend)
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

frontend-vitest:
  name: Vitest (frontend)
  entry: bash -c 'cd frontend && npm run test:run'
  language: system
  pass_filenames: false
  stages:
  - pre-push

docs(plan): mark Phase 2 complete — admin auth & read services
  docs/plan/admin_pricing_plan.md
Due: none

feat(providers): add model_override to LLM adapter complete() signatures
  backend/app/providers/llm/base.py
  backend/app/providers/llm/claude_adapter.py
  backend/app/providers/llm/gemini_adapter.py
  backend/app/providers/llm/mock_adapter.py
  backend/app/providers/llm/openai_adapter.py
  backend/app/providers/metered_provider.py
  backend/tests/unit/test_claude_adapter.py
  backend/tests/unit/test_gemini_adapter.py
  backend/tests/unit/test_metered_provider.py
  backend/tests/unit/test_openai_adapter.py
  docs/plan/admin_pricing_plan.md
Due: backend-mypy

feat(metering): migrate MeteringService from hardcoded to DB pricing
  backend/app/api/deps.py
  backend/app/core/config.py
  backend/app/services/embedding_cost.py
  backend/app/services/metering_service.py
  backend/tests/unit/test_metering_service.py
  docs/plan/admin_pricing_plan.md
Due: backend-mypy

feat(metering): wire AdminConfigService routing into MeteredLLMProvider
  backend/app/api/deps.py
  backend/app/providers/metered_provider.py
  backend/tests/unit/test_metered_provider.py
  docs/plan/admin_pricing_plan.md
Due: backend-mypy

fix(tests): update metering integration tests for DB-backed pricing
  backend/tests/unit/test_metering_integration.py
  backend/tests/unit/test_provider_name.py
Due: none

docs(plan): mark Phase 3 complete — backend migration
  docs/plan/admin_pricing_plan.md
Due: none

feat(schemas): add admin Pydantic schemas for all CRUD resources
  backend/app/schemas/admin.py
  backend/tests/unit/test_admin_schemas.py
  docs/plan/admin_pricing_plan.md
Due: backend-mypy

feat(admin): add AdminManagementService with CRUD for all admin resources
  backend/app/services/admin_management_service.py
  backend/tests/unit/test_admin_management_service.py
  docs/plan/admin_pricing_plan.md
Due: backend-mypy

feat(admin): add admin API endpoints with 7 CRUD resource groups
  backend/app/api/v1/admin.py
  backend/app/api/v1/router.py
  backend/app/schemas/admin.py
  backend/app/services/admin_management_service.py
  backend/tests/unit/test_admin_api.py
  docs/plan/admin_pricing_plan.md
Due: backend-mypy

docs(plan): mark Phase 4 complete — admin CRUD & API
  docs/plan/admin_pricing_plan.md
Due: none

feat(admin): add admin gate, nav link, API client, and types (REQ-022 §15)
  backend/app/api/v1/auth_magic_link.py
  docs/plan/admin_pricing_plan.md
  frontend/src/components/layout/top-nav.test.tsx
  frontend/src/components/layout/top-nav.tsx
  frontend/src/lib/api/admin.test.ts
  frontend/src/lib/api/admin.ts
  frontend/src/lib/auth-provider.tsx
  frontend/src/lib/query-keys.ts
  frontend/src/proxy.test.ts
  frontend/src/proxy.ts
  frontend/src/types/admin.ts
  frontend/src/types/index.ts
Due: backend-mypy, frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

fix(schemas): resolve 8 SonarCloud findings in admin schemas
  backend/app/schemas/admin.py
Due: backend-mypy

feat(admin): add admin config page with Models and Pricing tabs
  docs/plan/admin_pricing_plan.md
  frontend/src/app/(main)/admin/config/page.tsx
  frontend/src/components/admin/add-model-dialog.tsx
  frontend/src/components/admin/add-pricing-dialog.tsx
  frontend/src/components/admin/admin-config-page.test.tsx
  frontend/src/components/admin/admin-config-page.tsx
  frontend/src/components/admin/constants.ts
  frontend/src/components/admin/models-tab.test.tsx
  frontend/src/components/admin/models-tab.tsx
  frontend/src/components/admin/packs-tab.tsx
  frontend/src/components/admin/pricing-tab.test.tsx
  frontend/src/components/admin/pricing-tab.tsx
  frontend/src/components/admin/routing-tab.tsx
  frontend/src/components/admin/system-tab.tsx
  frontend/src/components/admin/users-tab.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

feat(admin): add Routing, Packs, System, and Users tabs (REQ-022 §17)
  docs/plan/admin_pricing_plan.md
  frontend/src/components/admin/add-pack-dialog.tsx
  frontend/src/components/admin/add-routing-dialog.tsx
  frontend/src/components/admin/packs-tab.test.tsx
  frontend/src/components/admin/packs-tab.tsx
  frontend/src/components/admin/routing-tab.test.tsx
  frontend/src/components/admin/routing-tab.tsx
  frontend/src/components/admin/system-tab.test.tsx
  frontend/src/components/admin/system-tab.tsx
  frontend/src/components/admin/users-tab.test.tsx
  frontend/src/components/admin/users-tab.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

fix(test): add isAdmin to auth-provider test data, mock useSession in app-shell
  frontend/src/components/layout/app-shell.test.tsx
  frontend/src/lib/auth-provider.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(plan): mark Phase 5 complete — admin frontend
  docs/plan/admin_pricing_plan.md
Due: none

docs(backlog): add #23 Job Capture Bookmarklet PBI
  docs/backlog/feature-backlog.md
Due: none

docs(backlog): add #24 Resume Editor — TipTap Rich Text PBI
  docs/backlog/feature-backlog.md
Due: none

test(integration): add admin pricing pipeline integration tests (REQ-022 §19)
  backend/tests/integration/__init__.py
  backend/tests/integration/test_admin_pricing_pipeline.py
  docs/plan/admin_pricing_plan.md
Due: none

test(e2e): add admin page E2E tests with mock infrastructure (REQ-022 §20)
  docs/plan/admin_pricing_plan.md
  frontend/tests/e2e/admin.spec.ts
  frontend/tests/e2e/navigation.spec.ts
  frontend/tests/fixtures/admin-mock-data.ts
  frontend/tests/fixtures/auth-mock-data.ts
  frontend/tests/utils/admin-api-mocks.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(plan): mark Phase 6 and §21 complete — REQ-022 fully implemented
  docs/plan/admin_pricing_plan.md
Due: none

fix(frontend): stabilize Playwright E2E tests and fix SonarCloud code quality
  frontend/playwright.config.ts
  frontend/src/components/admin/add-pack-dialog.tsx
  frontend/src/components/admin/add-pricing-dialog.tsx
  frontend/src/components/admin/models-tab.tsx
  frontend/src/components/admin/packs-tab.tsx
  frontend/src/components/admin/pricing-tab.tsx
  frontend/src/components/admin/routing-tab.tsx
  frontend/src/components/admin/system-tab.tsx
  frontend/src/components/admin/users-tab.tsx
  frontend/src/lib/api/admin.ts
  frontend/src/proxy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

chore(frontend): remove dev tools and overlay helpers
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/lib/query-provider.tsx
  frontend/tests/e2e/app-tracking.spec.ts
  frontend/tests/e2e/persona-editors-crud.spec.ts
  frontend/tests/utils/playwright-helpers.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

feat(frontend): apply Zentropy brand palette and logo
  frontend/public/zentropy_logo.png
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/components/layout/app-shell.test.tsx
  frontend/src/components/layout/top-nav.test.tsx
  frontend/src/components/layout/top-nav.tsx
  frontend/src/components/usage/balance-card.test.tsx
  frontend/src/lib/format-utils.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

fix(frontend): improve card and dialog surface contrast
  frontend/src/components/applications/add-timeline-event-dialog.tsx
  frontend/src/components/applications/interview-stage-dialog.tsx
  frontend/src/components/jobs/job-detail-header.tsx
  frontend/src/components/onboarding/steps/base-resume-setup-step.tsx
  frontend/src/components/onboarding/steps/review-step.tsx
  frontend/src/components/persona/change-flags-resolver.tsx
  frontend/src/components/persona/growth-targets-form-fields.tsx
  frontend/src/components/persona/persona-overview.tsx
  frontend/src/components/resume/variants-list.tsx
  frontend/src/components/ui/agent-reasoning.tsx
  frontend/src/components/ui/confirmation-dialog.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/form-alert-dialog.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

refactor: reduce SonarCloud code duplication
  backend/app/schemas/admin.py
  frontend/src/components/ui/table-pagination.test.tsx
  frontend/src/components/ui/table-pagination.tsx
  frontend/src/components/usage/transaction-table.tsx
  frontend/src/components/usage/usage-table.tsx
Due: backend-mypy, frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs: add brand palette reference and update backlog
  docs/backlog/feature-backlog.md
  docs/design/brand-palette.md
Due: none

docs: add REQ-023 (USD-direct billing) and update REQ-021 v0.5
  docs/backlog/feature-backlog.md
  docs/plan/admin_pricing_plan.md
  docs/requirements/REQ-021_credits_billing.md
  docs/requirements/REQ-023_usd_direct_billing.md
Due: none

fix(frontend): exclude static file extensions from proxy matcher
  frontend/src/proxy.test.ts
  frontend/src/proxy.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

fix(frontend): apply Zentropy brand palette via Tailwind v4 inline theme
  frontend/src/app/globals.css
  frontend/src/app/login/page.test.tsx
  frontend/src/app/login/page.tsx
  frontend/src/components/admin/users-tab.tsx
  frontend/src/components/jobs/score-explanation.tsx
  frontend/src/proxy.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

refactor(frontend): replace hardcoded colors with semantic tokens
  frontend/src/app/login/page.test.tsx
  frontend/src/app/login/page.tsx
  frontend/src/app/register/page.tsx
  frontend/src/components/admin/models-tab.tsx
  frontend/src/components/admin/packs-tab.tsx
  frontend/src/components/admin/pricing-tab.tsx
  frontend/src/components/cover-letter/cover-letter-review.tsx
  frontend/src/components/dashboard/opportunities-table.test.tsx
  frontend/src/components/dashboard/opportunities-table.tsx
  frontend/src/components/jobs/job-detail-header.tsx
  frontend/src/components/jobs/mark-as-applied-card.tsx
  frontend/src/components/jobs/score-explanation.tsx
  frontend/src/components/onboarding/steps/resume-upload-step.tsx
  frontend/src/components/persona/discovery-preferences-editor.tsx
  frontend/src/components/persona/growth-targets-editor.tsx
  frontend/src/components/persona/non-negotiables-editor.tsx
  frontend/src/components/persona/voice-profile-editor.tsx
  frontend/src/components/resume/variant-review.tsx
  frontend/src/components/settings/account-section.tsx
  frontend/src/components/usage/transaction-table.test.tsx
  frontend/src/components/usage/transaction-table.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

feat(agents): add ui-reviewer subagent for brand palette and UX compliance
  .claude/agents/ui-reviewer.md
  .claude/skills/config-sync/SKILL.md
  .claude/skills/zentropy-planner/SKILL.md
  CLAUDE.md
Due: none

docs(backlog): expand PBI #15 performance audit, add PBI #26 ToS & Privacy Policy
  docs/backlog/feature-backlog.md
  frontend/src/app/login/page.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(plan): add REQ-023 USD-direct billing implementation plan
  .claude/skills/zentropy-planner/SKILL.md
  CLAUDE.md
  docs/plan/req023_usd_direct_billing_plan.md
  docs/requirements/REQ-023_usd_direct_billing.md
Due: none

feat(db): rename credit_packs to funding_packs and update seed data
  backend/migrations/versions/022_usd_direct_billing.py
  backend/tests/integration/test_config_key_rename.py
  docs/plan/req023_usd_direct_billing_plan.md
Due: none

docs(plan): mark Phase 1 complete - DB migration + gate passed
  docs/plan/req023_usd_direct_billing_plan.md
Due: none

refactor(backend): rename CreditPack to FundingPack
  backend/app/api/v1/admin.py
  backend/app/models/__init__.py
  backend/app/models/admin_config.py
  backend/app/schemas/admin.py
  backend/app/services/admin_config_service.py
  backend/app/services/admin_management_service.py
  backend/tests/unit/test_admin_api.py
  backend/tests/unit/test_admin_config_models.py
  backend/tests/unit/test_admin_config_service.py
  backend/tests/unit/test_admin_management_service.py
  backend/tests/unit/test_admin_schemas.py
  docs/plan/req023_usd_direct_billing_plan.md
Due: backend-mypy

docs(plan): mark Phase 2 complete — backend renames + gate passed
  docs/plan/req023_usd_direct_billing_plan.md
Due: none

refactor(frontend): rename CreditPack to FundingPack
  frontend/src/components/admin/add-pack-dialog.tsx
  frontend/src/components/admin/packs-tab.test.tsx
  frontend/src/components/admin/packs-tab.tsx
  frontend/src/components/admin/system-tab.test.tsx
  frontend/src/components/admin/system-tab.tsx
  frontend/src/lib/api/admin.test.ts
  frontend/src/lib/api/admin.ts
  frontend/src/types/admin.ts
  frontend/src/types/index.ts
  frontend/tests/e2e/admin.spec.ts
  frontend/tests/fixtures/admin-mock-data.ts
  frontend/tests/utils/admin-api-mocks.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(plan): mark Phase 3 complete — frontend renames
  docs/plan/req023_usd_direct_billing_plan.md
Due: none

Path conditions:
  backend-mypy: any of: ^backend/app/
  frontend-eslint: any of: ^frontend/
  frontend-prettier: any of: ^frontend/
  frontend-typecheck: any of: ^frontend/
  frontend-vitest: any of: ^frontend/
