Repository ApexAZ/zentropy_scout: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-mypy, frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
#
# Install hooks: pre-commit install --hook-type pre-commit --hook-type pre-push
# Run manually: pre-commit run --all-files
# Skip (emergency): git commit --no-verify -m "message"
#
# Hook stages:
# - commit: Fast checks (linting, formatting) - runs on every commit
# - push: Full test suite - runs before pushing to remote

repos:
  # Ruff - fast Python linter and formatter (runs on COMMIT)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-check
        args: [--fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Standard pre-commit hooks (runs on COMMIT)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: detect-private-key

  # Bandit - Python security linter (runs on COMMIT)
  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.3
    hooks:
      - id: bandit
        args: ["-c", "backend/pyproject.toml", "-r"]
        files: ^backend/app/
        exclude: ^backend/tests/

  # Gitleaks - Secret detection (runs on COMMIT)
  # Uses locally installed gitleaks binary to avoid building from Go source
  - repo: local
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets
        entry: gitleaks git --pre-commit --redact --staged
        language: system
        pass_filenames: false

  # Mypy - Python type checking (runs on COMMIT)
  - repo: local
    hooks:
      - id: backend-mypy
        name: mypy (backend)
        entry: bash -c 'cd backend && .venv/bin/python -m mypy app/ --ignore-missing-imports --warn-unused-ignores'
        language: system
        pass_filenames: false
        files: ^backend/app/

  # Frontend ESLint - TypeScript/React linter (runs on COMMIT)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: ESLint (frontend)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        pass_filenames: false
        files: ^frontend/

  # Frontend Prettier - format check (runs on COMMIT)
  - repo: local
    hooks:
      - id: frontend-prettier
        name: Prettier (frontend)
        entry: bash -c 'cd frontend && npm run format:check'
        language: system
        pass_filenames: false
        files: ^frontend/

  # Frontend TypeScript - type check (runs on COMMIT)
  - repo: local
    hooks:
      - id: frontend-typecheck
        name: TypeScript (frontend)
        entry: bash -c 'cd frontend && npm run typecheck'
        language: system
        pass_filenames: false
        files: ^frontend/

  # Pytest - full backend test suite (runs on PUSH only)
  # always_run: backend is core logic, run tests on every push regardless of changed files
  - repo: local
    hooks:
      - id: pytest
        name: pytest (full suite)
        entry: bash -c 'cd backend && .venv/bin/python -m pytest tests/ -v --tb=short'
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

  # Frontend Vitest - full frontend test suite (runs on PUSH only)
  - repo: local
    hooks:
      - id: frontend-vitest
        name: Vitest (frontend)
        entry: bash -c 'cd frontend && npm run test:run'
        language: system
        pass_filenames: false
        files: ^frontend/
        stages: [pre-push]

# Summary:
# ON COMMIT: ruff lint/format, bandit security scan, gitleaks secret detection,
#            mypy type check, ESLint, Prettier format check, TypeScript type check (fast)
# ON PUSH: Full pytest + Vitest suites (comprehensive - all tests must pass)

feat(metering): add usage + credit repositories with 40 tests
  backend/app/repositories/credit_repository.py
  backend/app/repositories/usage_repository.py
  backend/tests/unit/test_credit_repository.py
  backend/tests/unit/test_credit_repository_balance.py
  backend/tests/unit/test_usage_repository.py
  backend/tests/unit/test_usage_repository_summary.py
  docs/plan/token_metering_plan.md
Due: backend-mypy

chore(lint): add coverage/ to ESLint global ignores
  frontend/eslint.config.mjs
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(plan): mark Phase 2 complete — metering core
  docs/plan/token_metering_plan.md
Due: none

feat(providers): add provider_name abstract property to all adapters
  backend/app/providers/embedding/base.py
  backend/app/providers/embedding/mock_adapter.py
  backend/app/providers/embedding/openai_adapter.py
  backend/app/providers/llm/base.py
  backend/app/providers/llm/claude_adapter.py
  backend/app/providers/llm/gemini_adapter.py
  backend/app/providers/llm/mock_adapter.py
  backend/app/providers/llm/openai_adapter.py
  backend/tests/unit/test_provider_name.py
  docs/plan/token_metering_plan.md
Due: backend-mypy

feat(metering): add MeteredLLMProvider, MeteredEmbeddingProvider + DI deps
  backend/app/api/deps.py
  backend/app/providers/metered_provider.py
  backend/tests/unit/test_metered_provider.py
  docs/plan/token_metering_plan.md
Due: backend-mypy

feat(metering): add InsufficientBalanceError + balance gating dependency
  backend/app/api/deps.py
  backend/app/core/errors.py
  backend/tests/unit/test_balance_gating.py
  docs/plan/token_metering_plan.md
Due: backend-mypy

feat(metering): wire metered providers + balance gating into LLM endpoints
  backend/app/api/v1/job_postings.py
  backend/app/api/v1/onboarding.py
  backend/app/services/job_extraction.py
  backend/tests/conftest.py
  backend/tests/unit/test_api_job_postings_ingest.py
  backend/tests/unit/test_api_onboarding.py
  backend/tests/unit/test_job_extraction.py
  docs/plan/token_metering_plan.md
Due: backend-mypy

refactor(services): add optional provider param to all internal services
  backend/app/services/content_generation_service.py
  backend/app/services/content_utils.py
  backend/app/services/cover_letter_generation.py
  backend/app/services/ghost_detection.py
  backend/app/services/job_enrichment_service.py
  backend/app/services/job_fetch_service.py
  backend/app/services/job_scoring_service.py
  backend/tests/unit/test_content_utils.py
  backend/tests/unit/test_cover_letter_generation.py
  backend/tests/unit/test_ghost_detection.py
  backend/tests/unit/test_job_scoring_service.py
  docs/plan/token_metering_plan.md
Due: backend-mypy

refactor(config): extract production checks to reduce cognitive complexity
  backend/app/core/config.py
Due: backend-mypy

fix(test): update mock assertion for provider kwarg in job fetch test
  backend/tests/unit/test_job_fetch_service.py
Due: none

docs(plan): mark Phase 4 complete — §10 gate passed
  docs/plan/token_metering_plan.md
Due: none

feat(usage): add 4 usage API endpoints with schemas and tests
  backend/app/api/deps.py
  backend/app/api/v1/router.py
  backend/app/api/v1/usage.py
  backend/app/schemas/usage.py
  backend/tests/unit/test_api_usage.py
  docs/backlog/feature-backlog.md
  docs/plan/token_metering_plan.md
Due: backend-mypy

docs(plan): mark Phase 5 §12 complete — API endpoints phase gate
  docs/plan/token_metering_plan.md
Due: none

chore: update security-triage baseline after Phase 5
  .claude/agents/security-triage.md
Due: none

fix(schemas): add explicit default to optional Pydantic field
  backend/app/schemas/usage.py
Due: backend-mypy

feat(usage): add balance display to top nav + 402 toast handling
  docs/plan/token_metering_plan.md
  frontend/src/components/layout/top-nav.test.tsx
  frontend/src/components/layout/top-nav.tsx
  frontend/src/hooks/use-balance.test.tsx
  frontend/src/hooks/use-balance.ts
  frontend/src/lib/api-client.test.ts
  frontend/src/lib/api-client.ts
  frontend/src/lib/query-keys.ts
  frontend/src/types/index.ts
  frontend/src/types/usage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

feat(usage): add usage dashboard page with balance, summary, and tables
  docs/plan/token_metering_plan.md
  frontend/src/app/(main)/usage/page.tsx
  frontend/src/components/usage/balance-card.test.tsx
  frontend/src/components/usage/balance-card.tsx
  frontend/src/components/usage/transaction-table.test.tsx
  frontend/src/components/usage/transaction-table.tsx
  frontend/src/components/usage/usage-page.test.tsx
  frontend/src/components/usage/usage-page.tsx
  frontend/src/components/usage/usage-summary.test.tsx
  frontend/src/components/usage/usage-summary.tsx
  frontend/src/components/usage/usage-table.test.tsx
  frontend/src/components/usage/usage-table.tsx
  frontend/src/lib/format-utils.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

fix(test): add useBalance mock to app-shell tests
  docs/plan/token_metering_plan.md
  frontend/src/components/layout/app-shell.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

test(metering): add integration tests for full metering pipeline
  backend/tests/unit/test_metering_integration.py
  docs/plan/token_metering_plan.md
Due: none

fix: resolve 4 SonarCloud findings for scaling and DRY
  backend/app/api/deps.py
  backend/tests/unit/test_metered_provider.py
  frontend/src/components/layout/top-nav.tsx
  frontend/src/components/usage/balance-card.tsx
  frontend/src/lib/format-utils.ts
Due: backend-mypy, frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

refactor: extract nested ternaries to helper functions (S3358)
  frontend/src/components/usage/transaction-table.tsx
  frontend/src/components/usage/usage-table.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

fix: convert delegate_onboarding from async to sync def (S7503)
  .claude/agents/security-triage.md
  backend/app/agents/chat.py
  backend/tests/unit/test_chat_agent.py
  backend/tests/unit/test_graph_invocation.py
Due: backend-mypy

test(e2e): add usage page + nav balance E2E tests (REQ-020 §9)
  docs/plan/token_metering_plan.md
  frontend/src/components/usage/usage-summary.tsx
  frontend/tests/e2e/navigation.spec.ts
  frontend/tests/e2e/usage.spec.ts
  frontend/tests/fixtures/usage-mock-data.ts
  frontend/tests/utils/usage-api-mocks.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(plan): mark §18 final gate complete — REQ-020 implementation done
  docs/plan/token_metering_plan.md
Due: none

refactor: audit suppressions and remove stale type: ignore comments (§17.1)
  .claude/agents/security-triage.md
  backend/app/services/experience_level.py
  docs/plan/token_metering_plan.md
Due: backend-mypy

refactor(tests): consolidate test secrets and remove 5 nosec suppressions
  backend/tests/unit/test_api_auth.py
  backend/tests/unit/test_auth_helpers.py
  backend/tests/unit/test_oauth_helpers.py
Due: none

fix(comments): correct nosemgrep line references in content_utils.py
  backend/app/services/content_utils.py
Due: backend-mypy

refactor: remove 67 type:ignore suppressions, fix Gemini streaming bug (§17.1)
  backend/app/agents/chat.py
  backend/app/api/v1/job_variants.py
  backend/app/models/resume.py
  backend/app/providers/llm/base.py
  backend/app/providers/llm/claude_adapter.py
  backend/app/providers/llm/gemini_adapter.py
  backend/app/providers/llm/mock_adapter.py
  backend/app/providers/llm/openai_adapter.py
  backend/app/providers/metered_provider.py
  backend/app/repositories/credit_repository.py
  backend/app/repositories/persona_job_repository.py
  backend/app/repositories/verification_token_repository.py
  backend/app/services/application_workflow.py
  backend/app/services/batch_scoring.py
  backend/app/services/content_security.py
  backend/app/services/job_scoring_service.py
  backend/app/services/metering_service.py
  backend/app/services/persona_embedding_generator.py
  backend/app/services/scoring_flow.py
  backend/tests/unit/test_auto_draft_threshold.py
  backend/tests/unit/test_content_generation_service.py
  backend/tests/unit/test_gemini_adapter.py
  backend/tests/unit/test_metered_provider.py
  backend/tests/unit/test_metering_models.py
  backend/tests/unit/test_pdf_generation.py
  backend/tests/unit/test_provider_name.py
  backend/tests/unit/test_role_title_match.py
Due: backend-mypy

refactor: audit noqa/eslint-disable suppressions — remove 84 incorrect/redundant (§17.1)
  backend/app/api/v1/chat.py
  backend/app/api/v1/onboarding.py
  backend/app/models/job_source.py
  backend/app/models/persona_settings.py
  backend/app/repositories/job_pool_repository.py
  backend/app/services/content_generation_service.py
  backend/tests/unit/test_api_files.py
  backend/tests/unit/test_api_job_postings_crud.py
  backend/tests/unit/test_api_persona_change_flags.py
  backend/tests/unit/test_api_usage.py
  backend/tests/unit/test_application_workflow.py
  backend/tests/unit/test_global_dedup_service.py
  backend/tests/unit/test_job_pool_repository_dedup.py
  backend/tests/unit/test_metering_integration.py
  backend/tests/unit/test_pdf_generation.py
  backend/tests/unit/test_persona_job_repository.py
  backend/tests/unit/test_persona_sync.py
  backend/tests/unit/test_pool_surfacing_service.py
  backend/tests/unit/test_race_conditions.py
  backend/tests/unit/test_retention_cleanup.py
  frontend/src/components/dashboard/opportunities-table.tsx
  frontend/src/components/data-table/data-table.tsx
  frontend/src/hooks/use-is-mobile.test.ts
  frontend/src/hooks/use-media-query.test.ts
Due: backend-mypy, frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(plan): add §17.1 suppression audit completion to change log
  docs/plan/token_metering_plan.md
Due: none

docs(backlog): mark #12 Token Metering complete
  docs/backlog/feature-backlog.md
Due: none

docs(backlog): add admin pricing items #16-#19
  docs/backlog/feature-backlog.md
Due: none

docs(backlog): reorder MVP priority, add landing page #20 + recruiter portal #21
  docs/backlog/feature-backlog.md
Due: none

docs(req): revise REQ-021 v0.3 — abstract credits and admin-configurable pricing
  .claude/agents/security-triage.md
  docs/requirements/REQ-021_credits_billing.md
Due: none

docs(req): add REQ-022 Admin Pricing Dashboard & Model Registry
  docs/backlog/feature-backlog.md
  docs/requirements/REQ-022_admin_pricing.md
Due: none

feat(models): add 5 admin config ORM models + User.is_admin (REQ-022 §4)
  backend/app/models/__init__.py
  backend/app/models/admin_config.py
  backend/app/models/user.py
  backend/tests/unit/test_admin_config_models.py
  docs/plan/admin_pricing_plan.md
Due: backend-mypy

feat(db): add admin pricing migration with seed data
  backend/migrations/versions/021_admin_pricing.py
  docs/plan/admin_pricing_plan.md
Due: none

docs(plan): mark Phase 1 complete — database foundation
  docs/plan/admin_pricing_plan.md
Due: none

feat(auth): add admin auth infrastructure (REQ-022 §5)
  .env.example
  backend/app/api/deps.py
  backend/app/api/v1/auth.py
  backend/app/api/v1/auth_magic_link.py
  backend/app/api/v1/auth_oauth.py
  backend/app/core/auth.py
  backend/app/core/config.py
  backend/app/core/errors.py
  backend/app/repositories/user_repository.py
  backend/tests/unit/test_admin_auth.py
  docs/plan/admin_pricing_plan.md
Due: backend-mypy

feat(admin): add AdminConfigService with read-side config lookups
  backend/app/api/deps.py
  backend/app/services/admin_config_service.py
  backend/tests/unit/test_admin_config_service.py
  docs/plan/admin_pricing_plan.md
Due: backend-mypy
