Repository ApexAZ/zentropy_scout: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-mypy, frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

backend-mypy:
  name: mypy (backend)
  entry: bash -c 'cd backend && .venv/bin/python -m mypy app/ --ignore-missing-imports --warn-unused-ignores'
  language: system
  pass_filenames: false

frontend-eslint:
  name: ESLint (frontend)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-prettier:
  name: Prettier (frontend)
  entry: bash -c 'cd frontend && npm run format:check'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: TypeScript (frontend)
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

frontend-vitest:
  name: Vitest (frontend)
  entry: bash -c 'cd frontend && npm run test:run'
  language: system
  pass_filenames: false
  stages:
  - pre-push

docs: move completed plan files to Archive
  docs/plan/Archive/auth_implementation_plan.md
  docs/plan/Archive/sarif_fingerprint_plan.md
  docs/plan/Archive/test_cleanup_plan.md
Due: none

fix(extraction): filter malformed LLM skill entries to prevent 500
  backend/app/services/job_extraction.py
  backend/tests/unit/test_job_extraction.py
Due: backend-mypy

refactor(security): autonomous security gate via subagent
  .claude/agents/security-triage.md
  .claude/settings.json
  .claude/skills/zentropy-security-alerts/SKILL.md
  CLAUDE.md
  docs/plan/sarif_fingerprint_plan.md
Due: none

fix(security): add prosecution protocol, fix S1192/S7632, clean noqa syntax
  .claude/agents/security-triage.md
  .claude/settings.json
  CLAUDE.md
  backend/app/api/v1/auth.py
  backend/app/api/v1/auth_magic_link.py
  backend/app/api/v1/auth_oauth.py
  backend/app/api/v1/chat.py
  backend/app/api/v1/job_postings.py
  backend/app/api/v1/onboarding.py
  backend/app/api/v1/personas.py
  backend/app/services/content_generation_service.py
  backend/app/services/pool_surfacing_worker.py
  backend/tests/conftest.py
  backend/tests/unit/test_api_job_postings_crud.py
  backend/tests/unit/test_api_persona_change_flags.py
  backend/tests/unit/test_auth_password_endpoints.py
  backend/tests/unit/test_cross_tenant_isolation.py
  backend/tests/unit/test_magic_link_endpoints.py
  backend/tests/unit/test_onboarding_workflow.py
  backend/tests/unit/test_pdf_generation.py
  backend/tests/unit/test_persona_sync.py
  backend/tests/unit/test_race_conditions.py
  backend/tests/unit/test_retention_cleanup.py
Due: backend-mypy

chore(ci): update pgvector Docker image SHA pin to latest pg16
  .github/workflows/sonarcloud.yml
  .github/workflows/zap-dast.yml
Due: none

feat(onboarding): reduce wizard to 11 steps, wire resume parse endpoint
  docs/plan/llm_redesign_plan.md
  frontend/src/app/onboarding/page.tsx
  frontend/src/components/onboarding/onboarding-shell.test.tsx
  frontend/src/components/onboarding/onboarding-steps.test.ts
  frontend/src/components/onboarding/onboarding-steps.ts
  frontend/src/components/onboarding/steps/resume-upload-step.test.tsx
  frontend/src/components/onboarding/steps/resume-upload-step.tsx
  frontend/src/components/onboarding/steps/review-step.test.tsx
  frontend/src/components/onboarding/steps/review-step.tsx
  frontend/src/lib/onboarding-provider.test.tsx
  frontend/src/lib/onboarding-provider.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(plan): mark §16 complete
  docs/plan/llm_redesign_plan.md
Due: none

test(onboarding): update E2E + unit tests for 11-step wizard flow
  docs/plan/llm_redesign_plan.md
  frontend/src/components/onboarding/steps/review-step.test.tsx
  frontend/src/components/onboarding/steps/review-step.tsx
  frontend/tests/e2e/onboarding.spec.ts
  frontend/tests/fixtures/onboarding-mock-data.ts
  frontend/tests/utils/onboarding-api-mocks.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(plan): mark §18 phase gate complete
  docs/plan/llm_redesign_plan.md
Due: none

chore(config): add SSH keep-alive to push commands, mark §18 complete
  .claude/agents/req-reader.md
  .claude/agents/test-runner.md
  .claude/skills/reflect/SKILL.md
  .claude/skills/zentropy-agents/SKILL.md
  .claude/skills/zentropy-api/SKILL.md
  .claude/skills/zentropy-db/SKILL.md
  .claude/skills/zentropy-git/SKILL.md
  .claude/skills/zentropy-planner/SKILL.md
  .claude/skills/zentropy-provider/SKILL.md
  .claude/skills/zentropy-tdd/SKILL.md
  CLAUDE.md
Due: none

chore(security): accept minimatch ReDoS advisories, mark §19 complete
  .github/workflows/pip-audit.yml
  docs/plan/llm_redesign_plan.md
Due: none

docs(plan): mark §20 final gate complete
  docs/plan/llm_redesign_plan.md
Due: none

docs(plan): add audit remediation plan from 4-agent deep review
  docs/plan/audit_remediation_plan.md
Due: none

fix(security): add user_id filter to _load_jobs() for tenant isolation
  backend/app/services/job_scoring_service.py
  backend/tests/unit/test_job_scoring_service.py
  docs/plan/audit_remediation_plan.md
Due: backend-mypy

fix(security): add user_id tenant isolation to finalize_onboarding
  backend/app/services/onboarding_workflow.py
  backend/tests/unit/test_onboarding_workflow.py
  backend/tests/unit/test_race_conditions.py
  docs/plan/audit_remediation_plan.md
Due: backend-mypy

chore(config): strengthen security gate hook wording + CLAUDE.md reminder
  .claude/settings.json
  CLAUDE.md
Due: none

fix(security): add user_id to PersonaEmbeddingCache key for tenant isolation
  backend/app/services/embedding_cache.py
  backend/tests/unit/test_embedding_cache.py
  docs/plan/audit_remediation_plan.md
Due: backend-mypy

fix(security): add capacity limits to IngestTokenStore + full test suite
  backend/app/services/ingest_token_store.py
  backend/tests/unit/test_ingest_token_store.py
  docs/plan/audit_remediation_plan.md
Due: backend-mypy

fix(security): truncate messages before regex matching (ReDoS defense-in-depth)
  backend/app/agents/chat.py
  backend/app/agents/ghostwriter.py
  backend/app/agents/onboarding.py
  backend/app/agents/scouter.py
  backend/tests/unit/test_chat_agent.py
  backend/tests/unit/test_ghostwriter.py
  backend/tests/unit/test_onboarding_utilities.py
  backend/tests/unit/test_scouter_agent.py
  docs/plan/audit_remediation_plan.md
Due: backend-mypy

fix(security): add SSE connection timeout to prevent resource exhaustion
  backend/app/api/v1/chat.py
  backend/tests/unit/test_api_chat.py
  docs/plan/audit_remediation_plan.md
Due: backend-mypy

docs(plan): mark §7 phase gate complete, Phase 1 complete
  docs/plan/audit_remediation_plan.md
Due: none

test(chat): add delegate_onboarding unit tests (§8)
  backend/tests/unit/test_chat_agent.py
  docs/plan/audit_remediation_plan.md
Due: none

test: refactor implementation-coupled tests to behavioral assertions (§9)
  backend/tests/unit/test_content_generation_service.py
  backend/tests/unit/test_cover_letter_generation.py
  backend/tests/unit/test_job_scoring_service.py
  docs/plan/audit_remediation_plan.md
Due: none

docs(plan): mark §10 phase gate complete, Phase 2 complete
  .claude/agents/security-triage.md
  docs/plan/audit_remediation_plan.md
Due: none

fix(errors): migrate 7 bare-Exception subclasses to APIError hierarchy (§11)
  backend/app/core/account_linking.py
  backend/app/providers/errors.py
  backend/app/services/cover_letter_generation.py
  backend/app/services/golden_set.py
  backend/app/services/job_status.py
  backend/app/services/retention_cleanup.py
  backend/app/services/scouter_errors.py
  backend/tests/unit/test_account_linking.py
  backend/tests/unit/test_cover_letter_generation.py
  backend/tests/unit/test_golden_set.py
  backend/tests/unit/test_job_status_transitions.py
  backend/tests/unit/test_provider_errors.py
  backend/tests/unit/test_retention_cleanup.py
  backend/tests/unit/test_scouter_error_handling.py
  docs/plan/audit_remediation_plan.md
Due: backend-mypy

fix(chat): differentiate exception handling in delegate_ghostwriter
  backend/app/agents/chat.py
  backend/tests/unit/test_chat_agent.py
  docs/plan/audit_remediation_plan.md
Due: backend-mypy

fix(data): freeze dataclasses + add Pydantic LLM output validation (§13)
  backend/app/schemas/ingest.py
  backend/app/services/cover_letter_generation.py
  backend/app/services/discovery_workflow.py
  backend/app/services/job_extraction.py
  backend/app/services/resume_parsing_service.py
  backend/tests/unit/test_cover_letter_generation.py
  backend/tests/unit/test_discovery_workflow.py
  backend/tests/unit/test_job_extraction.py
  backend/tests/unit/test_resume_parsing_service.py
  docs/plan/audit_remediation_plan.md
Due: backend-mypy

refactor(agents): remove dead code + update docstrings (§14)
  backend/app/agents/__init__.py
  backend/app/agents/checkpoint.py
  backend/app/agents/onboarding.py
  backend/app/agents/state.py
  backend/tests/unit/test_onboarding_utilities.py
  docs/plan/audit_remediation_plan.md
Due: backend-mypy

chore: rename _CacheKey to _cache_key (SonarCloud S116), mark §15 complete
  backend/app/services/embedding_cache.py
  docs/plan/audit_remediation_plan.md
Due: backend-mypy

docs: mark LLM agent redesign as complete in plan, backlog, and REQs
  docs/backlog/feature-backlog.md
  docs/plan/llm_redesign_plan.md
  docs/requirements/REQ-016_scouter_service_layer.md
  docs/requirements/REQ-017_strategist_service_layer.md
  docs/requirements/REQ-018_ghostwriter_service_layer.md
  docs/requirements/REQ-019_onboarding_service_layer.md
Due: none

docs: update CLAUDE.md current status with LLM redesign completion
  CLAUDE.md
Due: none

docs: mark all implemented REQs as Implemented, REQ-011 as Postponed
  docs/requirements/REQ-001_persona_schema.md
  docs/requirements/REQ-002_resume_schema.md
  docs/requirements/REQ-002b_cover_letter_schema.md
  docs/requirements/REQ-003_job_posting_schema.md
  docs/requirements/REQ-004_application_schema.md
  docs/requirements/REQ-005_database_schema.md
  docs/requirements/REQ-006_api_contract.md
  docs/requirements/REQ-007_agent_behavior.md
  docs/requirements/REQ-008_scoring_algorithm.md
  docs/requirements/REQ-009_provider_abstraction.md
  docs/requirements/REQ-010_content_generation.md
  docs/requirements/REQ-011_chrome_extension.md
  docs/requirements/REQ-012_frontend_application.md
  docs/requirements/REQ-013_authentication.md
  docs/requirements/REQ-014_multi_tenant.md
  docs/requirements/REQ-015_shared_job_pool.md
Due: none

fix(tests): replace dependency_overrides.clear() with targeted .pop()
  backend/tests/conftest.py
  backend/tests/unit/test_api_bulk_operations.py
  backend/tests/unit/test_auth_password_endpoints.py
  backend/tests/unit/test_magic_link_endpoints.py
  backend/tests/unit/test_oauth_endpoints.py
Due: none

docs: archive completed audit remediation and LLM redesign plans
  docs/plan/Archive/audit_remediation_plan.md
  docs/plan/Archive/llm_redesign_plan.md
Due: none

chore: update security-triage baseline after S116 resolution
  .claude/agents/security-triage.md
Due: none

docs: add MVP backlog items and restructure by priority
  docs/backlog/feature-backlog.md
Due: none

docs: add REQ-020 Token Metering & Usage Tracking specification
  docs/requirements/REQ-020_token_metering.md
Due: none

docs: add REQ-021 Credits & Billing, amend REQ-020 reference_id type
  docs/requirements/REQ-020_token_metering.md
  docs/requirements/REQ-021_credits_billing.md
Due: none

feat: add token metering ORM models and migration (REQ-020 §4)
  backend/app/models/__init__.py
  backend/app/models/usage.py
  backend/app/models/user.py
  backend/migrations/versions/020_token_metering.py
  backend/tests/unit/test_metering_models.py
  docs/plan/token_metering_plan.md
Due: backend-mypy

feat: add metering service with pricing table and cost calculation (REQ-020 §5)
  backend/app/core/config.py
  backend/app/services/metering_service.py
  backend/tests/unit/test_metering_service.py
  docs/plan/token_metering_plan.md
Due: backend-mypy

Path conditions:
  backend-mypy: any of: ^backend/app/
  frontend-eslint: any of: ^frontend/
  frontend-prettier: any of: ^frontend/
  frontend-typecheck: any of: ^frontend/
  frontend-vitest: any of: ^frontend/
