Repository ApexAZ/zentropy_scout: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-mypy, frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

backend-mypy:
  name: mypy (backend)
  entry: bash -c 'cd backend && .venv/bin/python -m mypy app/ --ignore-missing-imports --warn-unused-ignores'
  language: system
  pass_filenames: false

frontend-eslint:
  name: ESLint (frontend)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-prettier:
  name: Prettier (frontend)
  entry: bash -c 'cd frontend && npm run format:check'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: TypeScript (frontend)
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

frontend-vitest:
  name: Vitest (frontend)
  entry: bash -c 'cd frontend && npm run test:run'
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix: add registry param to MeteredLLMProvider call sites and _default fallback (§28 P1.7)
  backend/app/services/admin_config_service.py
  backend/tests/integration/test_admin_pricing_pipeline.py
  backend/tests/unit/test_metering_integration.py
Due: backend-mypy

docs(plan): mark Phase 1 complete — cross-provider routing (§28)
  docs/plan/cross_provider_routing_plan.md
Due: none

docs(plan): mark Phase 2 Task 0 security triage complete (§28 P2.0)
  docs/plan/cross_provider_routing_plan.md
Due: none

feat(admin): add TASK_TYPES constant and routing test types (§28 P2.1)
  docs/plan/cross_provider_routing_plan.md
  frontend/src/components/admin/constants.ts
  frontend/src/types/admin.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

feat(admin): rewrite RoutingTab as fixed 10-row editable table (§28 P2.2)
  docs/plan/cross_provider_routing_plan.md
  frontend/src/components/admin/add-routing-dialog.tsx
  frontend/src/components/admin/routing-tab.test.tsx
  frontend/src/components/admin/routing-tab.tsx
  frontend/tests/e2e/admin.spec.ts
  frontend/tests/fixtures/admin-mock-data.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

feat(admin): add test button + API client for routing table (§28 P2.3)
  docs/plan/cross_provider_routing_plan.md
  frontend/src/components/admin/routing-tab.test.tsx
  frontend/src/components/admin/routing-tab.tsx
  frontend/src/components/admin/routing-test-cell.tsx
  frontend/src/lib/api/admin.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

feat(admin): add provider availability warning to routing table (§28 P2.4)
  backend/app/api/v1/admin.py
  backend/tests/unit/test_admin_routing_test.py
  docs/plan/cross_provider_routing_plan.md
  frontend/src/components/admin/routing-tab.test.tsx
  frontend/src/components/admin/routing-tab.tsx
  frontend/src/lib/api/admin.ts
  frontend/src/lib/query-keys.ts
  frontend/tests/fixtures/admin-mock-data.ts
  frontend/tests/utils/admin-api-mocks.ts
Due: backend-mypy, frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

fix(tests): resolve pytest-asyncio fixture and config issues
  backend/tests/conftest.py
  backend/tests/unit/conftest.py
  backend/tests/unit/test_api_bulk_operations.py
  backend/tests/unit/test_api_job_postings_router.py
  backend/tests/unit/test_api_main.py
  backend/tests/unit/test_api_personas_router.py
  backend/tests/unit/test_api_resources_router.py
  backend/tests/unit/test_global_dedup_service.py
  backend/tests/unit/test_job_posting_repository.py
  backend/tests/unit/test_null_byte_middleware.py
  backend/tests/unit/test_pool_scoring.py
  backend/tests/unit/test_pool_surfacing_service.py
  pytest.ini
Due: none

docs: mark Phase 2 complete, add test suite audit PBI (#28)
  docs/backlog/feature-backlog.md
  docs/plan/cross_provider_routing_plan.md
Due: none

docs: mark BYOK as not planned in REQ-009, fix readonly props (§28 P3)
  docs/plan/cross_provider_routing_plan.md
  docs/requirements/REQ-009_provider_abstraction.md
  frontend/src/components/admin/routing-test-cell.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

chore: pass Phase 4 security triage gate (all scanners clear)
  docs/plan/cross_provider_routing_plan.md
Due: none

feat(embedding): add GeminiEmbeddingAdapter with shared error classifier (§28 P4.1)
  backend/app/providers/embedding/__init__.py
  backend/app/providers/embedding/gemini_adapter.py
  backend/app/providers/gemini_errors.py
  backend/app/providers/llm/gemini_adapter.py
  backend/tests/unit/test_gemini_embedding_adapter.py
  docs/plan/cross_provider_routing_plan.md
Due: backend-mypy

feat(embedding): add gemini case to embedding factory (§28 P4.2)
  backend/app/providers/factory.py
  backend/tests/unit/test_provider_factory.py
  docs/plan/cross_provider_routing_plan.md
Due: backend-mypy

feat(config): change embedding defaults from OpenAI to Gemini (§28 P4.3)
  .env.example
  backend/app/providers/config.py
  backend/tests/unit/test_provider_config.py
  docs/plan/cross_provider_routing_plan.md
Due: backend-mypy

feat(db): add job_embeddings table + resize vectors to 768 dims (§28 P4.4)
  backend/migrations/versions/024_gemini_embedding_dimensions.py
  docs/plan/cross_provider_routing_plan.md
Due: none

refactor(embedding): update all dimensions from 1536 to 768 (§28 P4.5)
  backend/app/models/base.py
  backend/app/providers/embedding/mock_adapter.py
  backend/app/services/batch_scoring.py
  backend/app/services/embedding_cache.py
  backend/app/services/job_embedding_generator.py
  backend/app/services/persona_embedding_generator.py
  backend/app/services/soft_skills_match.py
  backend/tests/conftest.py
  backend/tests/unit/test_batch_scoring.py
  backend/tests/unit/test_career_changer_edge_cases.py
  backend/tests/unit/test_embedding_cache.py
  backend/tests/unit/test_job_embedding_generation.py
  backend/tests/unit/test_metered_provider.py
  backend/tests/unit/test_missing_data_edge_cases.py
  backend/tests/unit/test_persona_embedding_generation.py
  backend/tests/unit/test_provider_name.py
  backend/tests/unit/test_score_scenarios.py
  backend/tests/unit/test_soft_skills_match.py
  backend/tests/unit/test_target_role_alignment.py
  docs/plan/cross_provider_routing_plan.md
Due: backend-mypy

feat(scripts): add re-embedding script with transaction safety (§28 P4.6)
  backend/app/services/job_embedding_generator.py
  backend/app/services/persona_embedding_generator.py
  backend/scripts/reembed_all.py
  backend/tests/unit/test_reembed_script.py
Due: backend-mypy

chore: Phase 4 quality gate — all tests pass, plan complete (§28 P4.7)
  backend/scripts/reembed_all.py
  docs/plan/cross_provider_routing_plan.md
Due: none

docs(plan): add test audit plan + isinstance triage results (§1.1)
  docs/plan/backend_test_audit_plan.md
Due: none

docs: §1.2 complete — len() triage (139/139 LEGITIMATE, 0 antipatterns)
  docs/plan/backend_test_audit_plan.md
Due: none

docs: §1.3 complete — constant assertion triage (15 ANTIPATTERN, 1 LEGITIMATE)
  docs/plan/backend_test_audit_plan.md
Due: none

docs: §1.4 complete — Phase 1 triage report compiled
  docs/plan/backend_test_audit_plan.md
Due: none

refactor(tests): remove 40 redundant isinstance assertions (§2.1a)
  backend/tests/unit/test_agent_handoff.py
  backend/tests/unit/test_api_filtering.py
  backend/tests/unit/test_application_workflow.py
  backend/tests/unit/test_content_utils.py
  backend/tests/unit/test_cover_letter_pdf_generation.py
  backend/tests/unit/test_cover_letter_pdf_storage.py
  backend/tests/unit/test_cover_letter_validation.py
  backend/tests/unit/test_embedding_cost.py
  backend/tests/unit/test_explanation_generation.py
  backend/tests/unit/test_ghostwriter_prompts.py
  backend/tests/unit/test_oauth_helpers.py
  backend/tests/unit/test_pdf_generation.py
  backend/tests/unit/test_pool_surfacing_service.py
  backend/tests/unit/test_retention_cleanup.py
  backend/tests/unit/test_source_adapters.py
  docs/plan/backend_test_audit_plan.md
Due: none

test: remove 19 REDUNDANT isinstance assertions (§2.1b batch 2)
  backend/tests/unit/test_agent_message.py
  backend/tests/unit/test_api_errors.py
  backend/tests/unit/test_base_resume_selection.py
  backend/tests/unit/test_batch_scoring.py
  backend/tests/unit/test_bullet_reordering.py
  backend/tests/unit/test_claude_adapter.py
  backend/tests/unit/test_cover_letter_output.py
  backend/tests/unit/test_ghost_detection.py
  backend/tests/unit/test_job_deduplication.py
  backend/tests/unit/test_job_posting_schemas.py
  backend/tests/unit/test_job_status_transitions.py
  backend/tests/unit/test_openai_embedding_adapter.py
  backend/tests/unit/test_persona_sync.py
  backend/tests/unit/test_source_selection.py
  docs/plan/backend_test_audit_plan.md
Due: none

test: rewrite 4 ANTIPATTERN isinstance tests to behavioral assertions (§2.2)
  backend/tests/unit/test_explanation_generation.py
  backend/tests/unit/test_pool_surfacing_service.py
  docs/plan/backend_test_audit_plan.md
Due: none

test: delete 6 ANTIPATTERN constant tests that duplicate source-code literals (§28 §2.3)
  backend/tests/unit/test_agent_handoff.py
  backend/tests/unit/test_agent_message.py
  backend/tests/unit/test_api_chat.py
  backend/tests/unit/test_executive_role_edge_cases.py
  backend/tests/unit/test_source_selection.py
  docs/plan/backend_test_audit_plan.md
Due: none

feat(conftest): narrow AST scanner to assert-context + add isinstance-only detection (§28 §3.1+§3.2)
  backend/tests/conftest.py
  docs/plan/backend_test_audit_plan.md
Due: none

chore: Phase 4 quality gate — all tests pass, plan complete (§28 P4)
  CLAUDE.md
  docs/plan/backend_test_audit_plan.md
Due: none

test: delete 25 delegation-only tests from test_agent_client.py (§29 §1.1)
  backend/tests/unit/test_agent_client.py
  docs/plan/backend_test_deep_audit_plan.md
Due: none

test: delete 6 frozen/tautological weight tests (§29 §1.2)
  backend/tests/unit/test_fit_score_weights.py
  backend/tests/unit/test_stretch_score_weights.py
  docs/plan/backend_test_deep_audit_plan.md
Due: none

test: consolidate provider name tests into parametrized test (§29 §1.3)
  backend/tests/unit/test_gemini_embedding_adapter.py
  backend/tests/unit/test_provider_name.py
  docs/plan/backend_test_deep_audit_plan.md
Due: none

test: delete 8 constructor mirror tests from test_admin_config_models.py (§29 §1.4)
  backend/tests/unit/test_admin_config_models.py
  docs/plan/backend_test_deep_audit_plan.md
Due: none

test: delete 2 mirror tests from test_api_pagination.py (§29 §1.5)
  backend/tests/unit/test_api_pagination.py
  docs/plan/backend_test_deep_audit_plan.md
Due: none

chore: Phase 1 quality gate — 4,565/4,565 tests pass (§29 §1.6)
  docs/plan/backend_test_deep_audit_plan.md
Due: none

docs(plan): complete Tier 2 deep analysis — Appendices A-D + synthesis report
  docs/plan/backend_test_deep_audit_plan.md
Due: none

test: delete 11 bloat tests, refactor 2 caplog→no-raise
  backend/tests/unit/test_cover_letter_generation.py
  backend/tests/unit/test_cover_letter_validation.py
  backend/tests/unit/test_metered_provider.py
  backend/tests/unit/test_metering_service.py
  backend/tests/unit/test_modification_limits.py
  backend/tests/unit/test_resume_parsing_service.py
Due: none

test: delete 40 bloat tests, consolidate 16 into parametrized
  backend/tests/unit/test_admin_config_models.py
  backend/tests/unit/test_claude_adapter.py
  backend/tests/unit/test_core_config.py
  backend/tests/unit/test_fit_score_interpretation.py
  backend/tests/unit/test_gemini_adapter.py
  backend/tests/unit/test_job_posting_repository.py
  backend/tests/unit/test_openai_adapter.py
  backend/tests/unit/test_persona_job_repository.py
  backend/tests/unit/test_provider_config.py
Due: none

test: remove 27 bloat tests (Pydantic echoes, is-not-None, TimestampMixin, field existence)
  backend/tests/unit/test_api_errors.py
  backend/tests/unit/test_api_filtering.py
  backend/tests/unit/test_api_responses.py
  backend/tests/unit/test_generation_outcome.py
  backend/tests/unit/test_openai_embedding_adapter.py
  backend/tests/unit/test_provider_factory.py
  backend/tests/unit/test_usage_repository.py
  backend/tests/unit/test_user_repository.py
Due: none

docs(plan): add comprehensive test suite audit plan (10 phases, 176 files)
  docs/plan/test_suite_comprehensive_audit_plan.md
Due: none

test: audit scoring §2 — remove 16 bloat tests from fit aggregation + experience level
  backend/tests/unit/test_experience_level.py
  backend/tests/unit/test_fit_score_aggregation.py
  docs/plan/test_suite_comprehensive_audit_plan.md
Due: none

Path conditions:
  backend-mypy: any of: ^backend/app/
  frontend-eslint: any of: ^frontend/
  frontend-prettier: any of: ^frontend/
  frontend-typecheck: any of: ^frontend/
  frontend-vitest: any of: ^frontend/
