Repository ApexAZ/zentropy_scout: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-mypy, frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
#
# Install hooks: pre-commit install --hook-type pre-commit --hook-type pre-push
# Run manually: pre-commit run --all-files
# Skip (emergency): git commit --no-verify -m "message"
#
# Hook stages:
# - commit: Fast checks (linting, formatting) - runs on every commit
# - push: Full test suite - runs before pushing to remote

repos:
  # Ruff - fast Python linter and formatter (runs on COMMIT)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-check
        args: [--fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Standard pre-commit hooks (runs on COMMIT)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: detect-private-key

  # Bandit - Python security linter (runs on COMMIT)
  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.3
    hooks:
      - id: bandit
        args: ["-c", "backend/pyproject.toml", "-r"]
        files: ^backend/app/
        exclude: ^backend/tests/

  # Gitleaks - Secret detection (runs on COMMIT)
  # Uses locally installed gitleaks binary to avoid building from Go source
  - repo: local
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets
        entry: gitleaks git --pre-commit --redact --staged
        language: system
        pass_filenames: false

  # Mypy - Python type checking (runs on COMMIT)
  - repo: local
    hooks:
      - id: backend-mypy
        name: mypy (backend)
        entry: bash -c 'cd backend && .venv/bin/python -m mypy app/ --ignore-missing-imports --warn-unused-ignores'
        language: system
        pass_filenames: false
        files: ^backend/app/

  # Frontend ESLint - TypeScript/React linter (runs on COMMIT)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: ESLint (frontend)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        pass_filenames: false
        files: ^frontend/

  # Frontend Prettier - format check (runs on COMMIT)
  - repo: local
    hooks:
      - id: frontend-prettier
        name: Prettier (frontend)
        entry: bash -c 'cd frontend && npm run format:check'
        language: system
        pass_filenames: false
        files: ^frontend/

  # Frontend TypeScript - type check (runs on COMMIT)
  - repo: local
    hooks:
      - id: frontend-typecheck
        name: TypeScript (frontend)
        entry: bash -c 'cd frontend && npm run typecheck'
        language: system
        pass_filenames: false
        files: ^frontend/

  # Pytest - full backend test suite (runs on PUSH only)
  # always_run: backend is core logic, run tests on every push regardless of changed files
  - repo: local
    hooks:
      - id: pytest
        name: pytest (full suite)
        entry: bash -c 'cd backend && .venv/bin/python -m pytest tests/ -v --tb=short'
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

  # Frontend Vitest - full frontend test suite (runs on PUSH only)
  - repo: local
    hooks:
      - id: frontend-vitest
        name: Vitest (frontend)
        entry: bash -c 'cd frontend && npm run test:run'
        language: system
        pass_filenames: false
        files: ^frontend/
        stages: [pre-push]

# Summary:
# ON COMMIT: ruff lint/format, bandit security scan, gitleaks secret detection,
#            mypy type check, ESLint, Prettier format check, TypeScript type check (fast)
# ON PUSH: Full pytest + Vitest suites (comprehensive - all tests must pass)

fix(editor): add URL protocol validation to link toolbar and TipTap config
  frontend/src/components/editor/editor-toolbar.tsx
  frontend/src/components/editor/resume-editor.test.tsx
  frontend/src/components/editor/resume-editor.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

feat(editor): add EditorStatusBar and useAutoSave hook
  docs/plan/tiptap_editor_plan.md
  frontend/src/components/editor/editor-status-bar.test.tsx
  frontend/src/components/editor/editor-status-bar.tsx
  frontend/src/hooks/use-auto-save.test.ts
  frontend/src/hooks/use-auto-save.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

chore: suppress SonarCloud S5332 false positive on OOXML namespace URI
  backend/app/services/markdown_docx_renderer.py
Due: backend-mypy

fix(editor): resolve SonarCloud S1874 and S6819 in editor-toolbar
  frontend/src/components/editor/editor-toolbar.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

feat(resume): add toggle view (Preview/Edit) to resume detail page
  frontend/src/components/resume/resume-content-view.tsx
  frontend/src/components/resume/resume-detail.test.tsx
  frontend/src/components/resume/resume-detail.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(plan): mark §17 complete — resume detail toggle view
  docs/plan/tiptap_editor_plan.md
Due: none

fix(resume): address §17 review findings — tests and no-content icon
  frontend/src/components/resume/resume-content-view.test.tsx
  frontend/src/components/resume/resume-content-view.tsx
  frontend/src/components/resume/resume-detail.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

refactor(resume): extract useResumeDetail hook, fix hover tokens
  frontend/src/components/chat/chat-confirm-card.tsx
  frontend/src/components/chat/chat-input.tsx
  frontend/src/components/chat/chat-message-list.tsx
  frontend/src/components/resume/resume-detail.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/hooks/use-resume-detail.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

feat(editor): add persona reference panel for resume editing
  docs/plan/tiptap_editor_plan.md
  frontend/src/components/editor/persona-reference-panel.test.tsx
  frontend/src/components/editor/persona-reference-panel.tsx
  frontend/src/components/resume/resume-content-view.test.tsx
  frontend/src/components/resume/resume-content-view.tsx
  frontend/src/components/resume/resume-detail.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

fix(editor): address §18 review findings — UI, security, tests
  frontend/src/components/editor/persona-reference-panel.tsx
  frontend/src/components/resume/resume-content-view.test.tsx
  frontend/src/components/resume/resume-content-view.tsx
  frontend/src/components/resume/resume-detail.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

fix(e2e): override auth/me mock in unauthenticated landing tests
  frontend/tests/e2e/landing.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(plan): mark §19 Phase 6 Gate complete — all tests green
  docs/plan/tiptap_editor_plan.md
Due: none

fix(frontend): resolve 3 SonarCloud code quality findings
  frontend/src/components/editor/editor-toolbar.tsx
  frontend/src/hooks/use-resume-detail.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

feat(resume): add template picker and creation method choice to wizard
  docs/plan/tiptap_editor_plan.md
  frontend/src/components/editor/template-picker.test.tsx
  frontend/src/components/editor/template-picker.tsx
  frontend/src/components/resume/creation-method-buttons.tsx
  frontend/src/components/resume/new-resume-wizard.test.tsx
  frontend/src/components/resume/new-resume-wizard.tsx
  frontend/src/lib/query-keys.ts
  frontend/src/types/resume.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

fix(workflow): require foreground agents, gitignore .hypothesis
  .claude/skills/zentropy-planner/SKILL.md
  .gitignore
  CLAUDE.md
Due: none

feat(resume): add generation options panel and wire creation flow (§21)
  docs/plan/tiptap_editor_plan.md
  frontend/src/app/(main)/resumes/[id]/page.test.tsx
  frontend/src/app/(main)/resumes/[id]/page.tsx
  frontend/src/components/editor/generation-options-panel.test.tsx
  frontend/src/components/editor/generation-options-panel.tsx
  frontend/src/components/resume/export-buttons.tsx
  frontend/src/components/resume/resume-content-view.test.tsx
  frontend/src/components/resume/resume-content-view.tsx
  frontend/src/components/resume/resume-detail.test.tsx
  frontend/src/components/resume/resume-detail.tsx
  frontend/src/hooks/use-resume-detail.ts
  frontend/src/types/resume-generation.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

fix(e2e): update resume E2E tests for wizard + UUID validation changes (§22)
  frontend/tests/e2e/resume.spec.ts
  frontend/tests/fixtures/resume-mock-data.ts
  frontend/tests/utils/resume-api-mocks.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(plan): mark §22 Phase 7 Gate complete — all tests green
  docs/plan/tiptap_editor_plan.md
Due: none

fix(deps): bump express-rate-limit 8.2.1→8.3.0 (GHSA-46wh-pxpv-q5gq)
  frontend/package-lock.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

feat(variants): add create-for-job endpoint with manual + AI tailoring (§23)
  backend/app/api/v1/job_variants.py
  backend/app/prompts/ghostwriter.py
  backend/app/services/resume_tailoring_service.py
  backend/tests/unit/test_api_variant_for_job.py
  backend/tests/unit/test_ghostwriter_prompts.py
Due: backend-mypy

docs(plan): mark §23 complete
  docs/plan/tiptap_editor_plan.md
Due: none

fix(a11y): replace ARIA roles with semantic HTML (SonarCloud S6819)
  frontend/src/components/editor/generation-options-panel.tsx
  frontend/src/components/editor/template-picker.test.tsx
  frontend/src/components/editor/template-picker.tsx
  frontend/src/components/resume/new-resume-wizard.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

feat(variants): add variant creation UI, job requirements panel & edit page (§24)
  frontend/src/app/(main)/jobs/[id]/page.test.tsx
  frontend/src/app/(main)/jobs/[id]/page.tsx
  frontend/src/app/(main)/resumes/[id]/variants/[variantId]/edit/page.test.tsx
  frontend/src/app/(main)/resumes/[id]/variants/[variantId]/edit/page.tsx
  frontend/src/components/editor/job-requirements-panel.test.tsx
  frontend/src/components/editor/job-requirements-panel.tsx
  frontend/src/components/jobs/create-variant-card.test.tsx
  frontend/src/components/jobs/create-variant-card.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs(plan): mark §24 complete
  docs/plan/tiptap_editor_plan.md
Due: none

docs(plan): mark §25 Phase 8 Gate complete
  docs/plan/tiptap_editor_plan.md
Due: none

feat(diff): add word-level DiffView component (§26)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/editor/diff-view.test.tsx
  frontend/src/components/editor/diff-view.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

fix(security): eliminate ReDoS in resume tailoring regex (S5852)
  backend/app/services/resume_tailoring_service.py
Due: backend-mypy

feat(variants): add DiffView, approval dialog, status badge & exports (§27)
  docs/plan/tiptap_editor_plan.md
  frontend/src/components/resume/diff-text.tsx
  frontend/src/components/resume/export-buttons.tsx
  frontend/src/components/resume/guardrail-violation-banner.tsx
  frontend/src/components/resume/resume-content-view.tsx
  frontend/src/components/resume/variant-review.test.tsx
  frontend/src/components/resume/variant-review.tsx
  frontend/tests/e2e/variant-review.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

refactor(workflow): move security triage from session hook to plan phase
  .claude/agents/security-triage.md
  .claude/settings.json
  .claude/skills/zentropy-planner/SKILL.md
  CLAUDE.md
Due: none

docs(plan): mark TipTap editor plan complete (§28 Phase 9 Gate)
  CLAUDE.md
  docs/plan/tiptap_editor_plan.md
Due: none

fix(diff): use semantic section elements and stable React keys (S6819, S6479)
  frontend/src/components/editor/diff-view.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-vitest

docs: add REQ-028 cross-provider routing spec and implementation plan
  docs/plan/cross_provider_routing_plan.md
  docs/requirements/REQ-028_cross_provider_routing.md
Due: none

feat(providers): add get_llm_registry() for cross-provider dispatch
  backend/app/providers/__init__.py
  backend/app/providers/factory.py
  backend/tests/unit/test_provider_factory.py
  docs/plan/cross_provider_routing_plan.md
Due: backend-mypy

feat(admin): add get_routing_for_task() for cross-provider lookup
  backend/app/services/admin_config_service.py
  backend/tests/unit/test_admin_config_service.py
  docs/plan/cross_provider_routing_plan.md
Due: backend-mypy

fix: address code/security review findings for Phase 1.2-1.3
  backend/app/providers/factory.py
  backend/tests/unit/test_provider_factory.py
  docs/plan/cross_provider_routing_plan.md
Due: backend-mypy

chore: archive completed plans (landing page, TipTap editor)
  docs/plan/Archive/req024_landing_page_plan.md
  docs/plan/Archive/tiptap_editor_plan.md
Due: none

feat(providers): cross-provider dispatch in MeteredLLMProvider (§28 P1.4-1.5)
  backend/app/api/deps.py
  backend/app/providers/metered_provider.py
  backend/tests/unit/test_metered_provider.py
Due: backend-mypy

fix: extract duplicated string literals in test_metered_provider (S1192)
  backend/tests/unit/test_metered_provider.py
Due: none

docs(plan): add workflow tables, status lines, and hint tags per planner skill
  docs/plan/cross_provider_routing_plan.md
Due: none

feat(admin): add routing test endpoint POST /admin/routing/test (§28 P1.6)
  backend/app/api/deps.py
  backend/app/api/v1/admin.py
  backend/app/core/errors.py
  backend/app/schemas/admin.py
  backend/tests/unit/test_admin_routing_test.py
  docs/plan/cross_provider_routing_plan.md
Due: backend-mypy
